{{#corrector_comment}}
    <div class="cw-testblock-corrector-comment">
        <h4>
            {{#i18n}}Anmerkungen zur Lösung{{/i18n}}:
        </h4>
        {{{corrector_comment}}}
    </div>
{{/corrector_comment}}