<div>
  {{#tb_exercise}}
    <textarea cols="60" rows="20" name="answer_0"></textarea>
  {{/tb_exercise}}
  {{^tb_exercise}}
    <input type="text" size="40" name="answer_0">
  {{/tb_exercise}}
</div>
