<ul>
  {{#answers}}
    <li>
      <input type="checkbox" name="{{name}}" value="1" id="exercise_{{exercise_index}}_answer_{{index}}">
      <label for="exercise_{{exercise_index}}_answer_{{index}}">
        {{{text}}}
      </label>
    </li>
  {{/answers}}
</ul>
