<form class="studip_form">
    <input type="hidden" name="action" value="sheets">
    <input type="hidden" name="subaction" value="submit_exercise">
    <input type="hidden" name="submit_exercise" value="1">
    <input type="hidden" name="exercise_type" value="{{exercise_type}}">
    <input type="hidden" name="exercise_id" value="{{id}}">
    <input type="hidden" name="assignment_id" value="{{test_id}}">
    <input type="hidden" name="number_of_answers" value="{{number_of_answers}}">
    <input type="hidden" name="solver_user_id" value="{{solver_user_id}}">
    <input type="hidden" name="exercise_index" value="{{exercise_index}}">
    {{#file_upload}}
        <div class="messagebox messagebox_info">{{#i18n}}Das hochladen einer Datei zu dieser Frage ist in Courseware nicht möglich.{{/i18n}}</div>
    {{/file_upload}}
    <fieldset>
        <legend>{{ title }}</legend>
        <legend>{{question_description}}</legend>
        {{{question}}}
    </fieldset>
    <div class="cw-test-buttons-wrapper">
    {{#character_picker}}
            <button class="open_character_picker button">Zeichenwähler öffnen</button>
            <div id="character_picker"></div>
    {{/character_picker}}
    <button name="submit-exercise" class="button" style="display: inline-block">{{#i18n}}Abschicken{{/i18n}}</button>
    </div>
</form>
