<form>
  <input type="hidden" name="exercise_id" value="{{id}}">
  <input type="hidden" name="exercise_index" value="{{exercise_index}}">

  <button name="reset-exercise" class="button">{{#i18n}}Antwort zurücksetzen{{/i18n}}</button>
</form>
