<form>
  <input type="hidden" name="test_id" value="{{test_id}}">
  <input type="hidden" name="exercise_id" value="{{id}}">
  <input type="hidden" name="exercise_index" value="{{exercise_index}}">

  <button name="reset-exercise" class="button">Antwort zurücksetzen</button>
</form>
