<form class="studip_form">
    <fieldset>
        <legend class="question_title">{{ title }}</legend>
        <div class="question_description">{{{question_description}}}</div>
        {{{solution}}}
    </fieldset>
</form>
