<label for="test_{{ id }}_id">
  Test ID:
</label>

<input type="text" id="test_{{ id }}_id" name="content" value="{{fields.test_id}}">

<button name=save class=button>Speichern</button>
<button name=cancel class=button>Abbrechen</button>
