<p class="question">{{ question }}</p>

<ul>
{{#answers}}
    <li>
      <input type="radio" name="answer" value="{{index}}" id="answer_{{index}}">
      <label for="answer_{{index}}">
        {{ text }}
      </label>
    </li>
{{/answers}}
</ul>
