{{#vips}}
    <i>{{type}}</i>
    <p class="TestBlock-preview-name">{{name}}</p>
{{/vips}}
{{^vips}}
    <div class="messagebox messagebox_error">{{#i18n}}Vips ist nicht aktiviert{{/i18n}}.</div>
{{/vips}}
