<h2>{{title}}</h2>

{{#exercises}}
  <ul class="exercise">
    <li>
      {{#cloze_answers}}
        {{^has_solution}}
          {{> _cloze_question}}
        {{/has_solution}}
      {{/cloze_answers}}

      {{^cloze_answers}}
        {{> _question}}
      {{/cloze_answers}}

      {{#has_solution}}
        {{#free_text_answers}}
          {{> _free_text_solution}}
        {{/free_text_answers}}

        {{^free_text_answers}}
          {{#matching_exercise_answers}}
            {{> _matching_exercise_answers}}
          {{/matching_exercise_answers}}
          {{^matching_exercise_answers}}
            {{> _solution.mustache}}
          {{/matching_exercise_answers}}
        {{/free_text_answers}}

        {{#cloze_answers}}
          {{> _cloze_solution}}
        {{/cloze_answers}}
      {{/has_solution}}

      {{^has_solution}}
        {{> _exercise_form_begin}}

        {{#single_choice_answers}}
          {{> _single_choice_answers}}
        {{/single_choice_answers}}

        {{#multiple_choice_answers}}
          {{> _multiple_choice_answers}}
        {{/multiple_choice_answers}}

        {{#free_text_answers}}
          {{> _free_text_answers}}
        {{/free_text_answers}}

        {{#matching_exercise_answers}}
          {{> _matching_exercise_answers}}
        {{/matching_exercise_answers}}

        {{> _exercise_form_end}}
      {{/has_solution}}
    </li>
  </ul>
{{/exercises}}

{{^exercises}}
  Keine Aufgaben.
{{/exercises}}
