{{#active}}
  
  <h2 class="testblock-header">{{title}}</h2>
  
  {{#description}}
    <div class="description">{{{description}}}</div>
  {{/description}}
  
  {{#available}}
    <div class="messagebox messagebox_info">
        Dieser Test ist zurzeit nicht verfügbar.
    </div>
  {{/available}}

  {{#exercises}}
    {{^skip_entry}}
      <ul class="exercise" id="exercise{{exercise_index}}">
        <li>
          <div class="exercisetitle">
              <button name="exercisenav" class="exercisenavbutton exercisenavback" button-data='{"id":"{{exercise_index}}", "numexes": "{{number_of_exercises}}", "direction": "back" }'></button>
              {{#i18n}}Frage{{/i18n}} {{exercise_index}} / {{number_of_exercises}}
              <button name="exercisenav" class="exercisenavbutton exercisenavnext" button-data='{"id":"{{exercise_index}}", "numexes": "{{number_of_exercises}}" , "direction": "next"}'></button>
          </div>
          
            {{#has_solution}}
              {{#tryagain}}
                <div class="messagebox messagebox_error">
                    {{#i18n}}Ihr Lösungsversuch war noch nicht korrekt. Versuchen Sie es bitte nochmal.{{/i18n}}
                </div>
              {{/tryagain}}
              {{#correct}}
                <div class="messagebox messagebox_success">
                    {{#i18n}}Ihre Lösung ist korrekt!{{/i18n}}
                </div>
              {{/correct}}
              
              {{^tryagain}}{{^correct}}
                <div class="messagebox messagebox_info answerinfo">
                    {{#i18n}}Für diese Frage haben Sie bereits eine Antwort abgegeben.{{/i18n}}
                </div>
              {{/correct}}{{/tryagain}}
            {{/has_solution}}
            {{^self_test}}
              <div class="messagebox messagebox_info submitinfo" style="display: none;">
                {{#i18n}}Ihre Lösung wurde eingetragen.{{/i18n}}
              </div>
            {{/self_test}}
            {{#solved_completely}}
              <div class="messagebox messagebox_success">
                  {{#i18n}}Danke! Sie haben alle Aufgaben gelöst und können nun mit dem nächsten Abschnitt fortfahren.{{/i18n}}
              </div>
            {{/solved_completely}}
          
          <div class="exercise-content">
          <h3 class="exercise-title" >{{ title }}</h3>
          {{^cloze_answers}}
            {{^free_text_answers}}
              {{> _question}}
            {{/free_text_answers}}
          {{/cloze_answers}}

          {{#show_solution}}
            {{#free_text_answers}}
              {{> _free_text_solution}}
            {{/free_text_answers}}

            {{^free_text_answers}}
              {{#matching_exercise_answers}}
                {{> _matching_exercise_answers}}
              {{/matching_exercise_answers}}
              {{^matching_exercise_answers}}
                {{> _solution.mustache}}
              {{/matching_exercise_answers}}
            {{/free_text_answers}}

            {{#cloze_answers}}
              {{> _cloze_solution}}
            {{/cloze_answers}}

            {{#self_test}}
              {{> _reset_exercise}}
            {{/self_test}}
          {{/show_solution}}

          {{^show_solution}}
            {{> _exercise_form_begin}}

            {{#cloze_answers}}
              {{> _vips_question}}
            {{/cloze_answers}}

            {{#single_choice_answers}}
              {{> _single_choice_answers}}
            {{/single_choice_answers}}

            {{#multiple_choice_answers}}
              {{> _multiple_choice_answers}}
            {{/multiple_choice_answers}}

            {{#free_text_answers}}
              {{> _vips_question}}
            {{/free_text_answers}}

            {{#matching_exercise_answers}}
              {{> _matching_exercise_answers}}
            {{/matching_exercise_answers}}

            {{> _exercise_form_end}}
          {{/show_solution}}
          </div>
        </li>
      </ul>
      {{/skip_entry}}
     
  {{/exercises}}
  
  {{^exercises}}
    {{#typemismatch}}
        <div class="messagebox messagebox_error">
            {{#i18n}}Der Aufgabentyp hat sich geändert. Bitte wenden Sie sich an Ihren Dozenten.{{/i18n}}
        </div>
    {{/typemismatch}}
    {{^typemismatch}}
        <div class="messagebox messagebox_info">
            {{#i18n}}Keine Aufgaben.{{/i18n}}
        </div>
    {{/typemismatch}}
  {{/exercises}}
{{/active}}

{{^active}}
  {{> _vips_deactivated}}
{{/active}}
