<input type="hidden" class="cw-link-stored-type" value="{{link_type}}">
<input type="hidden" class="cw-link-stored-target" value="{{link_target}}">
<input type="hidden" class="cw-link-stored-title" value="{{link_title}}">

<label for="cw-link-type">{{#i18n}}Art des Links{{/i18n}}:</label>
<select name="cw-link-type" class="cw-link-type">
    {{#hasinternal}}<option value="internal">interner Link</option>{{/hasinternal}}
    <option value="external">externer Link</option>
</select>
<br>

<label for="cw-link-target">{{#i18n}}Ziel des Links{{/i18n}}:</label>
<select name="cw-link-target" class="cw-link-target">
    <optgroup label="Schnellauswahl">
        {{#hasnext}}
            <option value="next">weiter</option>
        {{/hasnext}}
        {{#hasprev}}
            <option value="prev">zur&uuml;ck</option>
        {{/hasprev}}
    </optgroup>
    <optgroup label="in diesem Kapitel">
        {{#inthischapter}}
            <option value="{{value}}">{{title}}</option>
        {{/inthischapter}}
    </optgroup>
    <optgroup label="in anderen Kapiteln">
        {{#inotherchapters}}
            <option value="{{value}}">{{title}}</option>
        {{/inotherchapters}}
    </optgroup>
</select>
<select name="cw-link-protocol" class="cw-link-protocol">
    <option value="http://">http://</option>
    <option value="https://">https://</option>
</select>
<input name="cw-link-target" class="cw-link-target" type="text" placeholder="www.studip.de">
<br>

<label for="cw-link-title">{{#i18n}}Bezeichung des Links{{/i18n}}:</label>
<input type="text" name="cw-link-title" class="cw-link-title" spellcheck="true">

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
