@import '../../../assets/less/variables';
@import '../../../assets/less/mixins';
@import '../../../node_modules/slick-carousel/slick/slick.less';

.slick-arrow {
    color: transparent;
    width: 35px;
    height: 35px;
    background-color: rgba(255,255,255,0.6);
    background-size: 20px;
    background-size: 24px;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    position: absolute;
    top: 0%;
    display: block;
    z-index: 42;
    padding: 0;
    cursor: pointer;
    &:hover{
        background-color: #28497c;
    }
}

.slick-prev.slick-arrow {
    .assets-bg-icon("blue/arr_1left.svg");
    &:hover{
        .assets-bg-icon("white/arr_1left.svg");
    }
}

.slick-next.slick-arrow {
    .assets-bg-icon("blue/arr_1right.svg");
    right: 0;
    &:hover{
        .assets-bg-icon("white/arr_1right.svg");
    }
}

.slick-list.draggable {
    margin: 0 auto 50px;
    max-width: 100%;
    .slick-slide img {
        max-width: 100%;
    }
}

.cw-gallery {
    img {
        margin: auto;
    }
}
