<div class="cw-search-author-view">
    <div class="cw-search-description">
        <p>
            {{#i18n}}Dieser Block ermöglicht das Suchen innerhalb der Courseware dieser Veranstaltung.{{/i18n}}
        </p>
    </div>
    <div class="cw-search-data">
        <ul>
            <li><label>{{#i18n}}Überschrift{{/i18n}}:</label><input class="cw-search-input-title" type="text" value="{{searchtitle}}" placeholder="{{#i18n}}Suche{{/i18n}}"></li>
        </ul>
    </div>
    <button name=save class=button>{{#i18n}}Speichern{{/i18n}}</button>
    <button name=cancel class=button>{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
