<table cellspacing="4" style="border: 2px solid #ccc">
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Titel{{/i18n}}</td>
    <td>{{searchtitle}}{{^searchtitle}}–{{/searchtitle}}</td>
  </tr>
</table>
<h6>{{#i18n}}Such-Block{{/i18n}}</h6>
