.btn-base {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.btn-base:hover {
  cursor: pointer;
}
.content memucho {
  border: none;
}
.memucho-author-view {
  margin: 0 1em;
}
.memucho-description {
  background: #eee;
  margin: 1em 0;
  background-image: url("../../../../assets/images/icons/32/blue/info-circle.png");
  background-repeat: no-repeat;
  background-position: 26px center;
  padding-left: 64px;
}
.memucho-description p {
  padding: 20px;
  line-height: 1.3em;
}
.memucho-data li {
  list-style: none;
  margin-left: -2.5em;
  padding-bottom: 0.8em;
}
.memucho-data label {
  display: inline-block;
  width: 12em;
  text-align: left;
}
.memucho-data input[type="text"] {
  width: 42em !important;
}
.memucho-data input.readonly {
  border: none !important;
  color: #333;
}
.memucho-submit-user {
  display: none;
}
