<input type="hidden" class="cw-embedblock-source-stored" value="{{embed_source}}">
<input type="hidden" class="cw-embedblock-time-stored" value="{{embed_time}}">
<div class="cw-embedblock-about">
    {{#i18n}}Mit diesem Block können Sie Inhalte wie Videos, Bilder, Audiodateien etc. von diversen Plattformen in Courseware anzeigen lassen. Auf der Seite der Plattform können Sie die URL direkt aus der Adressleiste Ihres Browsers kopieren. Die Verwendung eines Embed-Codes ist nicht notwendig.{{/i18n}}
</div>
<label for="cw-embedblock-source">{{#i18n}}Plattform{{/i18n}}:</label>
<select class="cw-embedblock-source" name="cw-embedblock-source">
    {{#embed_sources}}
        <option value="{{name}}">{{fullname}}</option>
    {{/embed_sources}}
</select>
<label>{{#i18n}}Link zur Plattform{{/i18n}}:</label>
<ul class="cw-embedblock-link">
    {{#embed_sources}}
        <li value="{{name}}"><a href="{{url}}" target="_blank">{{fullname}}</a></li>
    {{/embed_sources}}
</ul>
<br><br>
<label for="cw-embedblock-url">{{#i18n}}URL{{/i18n}}:</label>
<input type="text" name="cw-embedblock-url" class="cw-embedblock-url" value="{{embed_url}}">
<button class="cw-embedblock-url-info-wrong-plattform cw-exclaim" data-title="{{#i18n}}Die angegebene URL scheint nicht zu der gewählten Plattform zu gehören. Bitte überprüfen Sie Ihre Eingabe.{{/i18n}}"></button>
<br><br>
<div class="cw-embedblock-time">
    <label for="cw-embedblock-time-start-check">Startpunkt wählen:</label>
    <input type="checkbox" class="cw-embedblock-time-start-check" name="cw-embedblock-time-start-check">
    <br>
    <label for="cw-embedblock-time-start">Start:</label>
    <input type="number" name="cw-embedblock-time-start-min" class="cw-embedblock-time-start cw-embedblock-time-start-min" min=0 step=1 value=0  disabled>:
    <input type="number" name="cw-embedblock-time-start-sec" class="cw-embedblock-time-start cw-embedblock-time-start-sec" min=0 step=1 value=0  disabled>
    <br>
    <label for="cw-embedblock-time-end-check">Endpunkt wählen:</label>
    <input type="checkbox" class="cw-embedblock-time-end-check" name="cw-embedblock-time-end-check" disabled>
    <br>
    <label for="cw-embedblock-time-end">Ende:</label>
    <input type="number" name="cw-embedblock-time-end-min" class="cw-embedblock-time-end cw-embedblock-time-end-min" min=0 step=1 value=0  disabled>:
    <input type="number" name="cw-embedblock-time-end-sec" class="cw-embedblock-time-end cw-embedblock-time-end-sec" min=0 step=1 value=0  disabled>
    <button class="cw-embedblock-time-end-exclaim cw-exclaim" data-title="{{#i18n}}Es wird nur ein Endzeitpunkt gesetzt wenn der Endzeitpunkt größer als der Startzeitpunkt ist{{/i18n}}"></button>
</div>
<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
