<table cellspacing="4" style="border: 2px solid #ccc">
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Titel{{/i18n}}</td>
    <td>{{embed_title}}{{^embed_title}}–{{/embed_title}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}URL{{/i18n}}</td>
    <td>{{embed_url}}{{^embed_url}}–{{/embed_url}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Quelle{{/i18n}}</td>
    <td>{{embed_source}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Zeitangaben{{/i18n}}</td>
    <td>{{embed_time}}</td>
  </tr>
</table>
<h6>{{#i18n}}Embed-Block{{/i18n}}</h6>
