{{^inactive}}
    {{#embed_title}}
        <h1 class="cw-embedblock-title">{{embed_title}}</h1>
    {{/embed_title}}
    {{{html}}}
    {{#oembed}}
    <div class="cw-embedblock-info">
        <span class="cw-oembed-title">{{title}}</span>
        {{#author_name}}<span class="cw-embedblock-author-name">{{#i18n}}erstellt von{{/i18n}} {{author_name}}</span>{{/author_name}}
        <span class="cw-embedblock-source">{{#i18n}}veröffentlicht auf{{/i18n}} {{embed_source}}</span>
    </div>
    {{/oembed}}
    {{^oembed}}
        {{#isAuthor}}
            {{#unauthorized}}
                <div class="messagebox messagebox_error">
                    {{#i18n}}Der Zugriff auf diesen Inhalt wird vom Anbieter gesperrt{{/i18n}}
                </div>
            {{/unauthorized}}
            {{#not_found}}
                <div class="messagebox messagebox_error">
                    {{#i18n}}Der Inhalt konnte beim Anbieter nicht gefunden werden{{/i18n}}
                </div>
            {{/not_found}}
            {{#empty}}
                <div class="messagebox messagebox_info">
                    {{#i18n}}Es wurde noch kein Inhalt zum einbetten ausgewählt{{/i18n}}
                </div>
            {{/empty}}
        {{/isAuthor}}
    {{/oembed}}
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
