{{#active}}
  <h2>Diskussion</h2>

  <div class="blubber-stream loading"
    data-stream-url="{{stream_url}}"
    data-assets-base-url="{{assets_base_url}}">
    Diskussionen werden geladen...
  </div>
{{/active}}

{{^active}}
  {{> _blubber_deactivated}}
{{/active}}
