{{#active}}
  <h2>{{#i18n}}Diskussion{{/i18n}}</h2>

  <div class="blubber-stream loading"
    data-stream-url="{{stream_url}}"
    data-assets-base-url="{{assets_base_url}}">
    {{#i18n}}Diskussionen werden geladen...{{/i18n}}
  </div>
{{/active}}

{{^active}}
  {{> _blubber_deactivated}}
{{/active}}
