<li class="chapter {{#selected}}selected{{/selected}}">
  <span>{{title}}</span>
  {{#selected}}
    <ol class=subchapters>
      {{#subchapters}}
        {{> subchapter}}
      {{/subchapters}}
    </ol>
  {{/selected}}
</li>
