<li class="chapter{{#selected}} selected{{/selected}}{{#unpublished}} unpublished{{/unpublished}}"
  data-blockid="{{id}}"
  data-publication="{{publication_date}}"
  data-type=Chapter
  title="{{dom_title}}">

  <div class=title>
    <span class=handle>#</span>
    <a class="navigate"
      href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}">
        {{title}}
    </a>

    <span class=controls>
      <button class="edit" data-title="{{#i18n}}Kapiteltitel bearbeiten{{/i18n}}">{{#i18n}}Ändern{{/i18n}}</button>
      <button class="trash" data-title="{{#i18n}}Gesamtes Kapitel löschen{{/i18n}}">{{#i18n}}Entfernen{{/i18n}}</button>
    </span>
  </div>

  {{#selected}}
    <ol class=subchapters>

      {{#subchapters}}
        {{> subchapter}}
      {{/subchapters}}

      <li class=no-content>{{#i18n}}Keine Unterkapitel{{/i18n}}</li>
      <li class=controls>
        <button class=add-subchapter>{{#i18n}}Unterkapitel einfügen{{/i18n}}</button>
        <button class=init-sort-subchapter>{{#i18n}}Unterkapitel sortieren{{/i18n}}</button>
        <button class=stop-sort-subchapter>{{#i18n}}Sortieren abschließen{{/i18n}}</button>
      </li>
      <div class="clear"></div>
    </ol>
  {{/selected}}
</li>
