<li class="chapter{{#selected}} selected{{/selected}}"
    data-blockid={{id}}>

  <div class=title>
    <a class="navigate"
      href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}">
        {{title}}
    </a>

    <span class=controls>
      <button class=trash>{{#i18n}}Entfernen{{/i18n}}</button>
      <button class=edit>{{#i18n}}Ändern{{/i18n}}</button>
    </span>
  </div>

  {{#selected}}
    <ol class=subchapters>

      {{#subchapters}}
        {{> subchapter}}
      {{/subchapters}}

      <li class=no-content>{{#i18n}}Keine Unterkapitel{{/i18n}}</li>
      <li class=controls>
        <button class=add-subchapter>{{#i18n}}Unterkapitel einfügen{{/i18n}}</button>
      </li>
    </ol>
  {{/selected}}
</li>
