<div class=controls>
  <a class="student">Studentenmodus</a>
  <a class="author">Autorenmodus</a>
		  <!-- 
		  	<?= Assets::img('icons/40/grey/doctoral_cap.png', array('title' => _("Autorenmodus"))) ?>
		  	<a class="student">zum Studentenmodus</a>
				<a class="author">zum Autorenmodus</a> 
		  -->
</div>
