<div class=controls>
  <button class="student" title="Studentenmodus">
    <img src="../../assets/images/icons/20/blue/headache.png"
         title="Studentenmodus"
         alt="Studentenmodus">
  </button>
  <button class="author" title="Autorenmodus">
    <img src="../../assets/images/icons/20/blue/doctoral_cap.png"
         title="Autorenmodus"
         alt="Autorenmodus">
  </button>
</div>
