<div class=controls>
  <a class="student"><img src="../../assets/images/icons/20/blue/headache.png" title="Studentenmodus" alt="Studentenmodus" /></a>
  <a class="author"><img src="../../assets/images/icons/20/blue/doctoral_cap.png" title="Autorenmodus" alt="Autorenmodus" /></a>
</div>
