<form>
  <input name=title value="{{title}}" required>
  {{#chapter}}
  <input type="date" name="publication_date" value="{{publication_date}}" placeholder="{{visible_since_title}}" title="{{visible_since_title}}">
  {{/chapter}}
  <button type="submit" class="ok">{{#i18n}}Ok{{/i18n}}</button>
  <button type="button" class="cancel">{{#i18n}}Abbrechen{{/i18n}}</button>
</form>
