<section class=active-section
    data-title="{{#i18n}}keine Abschnitte vorhanden{{/i18n}}"
    data-type="Section">
    <div class="title">
        <h1>{{#i18n}}keine Abschnitte vorhanden{{/i18n}}</h1>
    </div>
</section>