<li class="section{{#selected}} selected{{/selected}}"
    data-blockid={{id}}>

  <a class="navigate"
     href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}"
     title="{{title}}">
     &nbsp;&bull;&nbsp;
  </a>
</li>
