<li id=section-{{id}}
  {{#selected}} class="section selected"> {{/selected}}
  {{^selected}} class="section"> {{/selected}}

  <a href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}" title="{{title}}">
    [{{id}}]
  </a>
</li>
