<section id=courseware class=view-student>

  <h1> Courseware: {{courseware.title}} </h1>

  {{#user_may_edit}}
    {{> controls}}
  {{/user_may_edit}}

  <ol class=chapters>

    {{#chapters}}
      {{> chapter}}
    {{/chapters}}

    <li class=no-content>{{#i18n}}Keine Kapitel{{/i18n}}</li>
  </ol>

  <ol class=sections>

    {{#sections}}
      {{> section}}
    {{/sections}}

    <li class=no-content>{{#i18n}}Keine Sektionen{{/i18n}}</li>
  </ol>

  {{#active_section}}
    <section class=active-section data-id={{id}}>
      {{{html}}}
    </section>
  {{/active_section}}

</section>
