<li class="subchapter{{#selected}} selected{{/selected}}{{#unpublished}} unpublished{{/unpublished}}"
  data-blockid="{{id}}"
  data-title="{{title}}"
  data-publication="{{publication_date}}"
  data-type=Subchapter
  {{#dom_title}}title="{{#i18n}}Sichtbar ab:{{/i18n}} {{dom_title}}"{{/dom_title}}>

  {{> subchapter_title}}

</li>
