<li class="subchapter{{#selected}} selected{{/selected}}"
    data-blockid={{id}}>

  <div class=title>
    <a class="navigate"
      href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}">
        {{title}}
    </a>

    <span class=controls>
      <button class=edit>{{#i18n}}Ändern{{/i18n}}</button>
      <button class=trash>{{#i18n}}Entfernen{{/i18n}}</button>
    </span>
  </div>

  {{#selected}}
    <ol class=active-subchapter data-blockid={{active_subchapter}}>

      {{#sections}}
        {{> section}}
      {{/sections}}

        <li class=no-content>{{#i18n}}Keine Abschnitte{{/i18n}}</li>

        <li class=controls>
          <button class=add-section>{{#i18n}}Abschnitt einfügen{{/i18n}}</button>
          <button class=init-sort>{{#i18n}}Sortieren{{/i18n}}</button>
          <button class=stop-sort>{{#i18n}}Sortieren abschließen{{/i18n}}</button>
        </li>
        <div class="clear"></div>
    </ol>
  {{/selected}}

</li>
