<div class=title>
  <span class=handle>#</span>
  <a class="navigate"
    href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}">
      {{#titleize}}{{title}}{{/titleize}} {{#isSequential}}{{#complete}} <span class="complete" ></span> {{/complete}}{{/isSequential}}
  </a>
  <span class=controls>
    <button class="edit" data-title="{{#i18n}}Titel des Unterkapitels bearbeiten{{/i18n}}">{{#i18n}}Ändern{{/i18n}}</button>
      <button class="trash" data-title="{{#i18n}}Gesamtes Unterkapitel löschen{{/i18n}}">{{#i18n}}Entfernen{{/i18n}}</button>
  </span>
</div>
