.btn-base {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.btn-base:hover {
  cursor: pointer;
}
section.TestBlock ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section.TestBlock ul.exercise > li:after {
  content: '';
  display: block;
  clear: both;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
section.TestBlock ul.exercise button.button {
  display: block;
  clear: both;
  margin: 0.8em 0.6em 0.8em 0 !important;
}
section.TestBlock ul li.correct_answer span {
  border: 1px dashed green;
  padding: 0px 3px;
}
section.TestBlock ul.matching_exercise {
  padding-bottom: 10px;
  display: table-cell;
}
section.TestBlock ul.matching_exercise li {
  border-width: 1px;
  border-style: dotted;
  margin: 4px;
  padding: 1ex 1ex 1ex 2ex;
}
section.TestBlock ul.matching_exercise.labels li {
  border-color: transparent;
  margin-left: 0;
  padding-left: 0;
}
section.TestBlock ul.matching_exercise.answers li {
  border-color: #808080;
}
section.TestBlock ul.matching_exercise.answers.solution_answers li.correct_answer {
  border-color: green;
  border-style: solid;
}
section.TestBlock ul.matching_exercise.answers.exercise_answers li {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAYCAYAAAA20uedAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gcIChIQ+6DGYQAAAK1JREFUKM+F0kkKAjEURdFbDxQUwXYubsBut7UodaTuwabsQBAtcOD7ICnQTA43P4MQkuV5PgAOQEUBDT6rmSpg6pjYcShg5ohD81DA0DGy0UMBfUfPRvf/DruOsBMKaKeb38OWo+L3I1QUUHek1gRkjlQJKB0vG10KeDieNvoh4O6oKODmuNrom4CL45wqoHCcUgUcHUWq/F8Adol7AWvH1m5CASvHwi7DXxcq3tZTMV+q42t6AAAAAElFTkSuQmCC");
  background-position: 1px center;
  background-repeat: no-repeat;
  cursor: move;
}
section.TestBlock p.solution span.correct_answer {
  color: green;
}
section.TestBlock p.solution span.incorrect_answer {
  color: red;
}
section.TestBlock select[name="test_id"] {
  display: block;
  width: 400px;
}
section.TestBlock a.edit-tests {
  display: block;
  float: right;
}
