@import '../../../assets/variables';
@import '../../../assets/mixins';

section.TestBlock {
  div.description {
    font-weight: bold;
    margin-bottom: 50px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.exercise {
      & > li:after {
        content: '';
        display: block;
        clear: both;
        padding-bottom: 10px;
        border-bottom: 1px solid #EEEEEE;
      }

      button.button {
        display: block;
        clear: both;
        margin: 0.8em 0.6em 0.8em 0 !important;
      }
      p {
        &.exercise-tryagain {
          color: red;
        }
        &.exercise-correct {
          color: green;
        }
      }
    }

    li.correct_answer {
      span  {
        background: none repeat scroll 0 0 lightgreen;
        border: 1px solid green;
        padding: 2px 5px;
      }
    }
  }

  select[name="test_id"] {
    display: block;
    width: 400px;
  }

  a.edit-tests {
    display: block;
    float: right;
  }


  p.solution {
    .correct_answer {
      color: green;
    }
    .incorrect_answer {
      color: red;
    }


    // **** CLOZE ****
    &.cloze {
      .correct_answer, .incorrect_answer, .correction {
        margin-left: 0.25em;
        margin-right: 0.25em;
        white-space: pre;
      }

      .correct_answer, .incorrect_answer {
        font-style: italic;

        &:after {
          padding-left: 0.2em;
          vertical-align: middle;
        }
      }

      .correct_answer:after {
        content: url(../../../../assets/images/icons/16/green/accept.png);
      }

      .incorrect_answer:after {
        content: url(../../../../assets/images/icons/16/red/decline.png);
      }


      .correction {
        color: blue;
        font-size: smaller;
        padding-right: 0.5em;
      }
    }
  }

  // **** MATCHING EXERCISE ****
  .matching_exercise {
    padding-bottom: 10px;
    display: table-cell;
    vertical-align: top;

    li {
      border-width: 1px;
      border-style: dotted;
      border-color: #808080;
      margin: 4px;
      padding: 1ex 1ex 1ex 2ex;
    }

    &.labels li {
      margin-left: 0;
      padding-left: 1ex;
    }

    &.answers {
      &.exercise_answers li {
        background-image: @anfasser-bg-url;
        background-position: 1px center;
        background-repeat: no-repeat;
        cursor: move;
      }
    }

    &.solution {

      .answer {
        padding-left: 0.5em;

        &:before {
          content: "=>";
          padding-right: 0.5em;
          opacity: 0.5;
          letter-spacing: -0.25em;
        }
      }

      .correct_answer {
        color: green;
      }

      .incorrect_answer {
        color: red;
      }

      .correction {
        color: blue;
        font-size: smaller;
      }
    }
  }
}
