section.TestBlock ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section.TestBlock ul li.correct_answer span {
  border: 1px dashed green;
  padding: 0px 3px;
}
section.TestBlock p.solution span.correct_answer {
  color: green;
}
section.TestBlock p.solution span.incorrect_answer {
  color: red;
}
section.TestBlock input[type="text"] {
  display: block;
  width: 400px;
}
