@import '../../../assets/less/variables';
@import '../../../assets/less/mixins';

section.TestBlock {
    div.description {
        margin-bottom: 20px;
    }
}

ul.exercise {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        border: solid thin #ccc;
    }

    .cw-test-content {
        padding: 10px;
    }

    &:not(#exercise1) {
        display: none;
    }

    .exercisetitle {

        .cw-block-header();
        text-transform: uppercase;
        border: none;
        border-bottom: solid thin #ccc;
        
        .exercisenavbutton{
            position: absolute;
            border: none;
            height: 20px;
            width: 20px;
            margin: 2px 12px;
            cursor: pointer;

            &.exercisenavback {
                left: 0;
                background: no-repeat scroll 0 0 ;
                .assets-bg-icon("blue/arr_1left.svg");
            }

            &.exercisenavnext {
                right: 0;
                background: no-repeat scroll 0 0;
                .assets-bg-icon("blue/arr_1right.svg");
            }
        }
    }

    .cw-test-content {
        padding: 0 10px;

        .exercise-title {
            text-align: center;
            color: #000;
        }

        form {
          text-transform: none;
          font-size: 100%;
          font-weight: 400;
        }

        .answer, label {
            font-size: 16px;
            font-weight: normal;
            line-height: 32px;
            padding-left: 5px;
            text-transform: none;
            display: block;
        }

        select {
            margin: 0 5px;
        }

        .cloze.solution {
          margin-bottom: 8px;
        }

        p img {
          margin-top: 12px;
          margin-bttom: 12px;
        }

        textarea {
            border: thin solid #ccc;
            height: 10em;
            width: 100% !important;
        }

        input {
            border: thin solid #ccc;
        }
        /* vips 1.3 rh_exercise */
        table {
            padding: 1em 0;
            
            .rh_label {
                padding: 1em;
            }
            
            .rh_item {
                padding: 1em;
                border: solid thin #ccc;
                cursor: move;
                background: #fff;
                
                &:hover {
                    border: solid thin #28497c;
                }
            }
        }
        /* vips 1.4 rh_exercise */
        .rh_table {
            padding: 1em 0;
            border-spacing: 1.5em;
            margin-left: -1em;
            
            .rh_label {
                padding: 1em 1em 1em 0;
                min-width: 240px;
            }

            .rh_list {
                border: 1px solid #ccc;
                background-color: #fcfcfc;
                min-width: 240px;
            }

            .rh_list.hover {
                border-color: #28497c;
                background-color: #eee;
            }

            .rh_item {
                padding: 0.5em;
                border: solid thin #ccc;
                cursor: move;
                background: #fff;
                margin: 0.25em;
                min-width: 240px;
                
                &:hover {
                    border: solid thin #28497c;
                }
            }
        }
 
        .ui-sortable .ui-state-highlight { 
            padding: 2em;
            background: #28497c;
            border-color: #28497c;
        }
 
        .studip_input_wrapper.correct_item {
            background-color: lightgreen;
        }
        
        .cw-testblock-corrector-comment-corrected {
            background-color: #eee;
            padding: 1em;
        }
    }

    & > li:after {
        content: '';
        display: block;
        clear: both;
        padding-bottom: 10px;
        border-bottom: 1px solid #EEEEEE;
    }

    button.button {
        display: block;
        clear: both;
        margin: 0.8em 0.6em 0.8em 0 !important;
    }

    .exercise-hint-button {
        border: none;
        .assets-bg-icon("blue/info-circle.svg");
        background-position: center 0px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 24px;
        height: 24px;
        width: 24px;
        float: right;
        cursor: pointer;
        margin-top: -12px; 
    }

    .exercise-hint {
        margin: 8px;
        padding: 20px 25px;
        background-color: #f8f8f8;
    }

    p {
        &.exercise-tryagain {
            color: red;
        }

        &.exercise-correct {
            color: green;
        }

        &.solution {
            .correct_answer {
                color: green;
            }

            .incorrect_answer {
                color: red;
            }
        }

        &.question input[type=text] {
            width: 240px;
        }
    }

    .caption {
        font-weight: bold;
        margin: 1em 0 0.5em 0;
    }
    
    a.edit-tests {
        display: block;
        float: right;
    }

    fieldset {
        border: none;
        padding-left: 0px;
        padding-top: 0px;

        legend {
            background-color: transparent;
            font-weight: bold;
            color: #444444;
            line-height: normal;
            text-indent: 0px;
            position: relative;
            display: block;
            margin-top: 10px;
        }

        > div {
            padding-left: 0px;
            text-indent: 0px;
            > span {
                white-space: normal !important;
            }
        }

    }

    .cw-test-buttons-wrapper {
        padding-left: 8px;
    }

    .exercise-sample-solution {
        border: solid thin #ccc;
        padding: 10px;
        span {
            font-weight: 600;
        }

        p {
        }
    }

}

/********************/
/* CHARACTER PICKER */
/********************/

#character_picker {
  span.block {
    background-color: rgb(230, 230, 230);
    border-radius: .25em;
    display: inline-block;
    margin: .125em .25em;
    padding: .0625em .25em;
    white-space: nowrap;
    
    span.block_title {
        background-color: rgb(207, 207, 207);
        border-radius: .25em 0 0 .25em;
        display: inline-block;
        font-weight: bold;
        margin-left: -.125em;
        padding: 0 .5em;
    }
    button {
        border: 0;
        border-radius: .25em;
        padding: 0 .25em;
        &:hover {
            background-color: rgb(243, 243, 243);
        }
    }
  }
}
#character_picker_header {
    background-color: rgb(204, 204, 204);
    border-radius: .25em .25em 0 0;
    font-size: smaller;
    padding: .5em;
    margin: -.25em -.25em .5em .5em;
}

/********************/
/*   MOBILE VIEW    */
/********************/

@media screen and (max-width: @mobile-max-width) {
    ul.exercise .cw-test-content {
        /* vips 1.3 rh_exercise */
        table {
            
            .rh_label {
            }
            
            .rh_item {
                
                &:hover {
                }
            }
        }
        /* vips 1.4 rh_exercise */
        .rh_table {
            
            .rh_label {
                min-width: unset;
            }

            .rh_list {
                min-width: 50px;
            }

            .rh_list.hover {
            }

            .rh_item {
                min-width: 50px;
                
                &:hover {
                }
            }
        }
    }
}
