{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"]
            },
            "modules": false,
            "loose": true,
            "debug": false,
            "useBuiltins": true
        }]
    ],
    "plugins": [
        [ "transform-object-rest-spread" ]
    ]
}
