@red: #cb1800;
@blue: #24437c;
@lightblue: #abb7ce;
@green: #00962d;
@grey: #6e6e6e;
@yellow: #ffad00;
@import '../../../assets/less/variables';
@import '../../../assets/less/mixins';

.setIcon(@color) {
    
    &.cw-keypoint-icon-accept {
        .assets-bg-icon("@{color}/accept.svg");
    }
    &.cw-keypoint-icon-add {
        .assets-bg-icon("@{color}/add.svg");
    }
    &.cw-keypoint-icon-admin {
        .assets-bg-icon("@{color}/admin.svg");
    }
    &.cw-keypoint-icon-billboard {
        .assets-bg-icon("@{color}/billboard.svg");
    }
    &.cw-keypoint-icon-campusnavi {
        .assets-bg-icon("@{color}/campusnavi.svg");
    }
    &.cw-keypoint-icon-chat2 {
        .assets-bg-icon("@{color}/chat2.svg");
    }
    &.cw-keypoint-icon-code {
        .assets-bg-icon("@{color}/code.svg");
    }
    &.cw-keypoint-icon-community {
        .assets-bg-icon("@{color}/community.svg");
    }
    &.cw-keypoint-icon-computer {
        .assets-bg-icon("@{color}/computer.svg");
    }
    &.cw-keypoint-icon-crown {
        .assets-bg-icon("@{color}/crown.svg");
    }
    &.cw-keypoint-icon-consultation {
        .assets-bg-icon("@{color}/consultation.svg");
    }
    &.cw-keypoint-icon-date {
        .assets-bg-icon("@{color}/date.svg");
    }
    &.cw-keypoint-icon-decline {
        .assets-bg-icon("@{color}/decline.svg");
    }
    &.cw-keypoint-icon-doctoral_cap {
        .assets-bg-icon("@{color}/doctoral_cap.svg");
    }
    &.cw-keypoint-icon-dropbox {
        .assets-bg-icon("@{color}/dropbox.svg");
    }
    &.cw-keypoint-icon-edit {
        .assets-bg-icon("@{color}/edit.svg");
    }
    &.cw-keypoint-icon-exclaim {
        .assets-bg-icon("@{color}/exclaim.svg");
    }
    &.cw-keypoint-icon-favorite {
        .assets-bg-icon("@{color}/favorite.svg");
    }
    &.cw-keypoint-icon-filter {
        .assets-bg-icon("@{color}/filter.svg");
    }
    &.cw-keypoint-icon-globe {
        .assets-bg-icon("@{color}/globe.svg");
    }
    &.cw-keypoint-icon-graph {
        .assets-bg-icon("@{color}/graph.svg");
    }
    &.cw-keypoint-icon-group2 {
        .assets-bg-icon("@{color}/group2.svg");
    }
    &.cw-keypoint-icon-group3 {
        .assets-bg-icon("@{color}/group3.svg");
    }
    &.cw-keypoint-icon-group4 {
        .assets-bg-icon("@{color}/group4.svg");
    }
    &.cw-keypoint-icon-headache {
        .assets-bg-icon("@{color}/headache.svg");
    }
    &.cw-keypoint-icon-info {
        .assets-bg-icon("@{color}/info.svg");
    }
    &.cw-keypoint-icon-install {
        .assets-bg-icon("@{color}/install.svg");
    }
    &.cw-keypoint-icon-institute {
        .assets-bg-icon("@{color}/institute.svg");
    }
    &.cw-keypoint-icon-key {
        .assets-bg-icon("@{color}/key.svg");
    }
    &.cw-keypoint-icon-learnmodule {
        .assets-bg-icon("@{color}/learnmodule.svg");
    }
    &.cw-keypoint-icon-literature {
        .assets-bg-icon("@{color}/literature.svg");
    }
    &.cw-keypoint-icon-lock-locked {
        .assets-bg-icon("@{color}/lock-locked.svg");
    }
    &.cw-keypoint-icon-lock-unlocked {
        .assets-bg-icon("@{color}/lock-unlocked.svg");
    }
    &.cw-keypoint-icon-mail {
        .assets-bg-icon("@{color}/mail.svg");
    }
    &.cw-keypoint-icon-medal {
        .assets-bg-icon("@{color}/medal.svg");
    }
    &.cw-keypoint-icon-metro {
        .assets-bg-icon("@{color}/metro.svg");
    }
    &.cw-keypoint-icon-notification {
        .assets-bg-icon("@{color}/notification.svg");
    }
    &.cw-keypoint-icon-notification2 {
        .assets-bg-icon("@{color}/notification2.svg");
    }
    &.cw-keypoint-icon-outer-space {
        .assets-bg-icon("@{color}/outer-space.svg");
    }
    &.cw-keypoint-icon-phone {
        .assets-bg-icon("@{color}/phone.svg");
    }
    &.cw-keypoint-icon-place {
        .assets-bg-icon("@{color}/place.svg");
    }
    &.cw-keypoint-icon-plugin {
        .assets-bg-icon("@{color}/plugin.svg");
    }
    &.cw-keypoint-icon-ranking {
        .assets-bg-icon("@{color}/ranking.svg");
    }
    &.cw-keypoint-icon-remove {
        .assets-bg-icon("@{color}/remove.svg");
    }
    &.cw-keypoint-icon-resources {
        .assets-bg-icon("@{color}/resources.svg");
    }
    &.cw-keypoint-icon-roles {
        .assets-bg-icon("@{color}/roles.svg");
    }
    &.cw-keypoint-icon-settings {
        .assets-bg-icon("@{color}/settings.svg");
    }
    &.cw-keypoint-icon-span-empty {
        .assets-bg-icon("@{color}/span-empty.svg");
    }
    &.cw-keypoint-icon-span-1quarter {
        .assets-bg-icon("@{color}/span-1quarter.svg");
    }
    &.cw-keypoint-icon-span-2quarter {
        .assets-bg-icon("@{color}/span-2quarter.svg");
    }
    &.cw-keypoint-icon-span-3quarter {
        .assets-bg-icon("@{color}/span-3quarter.svg");
    }
    &.cw-keypoint-icon-span-full {
            .assets-bg-icon("@{color}/span-full.svg");
    }
    &.cw-keypoint-icon-staple {
        .assets-bg-icon("@{color}/staple.svg");
    }
    &.cw-keypoint-icon-star {
        .assets-bg-icon("@{color}/star.svg");
    }
    &.cw-keypoint-icon-tools {
        .assets-bg-icon("@{color}/tools.svg");
    }
    &.cw-keypoint-icon-topic {
        .assets-bg-icon("@{color}/topic.svg");
    }
    &.cw-keypoint-icon-visibility-visible {
        .assets-bg-icon("@{color}/visibility-visible.svg");
    }
    &.cw-keypoint-icon-vote {
        .assets-bg-icon("@{color}/vote.svg");
    }


    &.cw-keypoint-icon-light-bulb {
        background-image: url("../images/icons/@{color}/light_bulb.svg");
    }
}

.cw-keypoint-icon-option {
    .setIcon('blue');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    padding-right: 0.5em;
}

.cw-keypoint-red {
    border-color: @red;
    .setIcon('red');
}

.cw-keypoint-blue {
    border-color: @blue;
    .setIcon('blue');
}

.cw-keypoint-green {
    border-color: @green;
    .setIcon('green');
}

.cw-keypoint-grey {
    border-color: @grey;
    .setIcon('grey');
}

.cw-keypoint-yellow {
    border-color: @yellow;
    .setIcon('yellow');
}

.cw-keypoint-bg-red {
    background-color: @red;
}

.cw-keypoint-bg-blue {
    background-color: @blue;
}

.cw-keypoint-bg-green {
    background-color: @green;
}

.cw-keypoint-bg-grey {
    background-color: @grey;
}

.cw-keypoint-bg-yellow {
    background-color: @yellow;
}

.cw-keypoint {
    background-repeat: no-repeat;
    background-size: 48px;
    background-position-x: 2em;
    background-position-y: center;
    min-height: 52px;
    padding: 1.5em 2.5em 1.5em 8em;
    border-style: solid;
    border-width: 2px;
}

.cw-keypoint-sentence {
    font-size: 1.25em;
    padding-top: 0.75em;
}

.cw-keypoint-select-icon option {
    padding-left: 2em;
    background-repeat: no-repeat;
}

.cw-keypoint-label-color {
    width: 32px !important;
    min-width: 32px !important;
    height: 32px;
    padding: 5px !important;

    > .cw-keypoint-input-color {
        visibility: hidden; 
        position: absolute;
    }

    > .cw-keypoint-input-color + div{ 
        cursor:pointer;
        border:2px solid transparent;
        height: 32px;
        width: 32px;
    }

    > .cw-keypoint-input-color:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
        .assets-bg-icon("white/accept.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.cw-keypoint-label-wrapper-color,
.cw-keypoint-label-wrapper-icon {
    padding: 6px 0 6px 5px;
    width: 30em;
    display: inline-block;
}

.cw-keypoint-label-wrapper-color {
    padding-left: 0.7em;
}

.cw-keypoint-label-wrapper-icon {
    margin-left: -0.5em;
}

label[for="cw-keypoint-icon"],
label[for="cw-keypoint-color"] {
    vertical-align: top;
}

.cw-keypoint-label-icon {
    width: 4em !important;
    min-width: 4em !important;
    padding: 0.5em !important;
    
    > .cw-keypoint-input-icon {
        visibility: hidden; 
        position: absolute;
    }

    > .cw-keypoint-input-icon + div{ 
        cursor:pointer;
        border:2px solid transparent;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: top center;
        width: 5em;
        height: 3em;
        line-height: 5em;
        text-align: center;
        font-size: 0.9em;
        color: @lightblue;
    }

    > .cw-keypoint-input-icon:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
        color: @blue;
        font-weight: 600;
    }

    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-accept {
        .assets-bg-icon("blue/accept.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-decline {
        .assets-bg-icon("blue/decline.svg");
    }
     > .cw-keypoint-input-icon:checked +.cw-keypoint-icon-add {
        .assets-bg-icon("blue/add.svg");
    }
     > .cw-keypoint-input-icon:checked +.cw-keypoint-icon-remove {
        .assets-bg-icon("blue/remove.svg");
    }
     > .cw-keypoint-input-icon:checked +.cw-keypoint-icon-chat2 {
        .assets-bg-icon("blue/chat2.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-exclaim {
        .assets-bg-icon("blue/exclaim.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-info {
        .assets-bg-icon("blue/info.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-visibility-visible {
        .assets-bg-icon("blue/visibility-visible.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-date {
        .assets-bg-icon("blue/date.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-doctoral_cap {
        .assets-bg-icon("blue/doctoral_cap.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-community {
        .assets-bg-icon("blue/community.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-edit {
        .assets-bg-icon("blue/edit.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-plugin {
        .assets-bg-icon("blue/plugin.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-graph {
        .assets-bg-icon("blue/graph.svg");
    }
    > .cw-keypoint-input-icon:checked + .cw-keypoint-icon-light-bulb {
        background-image: url("../images/icons/blue/light_bulb.svg");
    }

    .cw-keypoint-icon-accept {
        .assets-bg-icon("lightblue/accept.svg");
    }
    .cw-keypoint-icon-decline {
        .assets-bg-icon("lightblue/decline.svg");
    }
    .cw-keypoint-icon-add {
        .assets-bg-icon("lightblue/add.svg");
    }
    .cw-keypoint-icon-remove {
        .assets-bg-icon("lightblue/remove.svg");
    }
    .cw-keypoint-icon-chat2 {
        .assets-bg-icon("lightblue/chat2.svg");
    }
    .cw-keypoint-icon-exclaim {
        .assets-bg-icon("lightblue/exclaim.svg");
    }
    .cw-keypoint-icon-info {
        .assets-bg-icon("lightblue/info.svg");
    }
    .cw-keypoint-icon-visibility-visible {
        .assets-bg-icon("lightblue/visibility-visible.svg");
    }
    .cw-keypoint-icon-date {
        .assets-bg-icon("lightblue/date.svg");
    }
    .cw-keypoint-icon-doctoral_cap {
        .assets-bg-icon("lightblue/doctoral_cap.svg");
    }
    .cw-keypoint-icon-community {
        .assets-bg-icon("lightblue/community.svg");
    }
    .cw-keypoint-icon-edit {
        .assets-bg-icon("lightblue/edit.svg");
    }
    .cw-keypoint-icon-plugin {
        .assets-bg-icon("lightblue/plugin.svg");
    }
    .cw-keypoint-icon-graph {
        .assets-bg-icon("lightblue/graph.svg");
    }
    .cw-keypoint-icon-light-bulb {
        background-image: url("../images/icons/lightblue/light_bulb.svg");
    }
}

/* sidebar special */
.cw-sidebar {
    .cw-keypoint {
        background-size: 32px;
        background-position-x: 1em;
        background-position-y: center;
        min-height: 52px;
        padding: 0.5em 1.5em 0.5em 4em;
        border-style: solid;
        border-width: 2px;
        
        .cw-keypoint-sentence {
            font-size: 1em;
            padding-top: 1em;
        }
    }

    .cw-keypoint-label-wrapper-color,
    .cw-keypoint-label-wrapper-icon {
        padding: 6px 0 6px 18px;
        width: 270px;
    }
}
