{{#show_note}}
<div style="border-left: 3px solid #cccccc; padding-left: 20px;" class="eportfolio-note-header">

      <div class="header-left">
          <h3>Private Notiz</h3>
      </div>

      <div class="header-right">
        <div id="eportfolioblock-block" class="eportfolio-note-header-icon">

        </div>
      </div>

      <div class="" style="clear:both;"></div>

<div class="eportfolioBlock ePortfolioContent">{{{content}}}</div>
{{/show_note}}
