{{#download_title}}<h2>{{download_title}}</h2>{{/download_title}}
{{#confirmed}}
{{#download_success}}
<div class="messagebox messagebox_success">
    {{download_success}}
</div>
{{/download_success}}
{{/confirmed}}

{{^confirmed}}
{{#download_info}}
<div class="messagebox messagebox_info">
    {{download_info}}
</div>
{{/download_info}}
{{/confirmed}}

<table class=download-file>
    <tbody>
        <tr>
            <td width="100%"><img style="margin-bottom: -3px;" src="../../plugins_packages/virtUOS/Courseware/assets/images/download.png" height="18" width="18"> &nbsp; {{file}} &nbsp; <span style="color: lightgrey">{{file_name}}</span></td>
            <td width="112px">
                <a href="../../sendfile.php?type=0&file_id={{file_id}}&file_name={{file_name}}" target="_blank"> 
                    <button name="download" class="button" style="right: 0">download</button>
                </a> 
            </td>
        </tr>
    </tbody>
    
    
</table>

<input type="hidden" name="file" value="{{file}}" />
<input type="hidden" name="file_name" value="{{file_name}}" />
<input type="hidden" name="file_id" value="{{file_id}}" />
<input type="hidden" name="download_title" value="{{download_title}}" />
<input type="hidden" name="download_info" value="{{download_info}}" />
<input type="hidden" name="download_success" value="{{download_success}}" />
