{{^inactive}}
    {{#download_title}}
        <h1 class="cw-download-title">{{download_title}}</h1>
    {{/download_title}}
    {{#file_available}}
        <div class="cw-download-file">
            {{#download_access}}
                <input type="hidden" value="{{confirmed}}" class="cw-download-confirmed" name="download_confirmed">
                <input type="hidden" value="{{download_success}}" class="cw-download-success-content" >
                <input type="hidden" value="{{download_info}}" class="cw-download-info-content">
                <div class="messagebox messagebox_success cw-download-success-box" style="display: none;">
                    {{download_success}}
                </div>
                <div class="messagebox messagebox_info cw-download-info-box" style="display: none;">
                    {{download_info}}
                </div>
                <br>
                <div class="cw-download-info cw-fileicon-{{icon}}" > &nbsp; {{file}} </div>
                <div class="cw-download-button-wrapper">
                    <a href="{{url}}" class="cw-download-link"> 
                        <button name="download" class="cw-download-button" style="display: inline-block;">{{#i18n}}Herunterladen{{/i18n}}</button>
                    </a> 
                </div>
            {{/download_access}}
            {{^download_access}}
                <div class="messagebox messagebox_info">
                    {{#i18n}}Wegen des gewählten Lizenzstatus können Sie diese Datei nicht herunterladen.{{/i18n}}
                </div>
            {{/download_access}}
        </div>
    {{/file_available}}
    {{^file_available}}
        {{#isAuthor}}
            <div class="messagebox messagebox_info">
                {{#i18n}}Es wurde keine Datei ausgewählt.{{/i18n}}
            </div>
        {{/isAuthor}}
    {{/file_available}}
    <input type="hidden" name="file" value="{{file}}" />
    <input type="hidden" name="file_name" value="{{file_name}}" />
    <input type="hidden" name="file_id" value="{{file_id}}" />
    <input type="hidden" name="download_title" value="{{download_title}}" />
    <input type="hidden" name="download_info" value="{{download_info}}" />
    <input type="hidden" name="download_success" value="{{download_success}}" />
    <input type="hidden" name="download_access" value="{{download_access}}" />
    <input type="hidden" name="icon" value="{{icon}}" />
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
