<input type="hidden" class="cw-image-map-stored-content" value="{{image_map_content}}"/>

<div class="cw-image-map-file-selector">
    <label for="cw-image-map-file" class="cw-image-map-file-label">{{#i18n}}Bild{{/i18n}}:</label>

    <select class="cw-image-map-file" name="cw-image-map-file" {{#no_image_files}}disabled{{/no_image_files}}>
        {{^no_image_files}}
            <option value="">{{#i18n}}kein Bild ausgewählt{{/i18n}}</option>
            <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
                {{#image_files_course}}
                    <option value="" file-id="{{id}}" filename="{{name}}" data-url="{{url}}" mime-type="{{mime_type}}">{{name}}</option>
                {{/image_files_course}}
                {{^image_files_course}}
                    <option value="" file-id="" filename="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                {{/image_files_course}}
            </optgroup>
            <optgroup label="{{#i18n}}Dateien im eigenen Dateibereich{{/i18n}}">
                {{#image_files_user}}
                    <option value="" file-id="{{id}}" filename="{{name}}" mime-type="{{mime_type}}">{{name}}</option>
                {{/image_files_user}}
                {{^image_files_user}}
                    <option value="" file-id="" filename="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                {{/image_files_user}}
            </optgroup>
            {{#other_user_file}}
                <optgroup label="{{#i18n}}Datei im Dateibereich eines anderen Nutzers{{/i18n}}">
                        <option value="" file-id="{{id}}" filename="{{name}}" mime-type="{{mime_type}}">{{name}}</option>
                </optgroup>
            {{/other_user_file}}
        {{/no_image_files}}
        {{#no_image_files}}
            <option value="" selected>{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
        {{/no_image_files}}
    </select>

</div>
<br>
<img src="{{image_url}}" class="cw-image-map-original-img">
<canvas class="cw-image-map-canvas"></canvas>

<div class="cw-image-map-toolbar">
    <div class="cw-image-map-buttonset">
        <button class="cw-image-map-color" value="transparent" data-title="{{#i18n}}transparent{{/i18n}}"></button>
        <button class="cw-image-map-color" value="white"></button>        
        <button class="cw-image-map-color" value="blue"></button>
        <button class="cw-image-map-color" value="green"></button>
        <button class="cw-image-map-color" value="purple"></button>
        <button class="cw-image-map-color" value="red"></button>
        <button class="cw-image-map-color" value="orange"></button>
        <button class="cw-image-map-color" value="yellow"></button>
        <button class="cw-image-map-color" value="grey"></button>
        <button class="cw-image-map-color" value="darkgrey"></button>
        <button class="cw-image-map-color" value="black"></button>
    </div>
    <div class="cw-image-map-buttonset resize-buttons">
        <button class="cw-image-map-resize raise-size resize-arc" data-resize="raise-radius">{{#i18n}}Radius{{/i18n}}</button>
        <button class="cw-image-map-resize reduce-size resize-arc" data-resize="reduce-radius">{{#i18n}}Radius{{/i18n}}</button>

        <button class="cw-image-map-resize raise-size resize-rect" data-resize="raise-width">{{#i18n}}Breite{{/i18n}}</button>
        <button class="cw-image-map-resize reduce-size resize-rect" data-resize="reduce-width">{{#i18n}}Breite{{/i18n}}</button>
        <button class="cw-image-map-resize raise-size resize-rect" data-resize="raise-height">{{#i18n}}Höhe{{/i18n}}</button>
        <button class="cw-image-map-resize reduce-size resize-rect" data-resize="reduce-height">{{#i18n}}Höhe{{/i18n}}</button>
    </div>
    <div class="cw-image-map-buttonset add-buttons">
        <button class="cw-image-map-button add-shape" data-shape-type="arc">{{#i18n}}Kreis{{/i18n}}</button>
        <button class="cw-image-map-button add-shape" data-shape-type="ellipse">{{#i18n}}Oval{{/i18n}}</button>
        <button class="cw-image-map-button add-shape" data-shape-type="rect">{{#i18n}}Rechteck{{/i18n}}</button>
        <button class="cw-image-map-button remove-shape" data-title="{{#i18n}}Objekt entfernen{{/i18n}}"></button>
    </div>
</div>

<div class="cw-image-map-data-input">

    <label for="shape-text" class="cw-image-map-data-label">{{#i18n}}Beschriftung{{/i18n}}:</label>
    <input name="shape-text" type="text" class="shape-text" vlaue="">
    <label for="cw-image-map-shape-link-type">{{#i18n}}Art des Links{{/i18n}}:</label>
    <select name="cw-image-map-shape-link-type" class="cw-image-map-shape-link-type">
        {{#hasinternal}}<option value="internal">{{#i18n}}interner Link{{/i18n}}</option>{{/hasinternal}}
        <option value="external">{{#i18n}}externer Link{{/i18n}}</option>
    </select>
    <br>

    <label for="cw-image-map-shape-target">{{#i18n}}Ziel des Links{{/i18n}}:</label>
    {{#hasinternal}}
    <select name="cw-image-map-shape-link-target" class="cw-image-map-shape-link-target">
        <optgroup label="{{#i18n}}Schnellauswahl{{/i18n}}">
            {{#hasnext}}
                <option value="next">{{#i18n}}nächster Abschnitt{{/i18n}}</option>
            {{/hasnext}}
            {{#hasprev}}
                <option value="prev">{{#i18n}}vorheriger Abschnitt{{/i18n}}</option>
            {{/hasprev}}
        </optgroup>
        <optgroup label="{{#i18n}}in diesem Kapitel{{/i18n}}">
            {{#inthischapter}}
                <option value="{{value}}">{{title}}</option>
            {{/inthischapter}}
        </optgroup>
        <optgroup label="{{#i18n}}in anderen Kapiteln{{/i18n}}">
            {{#inotherchapters}}
                <option value="{{value}}">{{title}}</option>
            {{/inotherchapters}}
        </optgroup>
    </select>
    {{/hasinternal}}
    <select name="cw-image-map-shape-link-protocol" class="cw-image-map-shape-link-protocol">
        <option value="http://">http://</option>
        <option value="https://">https://</option>
    </select>
    <input name="cw-image-map-shape-link-target" class="cw-image-map-shape-link-target" type="text" placeholder="www.studip.de">

    <label for="cw-image-map-shape-title" class="cw-image-map-shape-title-label">{{#i18n}}Bezeichnung{{/i18n}}:</label>
    <input name="cw-image-map-shape-title" type="text" class="cw-image-map-shape-title" value="">
    <button class="cw-image-map-shape-title-info cw-info" data-title="{{#i18n}}Dieser Text wird angezeigt, wenn der Mauszeiger über die Form bewegt wird{{/i18n}}."></button>
</div>


<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
