{{#opencast}}
    <input type="hidden" class="cw-opencast-stored-id" value="{{opencastid}}">
    
    <label for="cw-opencast-content">{{#i18n}}Opencast Video{{/i18n}}:</label>
    
    <select name="cw-opencast-content" class="cw-opencast-content">
        {{#episodes}}
            <option data-urlmp4="{{url_mp4}}" data-urlopencast="{{url_opencast}}" data-opencastid="{{id}}">{{title}}</option>
        {{/episodes}}
    </select>
    <br>
    <label for="cw-opencast-useocplayer">{{#i18n}}Opencast Player verwenden{{/i18n}}</label>
    <input type="checkbox" class="cw-opencast-useocplayer" name="cw-opencast-useocplayer" {{#useplayer}} checked {{/useplayer}}>
    <div class="cw-button-box">
        <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
        <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
    </div>
{{/opencast}}
{{^opencast}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Das Opencast Plugin ist nicht installiert. Bitte wenden Sie sich an Ihren Administrator.{{/i18n}}
    </div>
    <div class="cw-button-box">
        <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
    </div>
{{/opencast}}
