<div class="messagebox messagebox_info">{{#i18n}}Im- und Export dieses Blocks erzeugt nur einen leeren Opencast-Block. Das gewählte Video wird nicht kopiert oder verknüpft{{/i18n}}</div>
<p class="OpenCastBlock-preview-content">{{content}}</p>
