<input type="hidden" value="{{opencast_content}}">
{{#url_isset}}
    {{#useplayer}}
        <iframe width="860" height="484" src="{{url_opencast}}"></iframe>
        <a href="{{url_opencast}}" target="_blank"><button class="button">Video in neuem Fenster anzeigen</button></a>
    {{/useplayer}}
    {{^useplayer}}
        <video width="860" height="484" controls>
            <source src="{{url_mp4}}" type="video/mp4">
        </video> 
    {{/useplayer}}
{{/url_isset}}
