{{#oc_present}}
    <input type="hidden" value="{{opencast_content}}">
    {{#url_isset}}
        {{#useplayer}}
            <iframe width="860" height="484" data-src="{{url_opencast}}" allowfullscreen class="courseware-oc-video"></iframe>
            <a href="{{url_opencast}}" target="_blank"><button class="button">Video in neuem Fenster anzeigen</button></a>
            <script type="text/javascript">
                OC_SEARCH_URL = '{{ search_url }}';
                OC_LTI_DATA   =  {{{ lti_data }}};
            </script>
        {{/useplayer}}
        {{^useplayer}}
            <video width="860" height="484" controls>
                <source src="{{url_mp4}}" type="video/mp4">
            </video>
        {{/useplayer}}
    {{/url_isset}}
    {{^url_isset}}
        <div class="messagebox messagebox_info">
            {{#i18n}}Es wurde kein OpenCast-Video ausgewählt.{{/i18n}}
        </div>
    {{/url_isset}}
{{/oc_present}}
