<input type="hidden" class="cw-keypoint-stored-icon" value="{{keypoint_icon}}">
<input type="hidden" class="cw-keypoint-stored-color" value="{{keypoint_color}}">

<div class="cw-keypoint cw-keypoint-{{keypoint_color}} cw-keypoint-icon-{{keypoint_icon}}" >
    <p class="cw-keypoint-sentence" >{{keypoint_content}}</p>
</div>
<br>

<label for="cw-keypoint-content">{{#i18n}}Merksatz{{/i18n}}:</label>
<input type="text" name="cw-keypoint-content" class="cw-keypoint-set-content" value="{{keypoint_content}}" spellcheck="true">
<br>

<label for="cw-keypoint-color">{{#i18n}}Farbe{{/i18n}}:</label>
<div class="cw-keypoint-label-wrapper-color ">
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="red" /><div class="cw-keypoint-bg-red"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="green" /><div class="cw-keypoint-bg-green"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="grey" /><div class="cw-keypoint-bg-grey"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="blue" /><div class="cw-keypoint-bg-blue"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="yellow" /><div class="cw-keypoint-bg-yellow"></div></label>
</div>
<br>

<label for="cw-keypoint-icons">{{#i18n}}Icon{{/i18n}}:</label>
<select class="cw-keypoint-icons" name="cw-keypoint-icons">
        <option value="accept">accept</option>
        <option value="add">add</option>
        <option value="admin">admin</option>
        <option value="billboard">billboard</option>
        <option value="campusnavi">campusnavi</option>
        <option value="chat2">chat2</option>
        <option value="code">code</option>
        <option value="community">community</option>
        <option value="computer">computer</option>
        <option value="crown">crown</option>

        <option value="consultation">consultation</option>
        <option value="date">date</option>
        <option value="decline">decline</option>
        <option value="doctoral_cap">doctoral cap</option>
        <option value="dropbox">dropbox</option>
        <option value="edit">edit</option>
        <option value="exclaim">exclaim</option>
        <option value="favorite">favorite</option>
        <option value="filter">filter</option>
        <option value="globe">globe</option>

        <option value="graph">graph</option>
        <option value="group2">group 2</option>
        <option value="group3">group 3</option>
        <option value="group4">group 4</option>
        <option value="headache">headache</option>
        <option value="info">info</option>
        <option value="install">install</option>
        <option value="institute">institute</option>
        <option value="key">key</option>
        <option value="learnmodule">learnmodule</option>

        <option value="light-bulb">light bulb</option>
        <option value="literature">literature</option>
        <option value="lock-locked">lock locked</option>
        <option value="lock-unlocked">lock unlocked</option>
        <option value="mail">mail</option>
        <option value="medal">medal</option>
        <option value="metro">metro</option>
        <option value="notification">notification</option>
        <option value="notification2">notification 2</option>
        <option value="outer-space">outer space</option>

        <option value="phone">phone</option>
        <option value="place">place</option>
        <option value="plugin">plugin</option>
        <option value="ranking">ranking</option>
        <option value="remove">remove</option>
        <option value="resources">resources</option>
        <option value="roles">roles</option>
        <option value="settings">settings</option>
        <option value="notification2">notification 2</option>
        <option value="span-empty">span empty</option>

        <option value="span-1quarter">span 1quarter</option>
        <option value="span-2quarter">span 2quarter</option>
        <option value="span-3quarter">span 3quarter</option>
        <option value="span-full">span full</option>
        <option value="staple">staple</option>
        <option value="star">star</option>
        <option value="tools">tools</option>
        <option value="topic">topic</option>
        <option value="visibility-visible">visibility visible</option>
        <option value="vote">vote</option>

</select>
<br>

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
