<input type="hidden" class="cw-keypoint-stored-icon" value="{{keypoint_icon}}">
<input type="hidden" class="cw-keypoint-stored-color" value="{{keypoint_color}}">

<label for="cw-keypoint-content">{{#i18n}}Merksatz{{/i18n}}:</label>
<input type="text" name="cw-keypoint-content" class="cw-keypoint-set-content" value="{{keypoint_content}}">
<br>
<label for="cw-keypoint-color">{{#i18n}}Farbe{{/i18n}}:</label>
<select class="cw-keypoint-select-color" name="cw-keypoint-color">
    <option value="red">{{#i18n}}rot{{/i18n}}</option>
    <option value="green">{{#i18n}}grün{{/i18n}}</option>
    <option value="grey">{{#i18n}}grau{{/i18n}}</option>
    <option value="blue">{{#i18n}}blau{{/i18n}}</option>
    <option value="yellow">{{#i18n}}gelb{{/i18n}}</option>
</select>
<br>
<label for="cw-keypoint-icon">{{#i18n}}Icon{{/i18n}}:</label>
<select class="cw-keypoint-select-icon" name="cw-keypoint-icon">
    <option value="accept" style='background-image: url("../../assets/images/icons/black/accept.svg")'>{{#i18n}}akzeptieren{{/i18n}}</option>
    <option value="decline" style='background-image: url("../../assets/images/icons/black/decline.svg")'>{{#i18n}}ablehnen{{/i18n}}</option>
    <option value="add" style='background-image: url("../../assets/images/icons/black/add.svg")'>{{#i18n}}hinzufügen{{/i18n}}</option>
    <option value="remove" style='background-image: url("../../assets/images/icons/black/remove.svg")'>{{#i18n}}entfernen{{/i18n}}</option>
    <option value="chat2" style='background-image: url("../../assets/images/icons/black/chat2.svg")'>{{#i18n}}chatten{{/i18n}}</option>
    <option value="exclaim" style='background-image: url("../../assets/images/icons/black/exclaim.svg")'>{{#i18n}}ausrufen{{/i18n}}</option>
    <option value="info" style='background-image: url("../../assets/images/icons/black/info.svg")'>{{#i18n}}informieren{{/i18n}}</option>
    <option value="visibility-visible" style='background-image: url("../../assets/images/icons/black/visibility-visible.svg")'>{{#i18n}}betrachten{{/i18n}}</option>
    <option value="date" style='background-image: url("../../assets/images/icons/black/date.svg")'>{{#i18n}}planen{{/i18n}}</option>
    <option value="doctoral_cap" style='background-image: url("../../assets/images/icons/black/doctoral_cap.svg")'>{{#i18n}}absolvieren{{/i18n}}</option>
    <option value="community" style='background-image: url("../../assets/images/icons/black/community.svg")'>{{#i18n}}kooperieren{{/i18n}}</option>
    <option value="edit" style='background-image: url("../../assets/images/icons/black/edit.svg")'>{{#i18n}}editieren{{/i18n}}</option>
    <option value="plugin" style='background-image: url("../../assets/images/icons/black/plugin.svg")'>{{#i18n}}puz­zeln{{/i18n}}</option>
    <option value="graph" style='background-image: url("../../assets/images/icons/black/graph.svg")'>{{#i18n}}auswerten{{/i18n}}</option>
</select>
<br>

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
