<input type="hidden" class="cw-keypoint-stored-icon" value="{{keypoint_icon}}">
<input type="hidden" class="cw-keypoint-stored-color" value="{{keypoint_color}}">

<label for="cw-keypoint-content">{{#i18n}}Merksatz{{/i18n}}:</label>
<input type="text" name="cw-keypoint-content" class="cw-keypoint-set-content" value="{{keypoint_content}}" spellcheck="true">
<br>

<label for="cw-keypoint-color">{{#i18n}}Farbe{{/i18n}}:</label>
<div class="cw-keypoint-label-wrapper-color ">
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="red" /><div class="cw-keypoint-bg-red"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="green" /><div class="cw-keypoint-bg-green"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="grey" /><div class="cw-keypoint-bg-grey"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="blue" /><div class="cw-keypoint-bg-blue"></div></label>
    <label class="cw-keypoint-label-color" ><input type="radio" name="cw-keypoint-color" class="cw-keypoint-input-color" value="yellow" /><div class="cw-keypoint-bg-yellow"></div></label>
</div>
<br>

<label for="cw-keypoint-icon">{{#i18n}}Icon{{/i18n}}:</label>
<div class="cw-keypoint-label-wrapper-icon">
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="accept" /><div class="cw-keypoint-icon-accept">{{#i18n}}akzeptieren{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="decline" /><div class="cw-keypoint-icon-decline">{{#i18n}}ablehnen{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="add" /><div class="cw-keypoint-icon-add">{{#i18n}}hinzufügen{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="remove" /><div class="cw-keypoint-icon-remove">{{#i18n}}entfernen{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="chat2" /><div class="cw-keypoint-icon-chat2">{{#i18n}}chatten{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="exclaim" /><div class="cw-keypoint-icon-exclaim">{{#i18n}}ausrufen{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="info" /><div class="cw-keypoint-icon-info">{{#i18n}}informieren{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="visibility-visible" /><div class="cw-keypoint-icon-visibility-visible">{{#i18n}}betrachten{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="date" /><div class="cw-keypoint-icon-date">{{#i18n}}planen{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="doctoral_cap" /><div class="cw-keypoint-icon-doctoral_cap">{{#i18n}}absolvieren{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="community" /><div class="cw-keypoint-icon-community">{{#i18n}}kooperieren{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="edit" /><div class="cw-keypoint-icon-edit">{{#i18n}}editieren{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="plugin" /><div class="cw-keypoint-icon-plugin">{{#i18n}}puz­zeln{{/i18n}}</div></label>
    <label class="cw-keypoint-label-icon" ><input type="radio" name="cw-keypoint-icon" class="cw-keypoint-input-icon" value="graph" /><div class="cw-keypoint-icon-graph">{{#i18n}}auswerten{{/i18n}}</div></label>
</div>
<br>

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
