<table  style="border: 5px solid {{keypoint_hexcolor}};">
    <tr>
        <td style="border-top: 5px solid {{keypoint_hexcolor}}; border-left: 5px solid {{keypoint_hexcolor}};"></td>
        <td style="border-top: 5px solid {{keypoint_hexcolor}};"></td>
        <td style="border-top: 5px solid {{keypoint_hexcolor}}; border-right: 5px solid {{keypoint_hexcolor}};"></td>
    </tr>
    <tr>
        <td style="width: 2%; border-left: 5px solid {{keypoint_hexcolor}};"></td>
        <td style="width: 6%;"><img src ="{{keypoint_img}}" width="20"/></td>
        <td style="width: 92%; line-height: 24px; font-size: 11px; border-right: 5px solid {{keypoint_hexcolor}};">{{keypoint_content}}</td>
    </tr>
    <tr>
        <td style="border-bottom: 5px solid {{keypoint_hexcolor}}; border-left: 5px solid {{keypoint_hexcolor}};"></td>
        <td style="border-bottom: 5px solid {{keypoint_hexcolor}};"></td>
        <td style="border-bottom: 5px solid {{keypoint_hexcolor}}; border-right: 5px solid {{keypoint_hexcolor}};"></td>
    </tr>
</table>
