{{^inactive}}
    {{#keypoint}}
        <div class="cw-keypoint cw-keypoint-{{keypoint_color}} cw-keypoint-icon-{{keypoint_icon}}" >
            <p class="cw-keypoint-sentence" >{{keypoint_content}}</p>
        </div>
    {{/keypoint}}
    {{^keypoint}}
        {{#isAuthor}}
            {{#empty}}
                <div class="messagebox messagebox_info">
                    {{#i18n}}Es wurde kein Merksatz angegeben{{/i18n}}
                </div>
            {{/empty}}
        {{/isAuthor}}
    {{/keypoint}}
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschlossen haben.{{/i18n}}
    </div>
{{/inactive}}
