@import '../../../assets/less/mixins';

.ImageMapBlock {
    .block-content {
        overflow-x: auto;
        &[data-view="student"] {
            text-align: center;
        }
    }
    .cw-image-map-buttonset {
        display: inline-block;
        padding: 5px;
        margin-right: 0.5em;

        button {
            cursor: pointer;
            border: solid thin #ccc;
            height: 32px;
            width: 32px;
            background-color: white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            vertical-align: bottom;

            &.add-shape{
                padding-left: 1.5em;
                width: unset;
                background-position: 6px center;
                background-size: 16px 16px;
                color: #28497c;
                min-width: 7em;
                .assets-bg-icon("blue/add.svg");
            }
            &.remove-shape {
                .assets-bg-icon("blue/trash.svg");
            }
    
            &.cw-image-map-color {
                &[value=transparent] {
                    .assets-bg-icon("lightblue/decline.svg");
                }
                &.selected-color {
                    border: solid 2px #000;
                }
            }
            &.cw-image-map-resize{
                padding-left: 1.5em;
                width: unset;
                background-position: 6px center;
                background-size: 16px 16px;
                color: #28497c;
                min-width: 5.5em;
                &.raise-size{
                    .assets-bg-icon("blue/add.svg");
                }
                &.reduce-size{
                    .assets-bg-icon("blue/remove.svg");
                }
            }
        }
    }

    .cw-image-map-data-input.disabled {
        color: #ccc;
    }
}

section#courseware .block-content:not([data-view="student"]) {

    select.cw-image-map-link-type, 
    select.cw-image-map-source {
        width: 15em;
    }

    select.cw-image-map-shape-link-protocol {
        width: 6em;
    }

    input.cw-image-map-shape-link-target {
        width: 23.75em;
        margin-left: 0;
    }

    select.cw-image-map-source {
            width: 9em;
    }
    
    select:disabled,
    input:disabled {
        border-color: #ccc;
        color: #ccc;
    }
}

section#courseware.view-student .block-content .cw-image-from-canvas {
    border: solid thin #ccc;
    padding: 3px;
}
