@import '../../../assets/less/mixins';

.cw-download-title {
    .cw-block-header();
    border-bottom: none;
}

.cw-download-file{
    border: solid thin #ccc;
    padding: 1em;
}

.cw-download-info { 
    .assets-bg-icon("blue/file.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 26px;
    line-height: 24px; 
    margin-top: 4px;

    &.cw-fileicon-audio {
    .assets-bg-icon("blue/file-audio.svg");
    }
    &.cw-fileicon-pic {
    .assets-bg-icon("blue/file-pic.svg");
    }
    &.cw-fileicon-video {
    .assets-bg-icon("blue/file-video.svg");
    }
    &.cw-fileicon-pdf {
    .assets-bg-icon("blue/file-pdf.svg");
    }
    &.cw-fileicon-text {
    .assets-bg-icon("blue/file-text.svg");
    }
    &.cw-fileicon-ppt {
    .assets-bg-icon("blue/file-ppt.svg");
    }
    &.cw-fileicon-archive {
    .assets-bg-icon("blue/file-archive.svg");
    }

    span {
        color: lightgrey;
    }
}

.cw-download-button-wrapper {
    text-align: right;
    margin-top: -2em;

    .cw-download-button {
        .courseware-btn;
        height: 35px;
        background-position: 16px center;
        font-size: 14px;
        padding-left: 48px;
        padding-right: 20px;;
        display: inline-block;
        .assets-bg-icon("blue/download.svg");
        background-repeat: no-repeat;

        &:hover{
            .assets-bg-icon("white/download.svg");
        }
    }
}

/* sidebar special */
.cw-sidebar {
    .DownloadBlock {
        padding: 0;
        .cw-download-title {
            .cw-block-header-sidebar();
        }

        .cw-download-info {
            overflow: hidden;
        }

        .cw-download-button-wrapper {
            margin: 1em;
        }
    }
}
