.btn-base {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.btn-base:hover {
  cursor: pointer;
}
.NoteBlock label[for='cw-noteblock-type'],
.NoteBlock label[for='cw-noteblock-color'],
.NoteBlock label[for='cw-noteblock-header1'],
.NoteBlock label[for='cw-noteblock-header2'],
.NoteBlock label[for='cw-noteblock-questions'],
.NoteBlock label[for='cw-noteblock-quantity'] {
  width: 6em;
  padding: 1em;
  display: inline-block;
}
.NoteBlock .cw-noteblock-type,
.NoteBlock .cw-noteblock-color {
  width: 8em;
}
.NoteBlock .cw-noteblock-quantity {
  width: 7.4em;
  margin-left: 3px;
}
.NoteBlock .post-it {
  padding: 15px;
  margin: 25px 50px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
  width: 200px !important;
  height: 200px !important;
  border: none;
  resize: none;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
}
.NoteBlock .classic {
  width: 100%;
  height: 400px;
  border: none;
  border: solid thin #ccc;
  font-weight: 600;
}
.NoteBlock .cw-noteblock-button {
  color: #000;
  border: 1px solid #d0d0d0;
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  min-height: 27px;
  padding: 9px 6px 9px 28px;
  margin: 0px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 2px;
  padding: 10px 20px;
  line-height: 0.5em;
  height: 2.5em;
  background-color: #1d9dd9;
  border: 0px;
  border-radius: 0;
  color: #fff;
}
.NoteBlock .cw-noteblock-button:hover {
  background-color: #F8F8F8;
  border-color: #cccccc;
}
.NoteBlock .cke_toolbar_break,
.NoteBlock .cke_toolbox_collapser,
.NoteBlock .cke_button[aria-labelledby="cke_15_label"],
.NoteBlock .cke_button[aria-labelledby="cke_16_label"],
.NoteBlock .cke_button[aria-labelledby="cke_17_label"],
.NoteBlock .cke_button[aria-labelledby="cke_18_label"],
.NoteBlock .cke_button[aria-labelledby="cke_28_label"],
.NoteBlock .cke_toolbar[aria-labelledby="cke_29_label"],
.NoteBlock .cke_toolbar[aria-labelledby="cke_30_label"],
.NoteBlock .cke_toolbar[aria-labelledby="cke_33_label"],
.NoteBlock .cke_toolbar[aria-labelledby="cke_36_label"],
.NoteBlock .cke_toolbar[aria-labelledby="cke_43_label"] {
  display: none;
}
.NoteBlock .message_after_download {
  display: none;
}
