URL: <input class=urlinput type=text size=20 value={{fields.url}}> <br>
Breite: <input class=widthinput type=text size=4 value={{fields.width}}> Pixel <br>
H&ouml;he: <input class=heightinput type=text size=4 value={{fields.height}}> Pixel <br>
<button class=button>Speichern</button>
