<table cellspacing="4" style="border: 2px solid #ccc">
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Titel{{/i18n}}</td>
    <td>{{header}}{{^header}}–{{/header}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}URL{{/i18n}}</td>
    <td>{{url}}{{^url}}–{{/url}}</td>
  </tr>
</table>
<h6>{{#i18n}}IFrame-Block{{/i18n}}</h6>
