{{^inactive}}
    <div class=content>
    {{#loading_denyed}}
        <div class="messagebox messagebox_error">
            {{#i18n}}Eine Einbindung per IFrame ist nicht möglich. Bitte wenden Sie sich an Ihren Dozenten.{{/i18n}}
        </div>
    {{/loading_denyed}}
    {{#wrong_protocol}}
        <div class="messagebox messagebox_error">
            {{#i18n}}Eine Einbindung per IFrame ist nicht möglich. Bitte wenden Sie sich an Ihren Dozenten.{{/i18n}}
        </div>
    {{/wrong_protocol}}
    {{^loading_denyed}}{{^wrong_protocol}}
        <iframe width={{#width}}{{width}}{{/width}}{{^width}}100{{/width}}% height={{height}} src={{url}}></iframe>
    {{/wrong_protocol}}{{/loading_denyed}}
    {{#cc_infos}}
        <div class="iframe-cc-data">
            <span class="iframe-cc-icon {{cc_type}}"></span>
            <div class="iframe-cc-infos-student">
                {{#cc_work_name}}<span>Werk: <a href="{{cc_work_url}}" target="_blank">{{cc_work_name}}</a></span>{{/cc_work_name}}
                <br>
                {{#cc_author_name}}<span>Autor: <a href="{{cc_author_url}}" target="_blank">{{cc_author_name}}</a></span>{{/cc_author_name}}
                <br>
                {{#cc_license_name}}<span>Lizenz:<a href="{{cc_license_url}}" target="_blank">{{cc_license_name}}</a></span>{{/cc_license_name}}
                <br>
            </div>
        </div>
    {{/cc_infos}}
    </div>
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
