<div class=content>
<iframe width=100% height={{height}} src={{url}}></iframe>
<a href={{href1}}>{{linktitle1}}</a> {{sep1}} <a href={{href2}}>{{linktitle2}}</a> {{sep2}} <a href={{href3}}>{{linktitle3}}</a>
</div>
