.btn-base {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.btn-base:hover {
  cursor: pointer;
}
.active-section {
  float: left;
  margin-top: 5em;
  width: 76%;
}
.active-section > .title h1 {
  font-weight: 700;
  line-height: 1.1;
  color: #444444;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 32px;
  border-bottom: none;
  padding: 0px;
}
.active-section > .title h1 .controls button.edit {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  background: url("../../../../../../assets/images/icons/16/grey/edit.png") center center no-repeat;
}
.active-section > .title h1 .controls button.edit:hover {
  cursor: pointer;
}
.active-section > .title h1 .controls button.edit:hover {
  background-image: url("../../../../../../assets/images/icons/16/black/edit.png");
}
.active-section > .title h1 .controls button.trash {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  background: url("../../../../../../assets/images/icons/16/grey/trash.png") center center no-repeat;
}
.active-section > .title h1 .controls button.trash:hover {
  cursor: pointer;
}
.active-section > .title h1 .controls button.trash:hover {
  background-image: url("../../../../../../assets/images/icons/16/black/trash.png");
}
.active-section > .title.loading h1 {
  background: url("../../../../../../assets/images/ajax_indicator_small.gif") center left no-repeat;
  padding-left: 20px;
}
.active-section section.block {
  position: relative;
  min-height: 1em;
  line-height: 20px;
  display: block;
  margin-bottom: 3em;
}
.active-section section.block::before {
  color: #ccc;
  border: 1px dotted #eee;
  line-height: 20px;
}
.active-section section.block h2 {
  padding-bottom: 6px;
}
.active-section section.block.loading {
  background: url("../../../../../../assets/images/ajax_indicator_small.gif") center center no-repeat;
}
.active-section section.block.loading .block-content,
.active-section section.block.loading .controls {
  visibility: hidden;
}
.active-section section.block div.controls {
  background-color: #eee;
  text-align: right;
}
.active-section section.block div.controls button {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  background-color: transparent;
}
.active-section section.block div.controls button:hover {
  cursor: pointer;
}
.active-section section.block div.controls button.raise {
  background-image: url("../../../../../../assets/images/icons/16/grey/arr_2up.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.active-section section.block div.controls button.lower {
  background-image: url("../../../../../../assets/images/icons/16/grey/arr_2down.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.active-section section.block div.controls button.author {
  background-image: url("../../../../../../assets/images/icons/16/grey/edit.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.active-section section.block div.controls button.trash {
  background-image: url("../../../../../../assets/images/icons/16/grey/trash.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.active-section section.block + .no-content {
  display: none;
}
.active-section .not-editable               button.author,
.active-section section.block:first-of-type button.raise,
.active-section section.block:last-of-type  button.lower {
  visibility: hidden;
}
.active-section .block-adder {
  padding-top: 1em;
}
.active-section .block-adder button {
  color: #000;
  border: 1px solid #d0d0d0;
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  min-height: 27px;
  padding: 9px 6px 9px 28px;
  margin: 0px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 2px;
  min-width: 100px;
}
.active-section .block-adder button:hover {
  background-color: #F8F8F8;
  border-color: #cccccc;
}
.active-section .edit-section button {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.active-section .edit-section button:hover {
  cursor: pointer;
}
.active-section .edit-section button.cancel {
  background: url("../../../../../../assets/images/icons/16/grey/decline.png") center center no-repeat;
  right: 20px;
}
.active-section .edit-section button.ok {
  background: url("../../../../../../assets/images/icons/16/grey/accept.png") center center no-repeat;
  right: 0;
}
#courseware.view-author .active-section section.block {
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  padding: 0px;
}
#courseware.view-author .active-section section.block .block-content {
  padding: 10px 4px;
}
#courseware.view-author .active-section section.block h1 {
  padding-bottom: 6px;
}
#courseware.view-author .active-section section.block:hover {
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
}
button.init-sort-block {
  background-image: url("../../../../../../assets/images/icons/16/blue/ranking.png");
  background-position: 6px 2px;
}
button.stop-sort-block {
  background-image: url("../../../../../../assets/images/icons/16/blue/accept.png");
  background-position: 6px center;
  display: none;
}
button.add-block-type {
  background-image: url("../../../../../../assets/images/icons/16/blue/add.png");
  background-position: 6px center;
}
.active-section .block-adder .add-block-type.loading {
  background-image: url("../../../../../../assets/images/ajax_indicator_small.gif");
  background-position: 10px center;
}
#courseware.view-student .active-section div.controls,
#courseware.view-student .active-section .block-adder,
#courseware.view-student .active-section button.init-sort-block {
  display: none;
}
