@import '../../../assets/mixins';

.active-section {

  section.block {
    position: relative;
    min-width: 55em;
    display: block;
    margin-bottom: 3em;

    &::before {
      /* content: attr(class); */
      color: #ccc;
      border: 1px dotted #eee;
      line-height: 20px;
    }

    &.loading {
      background: url(../../../../../../assets/images/ajax_indicator_small.gif) center center no-repeat;

      .block-content {
        visibility: hidden;
      }
    }

    div.controls {
      position: absolute;
      top: 0;
      right: 0;

      button.author {
        @include btn(admin);
      }

      button.trash {
        @include btn(trash);
      }
    }

    & + .no-content {
      display: none;
    }
  }

  .block-adder {
    padding-top: 1em;

    .add-block-type {
      display: inline-block;
      background: url(../../../../../../assets/images/icons/16/blue/add.png) 10px center no-repeat #e9e9e9;
      padding: 6px 10px 6px 36px;
      border: 1px solid #bbb;

      &:hover {
        cursor: pointer;
      }
    }
  }
}


#courseware {

  &.view-student .active-section {
    div.controls,
    .block-adder {
      display: none;
    }
  }

  &.view-author .active-section {
    section.block {
      box-shadow: 2px 2px 2px 2px #DDD;
      padding: 24px 4px 10px 4px;

      @include border-radius(5px);

      &:hover {
        box-shadow: 2px 2px 2px 2px #CCC;
      }
    }
  }
}
