.active-section section.block {
  position: relative;

  div.controls {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#courseware.view-student {

  .active-section button.author {
    display: none;
  }

}
