.active-section section.block {
  position: relative;
  min-width: 55em;
  display: block;
  margin-bottom: 3em;
}
.active-section section.block::before {
  /* content: attr(class); */

  color: #ccc;
  border: 1px dotted #eee;
  line-height: 20px;
}
.active-section section.block.loading {
  background: url(../../../../../../assets/images/ajax_indicator_small.gif) center center no-repeat;
}
.active-section section.block.loading .block-content {
  visibility: hidden;
}
.active-section section.block div.controls {
  position: absolute;
  top: 0;
  right: 0;
}
.active-section section.block div.controls button {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.active-section section.block div.controls button:hover {
  cursor: pointer;
}
.active-section section.block div.controls button.author {
  background: url(../../../../../../assets/images/icons/16/grey/admin.png) center center no-repeat;
}
.active-section section.block div.controls button.trash {
  background: url(../../../../../../assets/images/icons/16/grey/trash.png) center center no-repeat;
}
.active-section section.block + .no-content {
  display: none;
}
.active-section .block-adder {
  padding-top: 1em;
}
.active-section .block-adder .add-block-type {
  display: inline-block;
  background: url(../../../../../../assets/images/icons/16/blue/add.png) 10px center no-repeat #e9e9e9;
  padding: 6px 10px 6px 36px;
  border: 1px solid #bbb;
}
.active-section .block-adder .add-block-type:hover {
  cursor: pointer;
}
#courseware.view-student .active-section div.controls,
#courseware.view-student .active-section .block-adder {
  display: none;
}
#courseware.view-author .active-section section.block {
  box-shadow: 2px 2px 2px 2px #DDD;
  padding: 24px 4px 10px 4px;
  border-radius: 5px;
}
#courseware.view-author .active-section section.block:hover {
  box-shadow: 2px 2px 2px 2px #CCC;
}
