@import '../../../assets/mixins';

.btn-base, .active-section section.block div.controls button.author, .active-section section.block div.controls button.trash {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}

.btn-base:hover, .active-section section.block div.controls button.author:hover, .active-section section.block div.controls button.trash:hover {
                                                                                   cursor: pointer;
                                                                                 }

.active-section > .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 120px;

  h1 {
    display: inline-block;
    border-bottom: none;
    vertical-align: top;
  }

  &.loading h1 {
    background: url("../../../../../../assets/images/ajax_indicator_small.gif") center left no-repeat;
    padding-left: 20px;
  }


  button.edit {
    .btn(edit);
  }
  button.trash {
    .btn(trash);
  }
}

.active-section section.block {
  position: relative;
  min-height: 1em;
  line-height: 20px;
  /*min-width: 55em;*/
  display: block;
  margin-bottom: 3em;
}

.active-section section.block::before {
  /* content: attr(class); */
  color: #ccc;
  border: 1px dotted #eee;
  line-height: 20px;
}

.active-section section.block.loading {
  background: url("../../../../../../assets/images/ajax_indicator_small.gif") center center no-repeat; }
.active-section section.block.loading .block-content, .active-section section.block.loading .controls {
  visibility: hidden;
}

.active-section section.block div.controls {
  position: absolute;
  top: 0;
  right: 0;
}

.active-section section.block div.controls button.author {
  background: url("../../../../../../assets/images/icons/16/grey/edit.png") center center no-repeat;
}

.active-section section.block div.controls button.trash {
  background: url("../../../../../../assets/images/icons/16/grey/trash.png") center center no-repeat;
}

.active-section section.block + .no-content {
  display: none;
}

.active-section .block-adder {
  padding-top: 1em;
}

#courseware.view-author .active-section section.block {
  box-shadow: 2px 2px 2px 2px #DDD;
  padding: 24px 4px 10px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;

  h1 {
    padding-bottom: 6px;
  }

  &:hover {
    box-shadow: 2px 2px 2px 2px #CCC;
  }
}

.active-section {
  .edit-section {
    button {
      .btn-base();

      &.cancel {
        background: url("../../../../../../assets/images/icons/16/grey/decline.png") center center no-repeat;
        right: 20px;
      }

      &.ok {
        background: url("../../../../../../assets/images/icons/16/grey/accept.png") center center no-repeat;
        right: 0;
      }
    }
  }

  & > .block-controls > button {
    .courseware-btn;
  }
}

.block-adder button {
  .courseware-btn;
}

button.init-sort-block {
  background-image: url("../../../../../../assets/images/icons/16/blue/ranking.png");
  background-position: 6px 2px;
}

button.stop-sort-block {
  background-image: url("../../../../../../assets/images/icons/16/blue/accept.png");
  background-position: 6px center;
  display: none;
}

button.add-block-type {
  background-image: url("../../../../../../assets/images/icons/16/blue/add.png");
  background-position: 6px center;
}

.active-section .block-adder .add-block-type.loading {
  background-image: url("../../../../../../assets/images/ajax_indicator_small.gif");
  background-position: 10px center;
}

#courseware {
  &.view-student .active-section {
    div.controls, .block-adder, button.init-sort-block {
      display: none;
    }
  }

  .active-section div.controls.not-editable button.author {
    display: none;
  }
}
