{{^inactive}}
  Author-View des DiscussionBlock
{{/inactive}}

{{#inactive}}
<div class="messagebox messagebox_info">
    {{#i18n}}Für diesen Diskussionsblock muss "Blubber" in dieser Veranstaltung eingeschaltet werden..{{/i18n}}
</div>
{{/inactive}}
