{{^inactive_block}}
    {{^inactive}}
      {{#threads}}
        <article class="thread loading" id="{{thread.topic_id}}" data-courseid="{{cid}}">
          <header>
            <a href="javascript:void(0)">
              <h1>{{thread.description}}</h1>
            </a>
          </header>
          <ul class="comments"></ul>
        {{^isNobody}}
          <div class="comment-writer">
            <textarea placeholder="{{#i18n}}Kommentiere dies{{/i18n}}"
                      aria-label="{{#i18n}}Kommentiere dies{{/i18n}}"></textarea>
          </div>
        {{/isNobody}}
        </article>
      {{/threads}}
    
      {{^threads}}
        <div class="messagebox messagebox_success">
          Sie wurden noch keiner Gruppe zugeordnet. Bitte wenden Sie sich an Ihren Dozenten.
        </div>
      {{/threads}}
    
    {{/inactive}}
    
    {{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Für diesen Diskussionsblock muss "Blubber" in dieser Veranstaltung eingeschaltet werden..{{/i18n}}
    </div>
    {{/inactive}}
{{/inactive_block}}
{{#inactive_block}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive_block}}
