<textarea class="add_toolbar wysiwyg" name=content placeholder="Geben Sie hier Ihren Text ein">{{{content}}}</textarea>
<button name=save class=button>{{#i18n}}Speichern{{/i18n}}</button>
<button name=cancel class=button>{{#i18n}}Abbrechen{{/i18n}}</button>
