<textarea class="wysiwyg" name=content >{{{content}}}</textarea>
<div class="cw-button-box">
    <button name=save class=button>Speichern</button>
    <button name=cancel class=button>Abbrechen</button>
</div>
