<textarea class=add_toolbar name=content placeholder="Geben Sie hier Ihren Text ein">{{{fields.content}}}</textarea>
<button name=save class=button>Speichern</button>
<button name=cancel class=button>Abbrechen</button>
