{{^inactive}}
    <div class="cw-html-wrapper">
        <p class="cw-html-header"></p>
        <div class=content>{{{content}}}</div>
    </div>
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
