<div class="memucho-author-view">
    <div class="memucho-description">
        <p>
            {{#i18n}}Inhalte in Memucho wie Fragensets oder einzelne Fagen welche die Option <b>einbetten</b> anbieten, stellen einen Embed-Code bereit welcher über das Feld <b>Memucho-Einbett-Code</b> eingebunden werden kann. Die übrigen Felder setzt das System automatisch.{{/i18n}}
        </p>
    </div>
    <div class="memucho-data">
        <input type="hidden" class="memucho-data-id-stored" value="{{data_id}}">
        <input type="hidden" class="memucho-data-t-stored" value="{{data_t}}">
        <input type="hidden" class="memucho-data-questionCount-stored" value="{{data_questionCount}}">
        <ul>
            <li><label>{{#i18n}}Memucho-Einbett-Code{{/i18n}}:</label><input class="scriptinput" type=text size=32 value='<script src="https://memucho.de/views/widgets/w.js" data-t="{{data_t}}" data-id="{{data_id}}" data-questionCount="{{data-questionCount}}" data-width="100%" data-maxWidth="870px" data-hideKnowledgeBtn="true"></script>'></li>
            <li><label>{{#i18n}}Data-ID{{/i18n}}:</label><input class="readonly memucho-data-id" type=text size=32 value="{{data_id}}" readonly></li>
            <li><label>{{#i18n}}Data-T{{/i18n}}:</label><input class="readonly memucho-data-t" type=text size=32 value="{{data_t}}" readonly></li>
            <li><label>{{#i18n}}questionCount{{/i18n}}:</label><input class="readonly memucho-data-questionCount" type=text size=32 value="{{data_questionCount}}" readonly></li>

        </ul>
    </div>
    <div class="memucho-description memucho-submit-user">
        <p>
            {{#i18n}}Für jede NutzerIn wird ein individueller Wert übergeben mit dem die Anwendung die NutzerIn wiedererkennen kann.
            Um Rückschlüssen auf die Identität zu verhindern, wird die StudIp-Nutzer-Id mit der Zufallszeichenfolge verschlüsselt.
            Wählen Sie identische Zufallszeichenfolgen, wenn an verschiedenen Stellen gleiche Nutzer-Ids erzeugt werden sollen.{{/i18n}}
        </p>
    </div>
	
    <button name=save class=button>{{#i18n}}Speichern{{/i18n}}</button>
    <button name=cancel class=button>{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
