<div class="memucho-content">
<script src="https://memucho.de/views/widgets/w.js" data-t="{{data_t}}" data-id="{{data_id}}" data-questionCount="{{data-questionCount}}" data-width="100%" data-maxWidth="870px" data-hideKnowledgeBtn="true"></script>
</div>
