<input type="hidden" value="{{gallery_folder_id}}" class="gallery-stored-folder">
<input type="hidden" value="{{gallery_autoplay}}" class="gallery-stored-autoplay">
<input type="hidden" value="{{gallery_hidenav}}" class="gallery-stored-hidenav">

<label for="gallery-folder">{{#i18n}}Einen Ordner ausw&auml;hlen{{/i18n}}:</label>
<select type="text" class="gallery-folder" name="folder">
    {{#foldernames}}
        <option value="{{name}}" folder_id="{{folder_id}}">{{name}}</option>
    {{/foldernames}}
</select>
<br>
<label for="gallery-height">{{#i18n}}H&ouml;he der Galerie (in Pixeln){{/i18n}}:</label>
<input name="gallery-height" type="number" min=1 max=2000 step=1 value={{gallery_height}}>
<br>
<label for="gallery-autoplay">{{#i18n}}Autoplay{{/i18n}}:</label>
<input name="gallery-autoplay" type="checkbox">
<br>
<label for="gallery-autoplay-timer">{{#i18n}}Autoplay-Timer (in Sekunden){{/i18n}}:</label>
<input name="gallery-autoplay-timer" type="number" min=1 max=60 step=1 value={{gallery_autoplay_timer}}>
<br>
<label for="gallery-hidenav">{{#i18n}}Navigation verbergen{{/i18n}}:</label>
<input name="gallery-hidenav" type="checkbox">
<div class="cw-button-box">
    <button name=save class=button>Speichern</button>
    <button name=cancel class=button>Abbrechen</button>
</div>
