<input type="hidden" value="{{folder_id}}" folder-name="{{folder_name}}" class="download-stored-folder">
<label for="download-folder">{{#i18n}}Einen Ordner ausw&auml;hlen{{/i18n}}:</label>
<select type="text" class="gallery-folder" name="folder">
    {{#foldernames}}
        <option value="{{name}}" folder_id="{{folder_id}}">{{name}}</option>
    {{/foldernames}}
</select>
<div class="cw-button-box">
    <button name=save class=button>Speichern</button>
    <button name=cancel class=button>Abbrechen</button>
</div>
