<form>
    <fieldset>

        <legend>{{#i18n}}Verknüpfung zur Wandzeitung{{/i18n}}</legend>

        <ul>
            {{#wnblocks}}
                <li>
                    <label>
                        <input type="radio" {{#selected}}checked{{/selected}} name="wall_newspaper_block_id" value="{{id}}"> {{breadcrumbs}}
                    </label>
                </li>
            {{/wnblocks}}
        </ul>
    </fieldset>

    <fieldset>

        <legend>{{#i18n}}Inhalte nach Absolvieren der Wandzeitung{{/i18n}}</legend>

        <textarea class="add_toolbar wysiwyg" name=content placeholder="Geben Sie hier Ihren Text ein">{{{content}}}</textarea>
    </fieldset>

    <fieldset>
        <button name=save class=button>{{#i18n}}Speichern{{/i18n}}</button>
        <button name=cancel class=button>{{#i18n}}Abbrechen{{/i18n}}</button>
    </fieldset>
</form>
