<script class="json" type="application/json">
{
    "visible": {{#visible}}true{{/visible}}{{^visible}}false{{/visible}},
    "wall_newspaper_block_id": {{wall_newspaper_block_id}}
}
</script>

{{#visible}}

  {{#content}}
    <div class=content>{{{content}}}</div>
  {{/content}}

  {{^content}}
    <div class="messagebox messagebox_info">
      Es wurden noch keine Inhalte für die Wandzeitung in der Sidebar hinterlegt.
    </div>
  {{/content}}

{{/visible}}
