.btn-base {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
.btn-base:hover {
  cursor: pointer;
}
.ui-tooltip,
.arrow:after {
  background: #f9f9f9;
  border: 1px solid #ddd;
}
.ui-tooltip {
  padding: 10px 20px;
  color: #333333;
  box-shadow: none;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#mooc-courseware-index #layout_container {
  position: relative;
}
section#courseware {
  /* CSS for the Courseware controls */
  position: relative;
  padding-top: 4em;
}
section#courseware nav.breadcrumb {
  position: absolute;
  bottom: 100%;
}
section#courseware nav.breadcrumb ul {
  padding: 0;
  margin: 0 0 0.4em 0;
}
section#courseware nav.breadcrumb li {
  display: inline;
  padding-right: 0.5em;
}
section#courseware nav.breadcrumb li a {
  color: #888;
}
section#courseware nav.breadcrumb li a:hover {
  color: #f33;
}
section#courseware ol {
  list-style: none;
}
section#courseware ol li + li.no-content {
  display: none;
}
section#courseware ol.chapters {
  float: left;
  margin: 0;
  padding-right: 4%;
  padding-left: 1%;
  width: 18%;
}
section#courseware ol.chapters .chapter > .title {
  background: url("../../../../../../assets/images/icons/16/blue/arr_1right.png") no-repeat 3px center;
}
section#courseware ol.chapters .chapter.selected > .title {
  font-weight: 700;
  background: url("../../../../../../assets/images/icons/16/blue/arr_1down.png") no-repeat 3px center #eeeeee;
}
section#courseware ol.chapters .chapter div.title {
  position: relative;
  line-height: 20px;
  border-bottom: 1px solid #E9E9E9;
}
section#courseware ol.chapters .chapter div.title a {
  display: inline-block;
  padding: 5px 44px 5px 22px;
}
section#courseware ol.chapters .chapter div.title button.edit {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  background: url("../../../../../../assets/images/icons/16/grey/edit.png") center center no-repeat;
}
section#courseware ol.chapters .chapter div.title button.edit:hover {
  cursor: pointer;
}
section#courseware ol.chapters .chapter div.title button.edit:hover {
  background-image: url("../../../../../../assets/images/icons/16/black/edit.png");
}
section#courseware ol.chapters .chapter div.title button.trash {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  background: url("../../../../../../assets/images/icons/16/grey/trash.png") center center no-repeat;
}
section#courseware ol.chapters .chapter div.title button.trash:hover {
  cursor: pointer;
}
section#courseware ol.chapters .chapter div.title button.trash:hover {
  background-image: url("../../../../../../assets/images/icons/16/black/trash.png");
}
section#courseware ol.chapters .chapter div.title .controls {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
}
section#courseware ol.chapters .chapter div.title:hover {
  background-color: #eee;
}
section#courseware ol.chapters .chapter div.title:hover .controls {
  visibility: visible;
}
section#courseware ol.chapters .chapter.loading > .title {
  background-image: url(../../../../../../assets/images/ajax_indicator_small.gif);
}
section#courseware ol.subchapters {
  padding-left: 25px;
}
section#courseware ol.subchapters li.selected > .title {
  font-weight: 700;
  background: #f8f8f8;
}
section#courseware ol.subchapters li div.title {
  position: relative;
  line-height: 20px;
  border-bottom: 1px solid #E9E9E9;
}
section#courseware ol.subchapters li div.title a {
  display: inline-block;
  padding: 5px 44px 5px 12px;
}
section#courseware ol.subchapters li div.title button.edit {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
  background: url("../../../../../../assets/images/icons/16/grey/edit.png") center center no-repeat;
}
section#courseware ol.subchapters li div.title button.edit:hover {
  cursor: pointer;
}
section#courseware ol.subchapters li div.title button.edit:hover {
  background-image: url("../../../../../../assets/images/icons/16/black/edit.png");
}
section#courseware ol.subchapters li div.title .controls {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
}
section#courseware ol.subchapters li div.title:hover {
  background-color: #eee;
}
section#courseware ol.subchapters li div.title:hover .controls {
  visibility: visible;
}
section#courseware ol.subchapters li.no-content {
  padding: 10px 5px;
}
section#courseware ol.subchapters .subchapter.loading > .title {
  background: url(../../../../../../assets/images/ajax_indicator_small.gif) no-repeat 3px center;
}
section#courseware ol.active-subchapter {
  position: absolute;
  top: 4em;
  left: 23%;
  right: 12px;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid #eee;
}
section#courseware ol.active-subchapter li {
  display: block;
  float: left;
  height: 27px;
  margin: 0px 3px;
}
section#courseware ol.active-subchapter li > a {
  background-color: #e9e9e9;
  color: transparent;
  border: 1px solid #bbb;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  padding: 0px;
  display: inline-block;
}
section#courseware ol.active-subchapter li > a[data-icon=""] {
  background-image: url("../../../../../../assets/images/icons/16/blue/infopage.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li > a[data-icon="chat"] {
  background-image: url("../../../../../../assets/images/icons/16/blue/chat.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li > a[data-icon="document"] {
  background-image: url("../../../../../../assets/images/icons/16/blue/infopage.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li > a[data-icon="task"] {
  background-image: url("../../../../../../assets/images/icons/16/blue/assessment.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li > a[data-icon="video"] {
  background-image: url("../../../../../../assets/images/icons/16/blue/video.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li:hover > a {
  background-color: #ddd;
}
section#courseware ol.active-subchapter li.visited > a {
  background-color: #f8f8f8;
  border-color: #ccc;
}
section#courseware ol.active-subchapter li.selected > a {
  background-color: #24437C;
  border-color: #222;
  font-weight: normal;
}
section#courseware ol.active-subchapter li.selected > a[data-icon=""] {
  background-image: url("../../../../../../assets/images/icons/16/white/infopage.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="chat"] {
  background-image: url("../../../../../../assets/images/icons/16/white/chat.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="document"] {
  background-image: url("../../../../../../assets/images/icons/16/white/infopage.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="task"] {
  background-image: url("../../../../../../assets/images/icons/16/white/assessment.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="video"] {
  background-image: url("../../../../../../assets/images/icons/16/white/video.png");
  background-position: center center;
  background-repeat: no-repeat;
}
section#courseware ol.active-subchapter li > a.handle {
  display: none;
  line-height: 25px;
  width: 25px;
  padding: 5px;
  background: #d0d0d0 url("../../../../../../plugins_packages/core/Forum/img/anfasser_24.png") center center no-repeat;
  cursor: move;
}
section#courseware ol.active-subchapter li.selected > a.handle {
  background-color: transparent;
}
section#courseware ol.active-subchapter li.loading > a {
  background: url("../../../../../../assets/images/ajax_indicator_small.gif") center center no-repeat;
}
section#courseware ol.active-subchapter.ui-sortable li > a {
  width: 50px;
  background-position: 25px center;
}
section#courseware ol.active-subchapter.ui-sortable li > a .handle {
  display: inline;
}
section#courseware section.active-section {
  float: left;
  margin-top: 70px;
  width: 76%;
}
section#courseware:not(.user-may-author) .mode-switch,
section#courseware:not(.user-may-author) .controls {
  display: none;
}
section#courseware.view-student .controls {
  display: none;
}
section#courseware.loading {
  opacity: 0.5;
}
section#courseware.loading h1 {
  background: url(../../../../../../assets/images/ajax_indicator_small.gif) left center no-repeat;
  padding-left: 20px;
}
section#courseware.loading .mode-switch,
section#courseware.loading .controls,
section#courseware .chapter.loading .controls,
section#courseware .subchapter.loading .controls {
  visibility: hidden !important;
}
section#courseware .mode-switch {
  position: absolute;
  top: 7px;
  right: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
section#courseware .mode-switch button {
  display: block;
  float: left;
  background: #e9e9e9;
  padding: 2px 10px;
  margin: 0px;
  border: 1px solid #bbb;
  text-align: center;
  width: 40px;
  height: 27px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
section#courseware .mode-switch button:hover {
  cursor: pointer;
}
section#courseware .mode-switch button.student {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  background-image: url("../../../../../../assets/images/icons/32/blue/headache.png");
  background-position: center 0px;
}
section#courseware .mode-switch button.author {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  background-image: url("../../../../../../assets/images/icons/32/blue/doctoral_cap.png");
}
section#courseware.view-student > .mode-switch .student,
section#courseware.view-author > .mode-switch .author {
  background-color: #24437C;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  border-color: #999;
}
section#courseware.view-student > .mode-switch .student {
  background-image: url("../../../../../../assets/images/icons/32/white/headache.png");
}
section#courseware.view-author > .mode-switch .author {
  background-image: url("../../../../../../assets/images/icons/32/white/doctoral_cap.png");
}
section#courseware .active-subchapter[data-blockid=""] button.add-section,
section#courseware .active-subchapter[data-blockid=""] button.init-sort-chapter,
section#courseware .active-subchapter[data-blockid=""] button.init-sort-subchapter,
section#courseware .active-subchapter[data-blockid=""] button.init-sort-section,
section#courseware .active-subchapter[data-blockid=""] button.stop-sort-chapter,
section#courseware .active-subchapter[data-blockid=""] button.stop-sort-subchapter,
section#courseware .active-subchapter[data-blockid=""] button.stop-sort-section {
  display: none;
}
section#courseware > .chapters > .controls > button,
section#courseware > .chapters > .chapter > .subchapters > .controls > button,
section#courseware > .chapters > .chapter > .subchapters > .subchapter > .active-subchapter > .controls > button {
	border: 1px solid #bbb;
	background-color: #e9e9e9;
	padding: 5px 6px 5px 28px;
	margin: 5px 0px 0px 0px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
  min-height: 27px;
  background-repeat: no-repeat;
  width: 90%;
  text-align: left;
}
section#courseware > .chapters > .chapter > .subchapters > .subchapter > .active-subchapter > .controls > button {
	width: auto !important;
	margin: 0px;
}
section#courseware > .chapters > .controls > button:hover,
section#courseware > .chapters > .chapter > .subchapters > .controls > button:hover,
section#courseware > .chapters > .chapter > .subchapters > .subchapter > .active-subchapter > .controls > button:hover {
	background-color: #F8F8F8;
  border-color: #cccccc;
}
section#courseware .chapters .controls {
	text-align: center;
	margin-bottom: 5px;
}
section#courseware button.add-chapter,
section#courseware button.add-subchapter,
section#courseware button.add-section {
  background-image: url("../../../../../../assets/images/icons/16/blue/add.png");
  background-position: 6px center;
}
section#courseware button.add-chapter,
section#courseware button.add-subchapter {
  /* margin: 5px 0px 5px 10px; */
}
section#courseware button.init-sort-chapter,
section#courseware button.init-sort-subchapter,
section#courseware button.init-sort-section {
  background-image: url("../../../../../../assets/images/icons/16/blue/ranking.png");
  background-position: 6px 2px;
}
section#courseware button.stop-sort-chapter,
section#courseware button.stop-sort-subchapter,
section#courseware button.stop-sort-section {
  background-image: url("../../../../../../assets/images/icons/16/blue/accept.png");
  background-position: 6px center;
  display: none;
}
section#courseware .edit-structure {
  position: relative;
}
section#courseware .edit-structure input {
  width: 68%;
  padding: 4px 5px;
  margin: 2px 0px;
  border-radius: 3px;
  border: 1px solid #BBBBBB;
}
section#courseware .edit-structure input:focus {
  border-color: #009EFF;
}
section#courseware .edit-structure button {
  position: absolute;
  top: 3px;
  padding: 0 0 7px;
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;
}
section#courseware .edit-structure button:hover {
  cursor: pointer;
}
section#courseware .edit-structure button.cancel {
  background: url("../../../../../../assets/images/icons/16/grey/decline.png") center center no-repeat;
  right: 10px;
}
section#courseware .edit-structure button.ok {
  background: url("../../../../../../assets/images/icons/16/grey/accept.png") center center no-repeat;
  right: -10px;
}
section#courseware .chapters .handle {
  display: none;
  color: transparent;
  line-height: 25px;
  width: 25px;
  padding: 5px;
  background: transparent url("../../../../../../plugins_packages/core/Forum/img/anfasser_24.png") center center no-repeat;
  cursor: move;
}
section#courseware .chapters.sorting > .controls button,
section#courseware .chapters.sorting .subchapters > .controls button,
section#courseware .chapters.sorting .chapter > .title button,
section#courseware .chapters.sorting .subchapter > .title button {
  display: none;
}
section#courseware .chapters.sorting.ui-sortable .chapter > .title {
  background-image: none;
}
section#courseware .chapters.sorting.ui-sortable .chapter > .title .handle {
  display: inline;
}
section#courseware .chapters.sorting.ui-sortable .stop-sort-chapter {
  display: inline-block !important;
}
section#courseware .chapters.sorting.ui-sortable .subchapter > .title {
  display: none;
}
section#courseware .chapters.sorting .subchapters.ui-sortable .subchapter > .title .handle {
  display: inline;
}
section#courseware .chapters.sorting .subchapters.ui-sortable .stop-sort-subchapter {
  display: inline-block;
}
