section#courseware {


  & > div.controls {
    position: absolute;
    top: 0;
    right: 0;

  }

  &.view-student > div.controls button.student,
  &.view-author  > div.controls button.author {
    display: none;
  }
}
