<input type="hidden" class="assorttype-selection-assort" name="assorttype-selection-assort" value="{{assorttype}}">
<input type="hidden" class="assortblocks-selection-assort" name="assortblocks-selection-assort" value="{{assortblocks}}">
<div id="assorttypeselectors">
    <label>Accordion
    <input type="radio"  name="assorttype" value="accordion" checked></label>
    <label>Tabs
    <input type="radio"  name="assorttype" value="tabs"></label>
    <label>vertical Tabs
    <input type="radio"  name="assorttype" value="vtabs"></label>
</div>

<ul id="assortblock-list">
{{#blocks}}
    <li>
        <label>
        <input type="checkbox" name="assortblocks" value="{{blockid}}">
        Block: {{blockid}}</label>
        <input type="text" id="blockname-{{blockid}}" name="assortblockname" size="20" placeholder="Titel">
        
    </li>
{{/blocks}}
</ul>
<br>
<button name="save" class="button">Speichern</button>
<button name="cancel" class="button">Abbrechen</button>
