<input type="hidden" id="assorttype-selection-assort" name="assorttype-selection-assort" value="{{assorttype}}">
<input type="hidden" id="assortblocks-selection-assort" name="assortblocks-selection-assort" value="{{assortblocks}}">
<div id="assorttypeselectors">
    <label for="accordion-asort">Accordion</label>
    <input type="radio" id="accordion-assort" name="assorttype" value="accordion" checked>
    <label for="tabs-assort">Tabs</label>
    <input type="radio" id="tabs-assort" name="assorttype" value="tabs">
    <label for="tabs-assort">vertical Tabs</label>
    <input type="radio" id="tabs-assort" name="assorttype" value="vtabs">
</div>

<ul id="assortblock-list">
{{#blocks}}
    <li>
        
        <input type="checkbox" name="assortblocks" value="{{blockid}}">
        <label for="assortblocks">Block: {{blockid}}</label>
        <input type="text" id="blockname-{{blockid}}" name="assortblockname" size="20" placeholder="Titel">
        
    </li>
{{/blocks}}
</ul>
<br>
<button name="save" class="button">Speichern</button>
<button name="cancel" class="button">Abbrechen</button>
