<input type="hidden" id="assorttype-selection-assort" name="assorttype-selection-assort" value="{{assorttype}}">
<input type="hidden" id="assortblocks-selection-assort" name="assortblocks-selection-assort" value="{{assortblocks}}">

