<h2>Diskussion</h2>

{{^inactive}}
<div>
    {{#connected}}
    {{#i18n}}Momentan verknüpft mit:{{/i18n}} <a href="{{area_url}}">{{area_name}}</a><br>
    <br>
    {{/connected}}

    {{#i18n}}Wähle hier einen vorhandenen Forenbereich aus oder lasse automatisch einen neuen erstellen:{{/i18n}}
    <select name="area">
        <option value="-1">{{#i18n}}Automatisch neuen Forenbereich erstellen{{/i18n}}</option>
    {{#areas}}
    <option value="{{topic_id}}">
        {{name_raw}}
    </option>
    {{/areas}}
    </select><br>

    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
{{/inactive}}

{{#inactive}}
<div class="messagebox messagebox_info">
    {{#i18n}}Für diesen Forumsblock muss das Forum in dieser Veranstaltung eingeschaltet werden...{{/i18n}}
</div>
{{/inactive}}
