<h2>Diskussion{{#area_name}} - {{area_name}}{{/area_name}}</h2>

{{^inactive}}
<div>
    {{^connected}}
        {{#i18n}}Es wurde bisher kein Bereich verknüpft!{{/i18n}}
    {{/connected}}

    {{#connected}}
    {{#topics}}
    <div>
        <a href="{{link_to_post}}">{{name}}</a> <span style="font-size: 0.8em">{{human_date}}</span><br>
    </div>
    {{/topics}}

    <br>
    <a href="{{area_url}}">{{#i18n}}Alles anzeigen / Eigenen Beitrag schreiben{{/i18n}}</a>
    {{/connected}}
</div>
{{/inactive}}

{{#inactive}}
<div class="messagebox messagebox_info">
    {{#i18n}}Für diesen Forumsblock muss das Forum in dieser Veranstaltung eingeschaltet werden...{{/i18n}}
</div>
{{/inactive}}
