<input type="hidden" class="cw-noteblock-quantity-stored" value="{{note_quantity}}">
<textarea class="{{note_type}}" style="background-color: {{note_color_student_view}};"></textarea>
<br><br>
<button name="download" class="button">{{#i18n}}Download{{/i18n}}</button>
