section.VideoBlock {
    input {
        width: 25em;
	margin: 1em;
	&[type="number"]{
		margin-left: 0.5em;
		width: 4em;
	}
    }
    iframe {
        width: 860px;
        height: 484px;
        border: none;
        overflow: hidden;
    }
}
