<section
  id=block-{{id}}
  class="block {{type}}"
  data-blockid="{{id}}"
  data-blocktype="{{type}}">

  <div class="controls{{#editable}} editable{{/editable}}{{^editable}} not-editable{{/editable}}">
    <span class="type">{{readable_name}}</span>

    <button class=lower>{{#i18n}}Absenken{{/i18n}}</button>
    <button class=raise>{{#i18n}}Anheben{{/i18n}}</button>
    <button class=author>{{#i18n}}Ändern{{/i18n}}</button>
    <button class=trash>{{#i18n}}Entfernen{{/i18n}}</button>
    <button class=info title="Id: {{id}}, erstellt am: {{make_date}}, Blocktyp: {{type}}">{{#i18n}}Info{{/i18n}}</button>
    
  </div>

  <div class="block-content" data-view="{{view_name}}">
    {{{block_content}}}
  </div>
</section>
