<h3 class="cw-block-adder-header">{{#i18n}}Block hinzufügen{{/i18n}}</h3>
<div class="cw-block-adder-wrapper">
    <div class="cw-block-adder-menu" style="text-align: center; width: 100%; padding: 1em 0;">
        <button class="button cw-block-adder-selector" data-blockclass="all">{{#i18n}}Alle{{/i18n}}</button>
        <button class="button cw-block-adder-selector" data-blockclass="interaction">{{#i18n}}Interaktion{{/i18n}}</button>
        <button class="button cw-block-adder-selector" data-blockclass="layout">{{#i18n}}Strukturen & Layout{{/i18n}}</button>
        <button class="button cw-block-adder-selector" data-blockclass="multimedia">{{#i18n}}Multimedia{{/i18n}}</button>
        <button class="button cw-block-adder-selector" data-blockclass="favorite">{{#i18n}}Favoriten{{/i18n}}</button>
    </div>

    <div class="cw-block-adder-tab" data-blockclass="all">
        <ul>
        {{#content_block_types_all}}
            <li class="cw-block-adder-item" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-adder-item-icon cw-block-adder-item-icon-{{type}} "></div>
                <p class="cw-block-adder-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-adder-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_all}}
        </ul>
        <div class="clear"></div>
    </div>

    <div class="cw-block-adder-tab" data-blockclass="interaction">
        <ul>
        {{#content_block_types_interaction}}
            <li class="cw-block-adder-item" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-adder-item-icon cw-block-adder-item-icon-{{type}} "></div>
                <p class="cw-block-adder-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-adder-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_interaction}}
        </ul>
        <div class="clear"></div>
    </div>

    <div class="cw-block-adder-tab" data-blockclass="layout">
        <ul>
        {{#content_block_types_layout}}
            <li class="cw-block-adder-item" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-adder-item-icon cw-block-adder-item-icon-{{type}} "></div>
                <p class="cw-block-adder-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-adder-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_layout}}
        {{#content_block_types_function}}
            <li class="cw-block-adder-item" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-adder-item-icon cw-block-adder-item-icon-{{type}} "></div>
                <p class="cw-block-adder-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-adder-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_function}}
        </ul>
        <div class="clear"></div>
    </div>

    <div class="cw-block-adder-tab" data-blockclass="multimedia">
        <ul>
        {{#content_block_types_multimedia}}
            <li class="cw-block-adder-item" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-adder-item-icon cw-block-adder-item-icon-{{type}} "></div>
                <p class="cw-block-adder-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-adder-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_multimedia}}
        </ul>
        <div class="clear"></div>
    </div>

    <div class="cw-block-adder-tab" data-blockclass="favorite">
        <ul class="cw-block-adder-favs">
        {{#content_block_types_favorite}}
            <li class="cw-block-adder-item {{#selected}}cw-block-adder-item-fav{{/selected}}" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-adder-item-icon cw-block-adder-item-icon-{{type}} "></div>
                <p class="cw-block-adder-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-adder-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_favorite}}
        </ul>
        <div class="clear"></div>
        <ul class="cw-block-add-fav-all-blocks">
        {{#content_block_types_favorite}}
            <li class="cw-block-fav-item {{#selected}}cw-block-fav-item-selected{{/selected}}" data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}} data-blockname="{{name}}" data-title="{{hint}}">
                <div class="cw-block-fav-item-icon cw-block-fav-item-icon-{{type}} "></div>
                <p class="cw-block-fav-item-name">{{#i18n}}{{name}}{{/i18n}}</p>
                <p class="cw-block-fav-item-description">{{#i18n}}{{description}}{{/i18n}}</p>
            </li>
        {{/content_block_types_favorite}}
        </ul>
        <div class="clear"></div>
        <div class="cw-button-box">
            <button class="button cw-block-edit-fav" data-blockclass="favorite">{{#i18n}}Favoriten anpassen{{/i18n}}</button>
            <button class="button cw-block-store-fav" data-blockclass="favorite">{{#i18n}}Anpassen abschließen{{/i18n}}</button>
        </div>
    </div>
</div>
