<section
  id=block-{{id}}
  class="block {{type}}"
  data-id="{{id}}"
  data-type="{{type}}">

  <h1>Block No. {{id}}</h1>

  <div class=controls>
    <button class=author>Ändern</button>
  </div>

  <div class=block-content>
    {{{content}}}
  </div>
</section>
