<div class="block-types">
  {{#content_block_types}}
    <button class="add-block-type" data-blocktype="{{type}}"{{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}}>{{#i18n}}{{name}}{{/i18n}}</button>
  {{/content_block_types}}
</div>
