<div class="styled-select">
    <select class="block-types">
         <optgroup label="Standard-Blöcke">
        {{#content_block_types_basic}}
            <option data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}}>
                {{#i18n}}{{name}}{{/i18n}}
            </option>
        {{/content_block_types_basic}}
         </optgroup>
         <optgroup label="Erweiterte-Blöcke">
        {{#content_block_types_advanced}}
            <option data-blocktype="{{type}}" {{#sub_type}} data-blocksubtype="{{sub_type}}"{{/sub_type}}>
                {{#i18n}}{{name}}{{/i18n}}
            </option>
        {{/content_block_types_advanced}}
        </optgroup>
    </select>
</div>
<button class="button add-block">{{#i18n}}Block hinzufügen{{/i18n}}</button>
