<form>
  <input name=title value="{{title}}" required>
  <button type="submit" class="ok">{{#i18n}}Ok{{/i18n}}</button>
  <button type="button" class="cancel">{{#i18n}}Abbrechen{{/i18n}}</button>
</form>
