<div class="cw-section-icon-selection-wrapper">
    <p>{{#i18n}}Wählen Sie ein Icon für diesen Abschnitt aus{{/i18n}}:</p>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="document" /><div class="cw-section-icon-selection-document">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="video" /><div class="cw-section-icon-selection-video">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="chat" /><div class="cw-section-icon-selection-chat">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="code" /><div class="cw-section-icon-selection-code">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="audio" /><div class="cw-section-icon-selection-audio">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="gallery" /><div class="cw-section-icon-selection-gallery">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="task" /><div class="cw-section-icon-selection-task">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="search" /><div class="cw-section-icon-selection-search">{{#i18n}}{{/i18n}}</div></label>

    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="doctoral_cap" /><div class="cw-section-icon-selection-doctoral_cap">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="community" /><div class="cw-section-icon-selection-community">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="action" /><div class="cw-section-icon-selection-action">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="plugin" /><div class="cw-section-icon-selection-plugin">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="graph" /><div class="cw-section-icon-selection-graph">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="admin" /><div class="cw-section-icon-selection-admin">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="billboard" /><div class="cw-section-icon-selection-billboard">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="category" /><div class="cw-section-icon-selection-category">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="cloud2" /><div class="cw-section-icon-selection-cloud2">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="comment" /><div class="cw-section-icon-selection-comment">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="date" /><div class="cw-section-icon-selection-date">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="edit-small" /><div class="cw-section-icon-selection-edit-small">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="exclaim" /><div class="cw-section-icon-selection-exclaim">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="favorite" /><div class="cw-section-icon-selection-favorite">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="file" /><div class="cw-section-icon-selection-file">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="folder-empty2" /><div class="cw-section-icon-selection-folder-empty2">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="group2" /><div class="cw-section-icon-selection-group2">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="guestbook" /><div class="cw-section-icon-selection-guestbook">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="home" /><div class="cw-section-icon-selection-home">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="key" /><div class="cw-section-icon-selection-key">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="literature" /><div class="cw-section-icon-selection-literature">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="license" /><div class="cw-section-icon-selection-license">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="news" /><div class="cw-section-icon-selection-news">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="notification2" /><div class="cw-section-icon-selection-notification2">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="place" /><div class="cw-section-icon-selection-place">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="print" /><div class="cw-section-icon-selection-print">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="ranking" /><div class="cw-section-icon-selection-ranking">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="refresh" /><div class="cw-section-icon-selection-refresh">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="resources" /><div class="cw-section-icon-selection-resources">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="staple" /><div class="cw-section-icon-selection-staple">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="star" /><div class="cw-section-icon-selection-star">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="stat" /><div class="cw-section-icon-selection-stat">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="studygroup" /><div class="cw-section-icon-selection-studygroup">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="tag" /><div class="cw-section-icon-selection-tag">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="wizard" /><div class="cw-section-icon-selection-wizard">{{#i18n}}{{/i18n}}</div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="youtube" /><div class="cw-section-icon-selection-youtube">{{#i18n}}{{/i18n}}</div></label>

    <div class="cw-section-icon-selection-button-wrapper">
        <button name="icon-save" class="ok">ok</button>
        <button name="icon-cancel" class="cancel">cancel</button>
    </div>
</div>

