<div class="cw-section-icon-selection-wrapper">
    <p>{{#i18n}}Wählen Sie ein Icon für diesen Abschnitt aus{{/i18n}}:</p>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="document" /><div class="cw-section-icon-selection-document"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="video" /><div class="cw-section-icon-selection-video"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="opencast" /><div class="cw-section-icon-selection-opencast"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="chat" /><div class="cw-section-icon-selection-chat"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="code" /><div class="cw-section-icon-selection-code"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="audio" /><div class="cw-section-icon-selection-audio"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="gallery" /><div class="cw-section-icon-selection-gallery"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="task" /><div class="cw-section-icon-selection-task"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="search" /><div class="cw-section-icon-selection-search"></div></label>

    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="doctoral_cap" /><div class="cw-section-icon-selection-doctoral_cap"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="community" /><div class="cw-section-icon-selection-community"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="action" /><div class="cw-section-icon-selection-action"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="plugin" /><div class="cw-section-icon-selection-plugin"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="graph" /><div class="cw-section-icon-selection-graph"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="admin" /><div class="cw-section-icon-selection-admin"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="billboard" /><div class="cw-section-icon-selection-billboard"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="category" /><div class="cw-section-icon-selection-category"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="cloud2" /><div class="cw-section-icon-selection-cloud2"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="comment" /><div class="cw-section-icon-selection-comment"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="date" /><div class="cw-section-icon-selection-date"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="edit-small" /><div class="cw-section-icon-selection-edit-small"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="exclaim" /><div class="cw-section-icon-selection-exclaim"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="favorite" /><div class="cw-section-icon-selection-favorite"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="file" /><div class="cw-section-icon-selection-file"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="folder-empty2" /><div class="cw-section-icon-selection-folder-empty2"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="group2" /><div class="cw-section-icon-selection-group2"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="guestbook" /><div class="cw-section-icon-selection-guestbook"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="home" /><div class="cw-section-icon-selection-home"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="key" /><div class="cw-section-icon-selection-key"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="literature" /><div class="cw-section-icon-selection-literature"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="license" /><div class="cw-section-icon-selection-license"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="news" /><div class="cw-section-icon-selection-news"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="notification2" /><div class="cw-section-icon-selection-notification2"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="place" /><div class="cw-section-icon-selection-place"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="print" /><div class="cw-section-icon-selection-print"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="ranking" /><div class="cw-section-icon-selection-ranking"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="refresh" /><div class="cw-section-icon-selection-refresh"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="resources" /><div class="cw-section-icon-selection-resources"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="staple" /><div class="cw-section-icon-selection-staple"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="star" /><div class="cw-section-icon-selection-star"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="stat" /><div class="cw-section-icon-selection-stat"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="studygroup" /><div class="cw-section-icon-selection-studygroup"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="tag" /><div class="cw-section-icon-selection-tag"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="wizard" /><div class="cw-section-icon-selection-wizard"></div></label>
    <label class="cw-section-icon-selection-label" ><input type="radio" name="cw-section-icon-selection" class="cw-section-icon-selection" value="youtube" /><div class="cw-section-icon-selection-youtube"></div></label>

    <div class="cw-section-icon-selection-button-wrapper">
        <button name="icon-save" class="ok">ok</button>
        <button name="icon-cancel" class="cancel">cancel</button>
    </div>
</div>

