{{> title}}

{{#blocks}}
  {{> block_wrapper}}
{{/blocks}}

<div class=no-content>
  <p>{{#i18n}}Keine Inhaltsblöcke{{/i18n}}</p>
</div>

<div class=block-adder>
  <h3>Block hinzufügen:</h3>

  {{#content_block_types}}
    <button class=add-block-type data-blocktype="{{type}}">{{#i18n}}{{name}}{{/i18n}}</button>
  {{/content_block_types}}
</div>

<div class=section_navigation>
  {{#prev_section}}
    <a class="prev button navigate"
       data-blockid={{id}}
       href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}"
       title="{{title}}">
      {{#i18n}}zurück{{/i18n}}
    </a>
  {{/prev_section}}
  {{^prev_section}}
    <a class="prev button disabled"
       href="#"
       title="{{title}}">
      {{#i18n}}zurück{{/i18n}}
    </a>
  {{/prev_section}}

  {{#next_section}}
    <a class="next button navigate"
       data-blockid={{id}}
       href="{{#plugin_url}}courseware?selected={{id}}{{/plugin_url}}"
       title="{{title}}">
      {{#i18n}}weiter{{/i18n}}
    </a>
  {{/next_section}}
  {{^next_section}}
    <a class="next button disabled"
       href="#"
       title="{{title}}">
      {{#i18n}}weiter{{/i18n}}
    </a>
  {{/next_section}}
</div>
