{{#blocks}}
  {{> block_wrapper}}
{{/blocks}}

<div class=no-content>
  <p>{{#i18n}}Keine Inhaltsblöcke{{/i18n}}</p>
</div>

<div class=block-adder>
  <h3>Block hinzufügen:</h3>

  {{#content_block_types}}
    <a class=add-block-type data-type="{{type}}">{{type}}</a>
  {{/content_block_types}}
</div>
