<div class=title>
  <h1>
    {{title}}
    <span class=controls>
      <button class=edit>{{#i18n}}Ändern{{/i18n}}</button>
        <button class=trash>{{#i18n}}Entfernen{{/i18n}}</button>
    </span>
  </h1>
</div>
