<div class=title>
  <h1>
    {{title}}
    <span class=controls>
      <button class="edit" data-title="{{#i18n}}Abschnittstitel bearbeiten{{/i18n}}">{{#i18n}}Ändern{{/i18n}}</button>
      <button class="trash" data-title="{{#i18n}}Abschnitt löschen{{/i18n}}">{{#i18n}}Entfernen{{/i18n}}</button>
    </span>
  </h1>
</div>
