section.BlubberBlock div.blubber-stream.loading {
  background-image: url('../../../../../../assets/images/ajax_indicator_small.gif');
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px;
  opacity: 0.5;
}
