<label for="cw-date-countdown-date">{{#i18n}}Datum{{/i18n}}:</label>
<input type="date" class="cw-date-countdown-date" name="cw-date-countdown-date" value="{{countdown-date}}">

<br>
<label for="cw-date-countdown-time">{{#i18n}}Uhrzeit{{/i18n}}:</label>
<input type="time" class="cw-date-countdown-time" name="cw-date-countdown-time" value="{{countdown-time}}">
<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
