<table cellspacing="4" style="border: 2px solid #ccc">
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Titel{{/i18n}}</td>
    <td>{{title}}{{^title}}–{{/title}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Beschreibung{{/i18n}}</td>
    <td>{{description}}{{^description}}–{{/description}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Ort{{/i18n}}</td>
    <td>{{location}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Typ{{/i18n}}</td>
    <td>{{type}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Datum{{/i18n}}</td>
    <td>{{date}}{{^date}}–{{/date}}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">{{#i18n}}Zeit{{/i18n}}</td>
    <td>{{time}}{{^time}}–{{/time}}</td>
  </tr>
</table>
<h6>{{#i18n}}Termin-Block{{/i18n}}</h6>
