<input type="hidden" class="cw-date-stored-content" value="{{date_content}}">

<div class="cw-date-wrapper">
    <div class="cw-date-countdown">
        <div class="cw-date-countdown-digit" data-countdown="days">
            <div class="cw-date-countdown-number"></div>
            <div class="cw-date-countdown-label-sg">{{#i18n}}Tag{{/i18n}}</div>
            <div class="cw-date-countdown-label-pl">{{#i18n}}Tage{{/i18n}}</div>
        </div>
        <div class="cw-date-countdown-digit" data-countdown="hours">
            <div class="cw-date-countdown-number"></div>
            <div class="cw-date-countdown-label-sg">{{#i18n}}Stunde{{/i18n}}</div>
            <div class="cw-date-countdown-label-pl">{{#i18n}}Stunden{{/i18n}}</div>
        </div>
        <div class="cw-date-countdown-digit" data-countdown="minutes">
            <div class="cw-date-countdown-number"></div>
            <div class="cw-date-countdown-label-sg">{{#i18n}}Minute{{/i18n}}</div>
            <div class="cw-date-countdown-label-pl">{{#i18n}}Minuten{{/i18n}}</div>
        </div>
        <div class="cw-date-countdown-digit" data-countdown="seconds">
            <div class="cw-date-countdown-number"></div>
            <div class="cw-date-countdown-label-sg">{{#i18n}}Sekunde{{/i18n}}</div>
            <div class="cw-date-countdown-label-pl">{{#i18n}}Sekunden{{/i18n}}</div>
        </div>
    </div>
    <div class="cw-date-studip-appointment">

    </div>
    <div class="cw-date-own-appointment">

    </div>
</div>
<button class="button cw-date-download">download</button>
