{{^inactive}}
{{#iav_url}}
<input type="hidden" class="overlay-json" value="{{iav_overlays}}">
<input type="hidden" class="stop-json" value="{{iav_stops}}">
<input type="hidden" class="test-json" value="{{iav_tests}}">
<div class="cw-iav-wrapper">
    <video class="cw-iav-player" id="video" oncontextmenu="return false;" preload="metadata">
        <source src="{{iav_url}}#t=0.5" type="video/mp4">
    </video>
    <div class="cw-iav-overlay-wrapper">
        <div class="cw-iav-overlay-content cw-iav-overlay-content-default" >
            <h2 class="cw-iav-overlay-content-title"></h2>
            <p class="cw-iav-overlay-content-text"></p>
        </div>
    </div>
    <div class="cw-iav-stop-wrapper">
        <div class="cw-iav-stop-content cw-iav-stop-content-default" >
            <h2 class="cw-iav-stop-content-title"></h2>
            <p class="cw-iav-stop-content-text"></p>
            <button class="button cw-iav-stop-button-continue">weiter</button>
        </div>
    </div>
    <div class="cw-iav-test-wrapper {{#vips14}}vips14{{/vips14}}">
        {{#exercises}}
            <div class="cw-iav-test-content" data-testid="{{id}}" style="display: none;">
                <form class="studip_form">
                        <input type="hidden" name="action" value="sheets">
                        <input type="hidden" name="subaction" value="submit_exercise">
                        <input type="hidden" name="submit_exercise" value="1">
                        <input type="hidden" name="exercise_id" value="{{id}}">
                    <input type="hidden" class="cw-iav-test-content-test-id" value="{{id}}">
                    {{#has_solution}}
                        {{#correct}}
                            <input type="hidden" class="cw-iav-test-correct" value="true">
                            <div class="messagebox messagebox_success">{{#i18n}}Ihre Lösung ist korrekt!{{/i18n}}</div>
                            {{#tb_exercise}}
                                <div class="messagebox messagebox_info">{{#i18n}}Bitte vergleichen Sie Ihre Lösung mit der Musterlösung.{{/i18n}}</div>
                            {{/tb_exercise}}
                            <h2 class="cw-iav-test-content-title">{{title}}</h2>
                            <p class="cw-iav-test-content-question-description">{{{question_description}}}</p>
                            <div class="cw-iav-test-content-question">{{{solution}}}</div>
                        {{/correct}}
                        {{^correct}}
                            <div class="messagebox messagebox_error">{{#i18n}}Ihr Lösungsversuch war noch nicht korrekt. {{#tries_left}} Versuchen Sie es bitte nochmal. Sie haben noch {{tries_left}} Versuch{{#tries_pl}}e{{/tries_pl}}.{{/tries_left}}{{/i18n}}</div>
                             <h2 class="cw-iav-test-content-title">{{title}}</h2>
                            <p class="cw-iav-test-content-question-description">{{{question_description}}}</p>
                            {{^no_more_tries}}
                                <div class="cw-iav-test-content-question">{{{question}}}</div>
                                <button name="submit-exercise" class="button" style="display: inline-block">{{#i18n}}Abschicken{{/i18n}}</button>
                            {{/no_more_tries}}
                            {{#no_more_tries}}
                                <input type="hidden" class="cw-iav-test-correct" value="true">
                                <div class="cw-iav-test-content-question">{{{solution}}}</div>
                            {{/no_more_tries}}
                        {{/correct}}
                    {{/has_solution}}
                    {{^has_solution}}
                        <h2 class="cw-iav-test-content-title">{{title}}</h2>
                        <p class="cw-iav-test-content-question-description">{{{question_description}}}</p>
                        <div class="cw-iav-test-content-question">{{{question}}}</div>
                        <button name="submit-exercise" class="button" style="display: inline-block">{{#i18n}}Abschicken{{/i18n}}</button>
                    {{/has_solution}}
                </form>
                {{#has_solution}}
                    {{#correct}}
                        <button class="button cw-iav-test-button-continue" data-testid="{{id}}">{{#i18n}}weiter{{/i18n}}</button>
                    {{/correct}}
                    {{^correct}}
                        {{#no_more_tries}}
                            <button class="button cw-iav-test-button-continue" data-testid="{{id}}">{{#i18n}}weiter{{/i18n}}</button>
                        {{/no_more_tries}}
                    {{/correct}}
                {{/has_solution}}
            </div>
        {{/exercises}}
    </div>
</div>
<div class="cw-iav-controls">
    {{^range_inactive}}<div class="cw-iav-range" ></div>{{/range_inactive}}
    {{#range_inactive}}<br>{{/range_inactive}}
    <span class="cw-iav-time"></span>
    <button class="cw-iav-playbutton" name="play" ></button> 
    <button class="cw-iav-stopbutton" name="stop" ></button> 
</div>
{{/iav_url}}
{{^iav_url}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Es wurde noch keine Videodatei ausgewählt.{{/i18n}}
    </div>
{{/iav_url}}
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
