<input type="hidden" class="cw-audioblock-description-stored" value="{{audio_description}}">
<input type="hidden" class="cw-audioblock-source-stored" value="{{audio_source}}">
<input type="hidden" class="cw-audioblock-file-stored" value="{{audio_file}}">

<label for="cw-audioblock-description">{{#i18n}}Beschreibung{{/i18n}}:</label>
<input type="text" name="cw-audioblock-description" class="cw-audioblock-description">
<br>
<label for="cw-audioblock-source">{{#i18n}}Quelle{{/i18n}}:</label>
<select class="cw-audioblock-source" name="cw-audioblock-source">
    <option value="cw">{{#i18n}}Dateibereich{{/i18n}}</option>
    <option value="webaudio">{{#i18n}}webAudio{{/i18n}}</option>
</select>
<br>
<label for="cw-audioblock-file">{{#i18n}}Audiodatei{{/i18n}}: </label>
<select class="cw-audioblock-file" name="cw-audioblock-file">
    {{#audio_files}}
        <option value="../../sendfile.php?type=0&file_id={{dokument_id}}&file_name={{filename}}" document-id="{{dokument_id}}">{{name}}</option>
    {{/audio_files}}
</select>
<input class="cw-audioblock-file" name="cw-audioblock-file">
<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
