<audio class="cw-audio-player">
    <source src="{{audio_file}}" type="audio/mpeg" />
</audio>
<p>
    <span>{{audio_description}}</span>
    <button name="play" class="cw-audio-playbutton" played="{{audio_played}}"></button>
</p>
