<audio class="cw-audio-player">
    <source src="{{audio_file}}" type="audio/mpeg" />
</audio>
<p>
    <span>{{audio_description}}</span>
    <button name="play" class="cw-audio-playbutton" played="{{audio_played}}"></button>
<span class="cw-audio-played-message" style="display: none;">
<br>   {{#i18n}}Du hast diese Audiodatei bereits gehört! Ein erneutes Abspielen ist nicht möglich.{{/i18n}}
</span>
</p>
