<input type="hidden" class="cw-selfevaluation-content-stored" value="{{selfevaluation_content}}">
<input type="hidden" class="cw-selfevaluation-value-stored" value="{{selfevaluation_value}}">
<label for="cw-selfevaluation-title">{{#i18n}}Titel{{/i18n}}: </label><input class="cw-selfevaluation-input" type="text" name="cw-selfevaluation-title" value="{{selfevaluation_title}}">
<br>
<label for="cw-selfevaluation-description">{{#i18n}}Beschreibung{{/i18n}}: </label>
<textarea class="cw-selfevaluation-description" name="cw-selfevaluation-description">{{selfevaluation_description}}</textarea>
<br>
<label for="cw-selfevaluation-content-value-good">{{#i18n}}Wertung (++){{/i18n}}: </label><input class="cw-selfevaluation-input" type="text" name="cw-selfevaluation-content-value-good">
<br>
<label for="cw-selfevaluation-content-value-bad">{{#i18n}}Wertung (--){{/i18n}}: </label><input class="cw-selfevaluation-input" type="text" name="cw-selfevaluation-content-value-bad">
<hr>
<div class="cw-selfevaluation-content-container">
    <div class="cw-selfevaluation-content-item">
        <label for="cw-selfevaluation-content-item-topic">{{#i18n}}Element{{/i18n}}: </label><input class="cw-selfevaluation-input" type="text" maxlength="64" name="cw-selfevaluation-content-item-topic">
    </div>
    <button name="add-element" class="button cw-selfevaluation-author-button">{{#i18n}}Element hinzufügen{{/i18n}}</button>
</div>
<br><br>
<button name="save" class="button cw-selfevaluation-author-button">{{#i18n}}Speichern{{/i18n}}</button>
<button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
