<input type="hidden" class="cw-selfevaluation-content-stored" value="{{selfevaluation_content}}">
<input type="hidden" class="cw-selfevaluation-value-stored" value="{{selfevaluation_value}}">
<p class="cw-selfevaluation-title">{{selfevaluation_title}}</p>
<p class="cw-selfevaluation-description">{{selfevaluation_description}}</p>
<div class="cw-selfevaluation-container">
</div>
<br><br>
<button name="download" class="button">{{#i18n}}Download{{/i18n}}</button>
