<input type="hidden" class="cw-selfevaluation-content-stored" value="{{selfevaluation_content}}">
<input type="hidden" class="cw-selfevaluation-value-stored" value="{{selfevaluation_value}}">
<p class="cw-selfevaluation-title">{{selfevaluation_title}}</p>
<p class="cw-selfevaluation-description">{{selfevaluation_description}}</p>
<div class="cw-selfevaluation-container">
</div>
<br><br>
<form action="print/selfevaluation">
    <input type="submit" value="download" name="download" target="_blank">
    <input type="hidden" name="selfevaluation-data">
    <input type="hidden" name="selfevaluation-title" value="{{selfevaluation_title}}">
    <input type="hidden" name="selfevaluation-description" value="{{selfevaluation_description}}">
</form>
