<input type="hidden" class="cw-postblock-id-stored" value="{{thread_id}}">

<label for="cw-postblock-title">{{#i18n}}Titel{{/i18n}}:</label>
<input type="text" name="cw-postblock-title" class="cw-postblock-title" value="{{post_title}}" spellcheck="true">
<br>

<label for="cw-postblock-reuse">{{#i18n}}Nutzer muss Beitrag verfassen um Fortschitt zu erreichen{{/i18n}}:</label>
<input type="checkbox" name="cw-postblock-has-to-post" class="cw-postblock-has-to-post" {{#has_to_post}} checked {{/has_to_post}}>
<br>

<label for="cw-postblock-reuse">{{#i18n}}Bereits vorhandene Diskussion verwenden{{/i18n}}:</label>
<input type="checkbox" name="cw-postblock-reuse" class="cw-postblock-reuse" {{#thread_id}} checked {{/thread_id}}>
<br>

<label for="cw-postblock-id">{{#i18n}}ID{{/i18n}}:</label>
<select name="cw-postblock-id" class="cw-postblock-id">
    {{#post_ids}}
        <option value="{{thread_id}}">{{thread_id}} ({{content}})</option>
    {{/post_ids}}
</select>
<br>

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
