{{^inactive}}
<p class="cw-postblock-header">{{post_title}}</p>
<input type="hidden" class="cw-postblock-timestamp" value="{{timestamp}}">
<div class="cw-postblock-posts shrink-messages">
    {{#posts}}
        <div class="talk-bubble {{#own_post}}own-{{/own_post}}post">
            {{^own_post}}
            <div class="post-user">
                {{{avatar}}}
                <p>{{user_name}}</p>
            </div>
            {{/own_post}}
          <div class="talktext">
            <p>{{content}}</p>
            <p class="talktext-time">{{date}}</p>
          </div>
        </div>
    {{/posts}}
</div>
<div class="clear"></div>
<div class="cw-postblock-buttonbox">
    <button name="showall" class="button cw-postblock-showall-messages">{{#i18n}}alles zeigen{{/i18n}}</button>
    <button name="shrink" class="button cw-postblock-shrink-messages" style="display: none;">{{#i18n}}weniger zeigen{{/i18n}}</button>
</div>
{{^nobody}}
    <div class="cw-postblock-messagebox">
        <textarea class="cw-postblock-textbox" style="width: calc(100% - 2em);" placeholder="{{#i18n}}Stellen Sie eine Frage oder kommentieren Sie...{{/i18n}}" spellcheck="true"></textarea>
        <button name="send" class="button cw-postblock-sendmessage">{{#i18n}}senden{{/i18n}}</button>
    </div>
{{/nobody}}
<div class="clear"></div>
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
