<input type="hidden" class="cw-dialogcards-stored-content" value="{{dialogcards_content}}">

<fieldset class="cw-dialogcards-card-content-default">
    <legend class="cw-dialogcards-card-content-legend">{{#i18n}}Karte{{/i18n}}</legend>
    <select class="cw-dialogcards-source cw-dialogcards-source-front">
        <option value="file">{{#i18n}}Vorderseite - Bild aus Dateibereich{{/i18n}}:</option>
        <option value="url">{{#i18n}}Vorderseite - Bild von URL{{/i18n}}:</option>
        <option value="none">{{#i18n}}kein Bild{{/i18n}}:</option>
    </select>
    <input type="text" name="cw-dialogcards-front-img" class="cw-dialogcards-front-img" placeholder="{{#i18n}}https://www.beispiel.de/bild.jpg{{/i18n}}">
    <button class="cw-dialogcards-front-img-info cw-info" data-title="{{#i18n}}Geben Sie hier eine URL an die direkt zu einer Bilddatei führt. Die URL können Sie z.B. aus der Adresszeile Ihres Browsers kopieren.{{/i18n}}"></button>
    <select class="cw-dialogcards-front-img-file" name="cw-dialogcards-front-img-file" {{#no_files}}disabled{{/no_files}}>
            {{^no_files}}
                <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
                    {{#image_files_course}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_course}}
                    {{^image_files_course}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_course}}
                </optgroup>
                <optgroup label="Dateien im eigenen Dateibereich">
                    {{#image_files_user}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_user}}
                    {{^image_files_user}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_user}}
                </optgroup>
                <optgroup label="Dateien im Dateibereich anderer Nutzer">
                    {{#image_files_other}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_other}}
                    {{^image_files_other}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_other}}
                </optgroup>
            {{/no_files}}
            {{#no_files}}
                <option value="" selected>{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
            {{/no_files}}
    </select>
    <button class="cw-dialogcards-front-img-file-info cw-info" data-title="{{#i18n}}Hier werden alle Bilddateien aus dem Dateibereich aufgelistet.{{/i18n}}"></button>
    <br>
    <label for="cw-dialogcards-front-text">{{#i18n}}Vorderseite - Text{{/i18n}}:</label>
    <input type="text" name="cw-dialogcards-front-text" class="cw-dialogcards-front-text">

    <select class="cw-dialogcards-source cw-dialogcards-source-back">
        <option value="file">{{#i18n}}Rückseite - Bild aus Dateibereich{{/i18n}}:</option>
        <option value="url">{{#i18n}}Rückseite - Bild von URL{{/i18n}}:</option>
        <option value="none">{{#i18n}}kein Bild{{/i18n}}:</option>
    </select>
    <input type="text" name="cw-dialogcards-back-img" class="cw-dialogcards-back-img" placeholder="{{#i18n}}https://www.beispiel.de/bild.jpg{{/i18n}}">
    <button class="cw-dialogcards-back-img-info cw-info" data-title="{{#i18n}}Geben Sie hier eine URL an die direkt zu einer Bilddatei führt. Die URL können Sie z.B. aus der Adresszeile Ihres Browsers kopieren.{{/i18n}}"></button>
    <select class="cw-dialogcards-back-img-file" name="cw-dialogcards-back-img-file" {{#no_files}}disabled{{/no_files}}>
            {{^no_files}}
                <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
                    {{#image_files_course}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_course}}
                    {{^image_files_course}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_course}}
                </optgroup>
                <optgroup label="Dateien im eigenen Dateibereich">
                    {{#image_files_user}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_user}}
                    {{^image_files_user}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_user}}
                </optgroup>
                <optgroup label="Dateien im Dateibereich anderer Nutzer">
                    {{#image_files_other}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_other}}
                    {{^image_files_other}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_other}}
                </optgroup>
            {{/no_files}}
            {{#no_files}}
                <option value="" selected>{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
            {{/no_files}}
    </select>
    <button class="cw-dialogcards-back-img-file-info cw-info" data-title="{{#i18n}}Hier werden alle Bilddateien aus dem Dateibereich aufgelistet.{{/i18n}}"></button>
    <br>
    <label for="cw-dialogcards-back-text">{{#i18n}}Rückseite - Text{{/i18n}}:</label>
    <input type="text" name="cw-dialogcards-back-text" class="cw-dialogcards-back-text">
    <button name="removecard" class="trash"></button>
</fieldset>
{{#cards}}
    <fieldset class="cw-dialogcards-card-content" data-index={{index}}>
        <legend class="cw-dialogcards-card-content-legend">{{#i18n}}Karte{{/i18n}} {{index}}</legend>
        <select class="cw-dialogcards-source cw-dialogcards-source-front">
            <option value="file">{{#i18n}}Vorderseite - Bild aus Dateibereich{{/i18n}}:</option>
            <option value="url" {{#front_external_file}} selected {{/front_external_file}}>{{#i18n}}Vorderseite - Bild von URL{{/i18n}}:</option>
            <option value="none" {{^front_img}} selected {{/front_img}}>{{#i18n}}kein Bild{{/i18n}}:</option>
        </select>
        <input type="text" name="cw-dialogcards-front-img" class="cw-dialogcards-front-img" value="{{#front_external_file}}{{front_img}}{{/front_external_file}}">
        <button class="cw-dialogcards-front-img-info cw-info" data-title="{{#i18n}}Geben Sie hier eine URL an die direkt zu einer Bilddatei führt. Die URL können Sie z.B. aus der Adresszeile Ihres Browsers kopieren.{{/i18n}}"></button>
        <input type="hidden" class="cw-dialogcards-front-img-file-stored" name="cw-dialogcards-front-img-file-stored" value="{{front_img_file_id}}">
        <select class="cw-dialogcards-front-img-file" name="cw-dialogcards-front-img-file" {{#no_files}}disabled{{/no_files}}>
            {{^no_files}}
                <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
                    {{#image_files_course}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_course}}
                    {{^image_files_course}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_course}}
                </optgroup>
                <optgroup label="Dateien im eigenen Dateibereich">
                    {{#image_files_user}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_user}}
                    {{^image_files_user}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_user}}
                </optgroup>
                <optgroup label="Dateien im Dateibereich anderer Nutzer">
                    {{#image_files_other}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_other}}
                    {{^image_files_other}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_other}}
                </optgroup>
            {{/no_files}}
            {{#no_files}}
                <option value="" selected>{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
            {{/no_files}}
        </select>
        <button class="cw-dialogcards-front-img-file-info cw-info" data-title="{{#i18n}}Hier werden alle Bilddateien aus dem Dateibereich aufgelistet.{{/i18n}}"></button>

        <br>
        <label for="cw-dialogcards-front-text">{{#i18n}}Vorderseite - Text{{/i18n}}:</label>
        <input type="text" name="cw-dialogcards-front-text" class="cw-dialogcards-front-text" value="{{front_text}}">
    
        <select class="cw-dialogcards-source cw-dialogcards-source-back">
            <option value="file">{{#i18n}}Rückseite - Bild aus Dateibereich{{/i18n}}:</option>
            <option value="url" {{#back_external_file}} selected {{/back_external_file}}>{{#i18n}}Rückseite - Bild von URL{{/i18n}}:</option>
            <option value="none" {{^back_img}} selected {{/back_img}}>{{#i18n}}kein Bild{{/i18n}}:</option>
        </select>
        <input type="text" name="cw-dialogcards-back-img" class="cw-dialogcards-back-img" value="{{#back_external_file}}{{back_img}}{{/back_external_file}}">
        <button class="cw-dialogcards-back-img-info cw-info" data-title="{{#i18n}}Geben Sie hier eine URL an die direkt zu einer Bilddatei führt. Die URL können Sie z.B. aus der Adresszeile Ihres Browsers kopieren.{{/i18n}}"></button>
        <input type="hidden" class="cw-dialogcards-back-img-file-stored" name="cw-dialogcards-back-img-file-stored" value="{{back_img_file_id}}">
        <select class="cw-dialogcards-back-img-file" name="cw-dialogcards-back-img-file" {{#no_files}}disabled{{/no_files}}>
            {{^no_files}}
                <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
                    {{#image_files_course}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_course}}
                    {{^image_files_course}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_course}}
                </optgroup>
                <optgroup label="Dateien im eigenen Dateibereich">
                    {{#image_files_user}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_user}}
                    {{^image_files_user}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_user}}
                </optgroup>
                <optgroup label="Dateien im Dateibereich anderer Nutzer">
                    {{#image_files_other}}
                        <option file_id="{{id}}" file_name="{{name}}" file_url="{{download_url}}">{{name}}</option>
                    {{/image_files_other}}
                    {{^image_files_other}}
                        <option file_id="" file_name="" file_url="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
                    {{/image_files_other}}
                </optgroup>
            {{/no_files}}
            {{#no_files}}
                <option value="" selected>{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
            {{/no_files}}
        </select>
        <button class="cw-dialogcards-back-img-file-info cw-info" data-title="{{#i18n}}Hier werden alle Bilddateien aus dem Dateibereich aufgelistet.{{/i18n}}"></button>

        <br>
        <label for="cw-dialogcards-back-text">{{#i18n}}Rückseite - Text{{/i18n}}:</label>
        <input type="text" name="cw-dialogcards-back-text" class="cw-dialogcards-back-text" value="{{back_text}}">
        <button name="removecard" class="trash"></button>
    </fieldset>
{{/cards}}
<div class="cw-button-box">
    <button name="addcard" class="button cw-dialogcards-addcard">{{#i18n}}Karte hinzufügen{{/i18n}}</button>
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>


