<input type="hidden" class="cw-dialogcards-stored-content" value="{{dialogcards_content}}">

<fieldset class="cw-dialogcards-card-content-default">
    <legend class="cw-dialogcards-card-content-legend">{{#i18n}}Karte{{/i18n}}</legend>
    <label for="cw-dialogcards-front-img">{{#i18n}}Vorderseite Bild{{/i18n}}:</label>
    <input type="text" name="cw-dialogcards-front-img" class="cw-dialogcards-front-img">
    <label for="cw-dialogcards-front-text">{{#i18n}}Vorderseite Text{{/i18n}}:</label>
    <input type="text" name="cw-dialogcards-front-text" class="cw-dialogcards-front-text">

    <label for="cw-dialogcards-back-img">{{#i18n}}Rückseite Bild{{/i18n}}:</label>
    <input type="text" name="cw-dialogcards-back-img" class="cw-dialogcards-back-img">
    <label for="cw-dialogcards-back-text">{{#i18n}}Rückseite Bild{{/i18n}}:</label>
    <input type="text" name="cw-dialogcards-back-text" class="cw-dialogcards-back-text">
</fieldset>
{{#cards}}
    <fieldset class="cw-dialogcards-card-content" data-index={{index}}>
        <legend class="cw-dialogcards-card-content-legend">{{#i18n}}Karte{{/i18n}} {{index}}</legend>
        <label for="cw-dialogcards-front-img">{{#i18n}}Vorderseite Bild{{/i18n}}:</label>
        <input type="text" name="cw-dialogcards-front-img" class="cw-dialogcards-front-img" value="{{front_img}}">
        <label for="cw-dialogcards-front-text">{{#i18n}}Vorderseite Text{{/i18n}}:</label>
        <input type="text" name="cw-dialogcards-front-text" class="cw-dialogcards-front-text" value="{{front_text}}">
    
        <label for="cw-dialogcards-back-img">{{#i18n}}Rückseite Bild{{/i18n}}:</label>
        <input type="text" name="cw-dialogcards-back-img" class="cw-dialogcards-back-img" value="{{back_img}}">
        <label for="cw-dialogcards-back-text">{{#i18n}}Rückseite Bild{{/i18n}}:</label>
        <input type="text" name="cw-dialogcards-back-text" class="cw-dialogcards-back-text" value="{{back_text}}">
    </fieldset>
{{/cards}}
<div class="cw-button-box">
    <button name="addcard" class="button">{{#i18n}}Karte hinzufügen{{/i18n}}</button>
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
