<ol>
  {{#cards}}
    <li>
      {{#i18n}}Karte{{/i18n}}
      <table cellspacing="4">
        <tr>
          <td>
            <p style="font-style: italic;">{{#i18n}}Vorderseite{{/i18n}}</p>
            {{#front}}
              {{#img}}
                <img src="{{img}}">
              {{/img}}
              <p>{{text}}</p>
            {{/front}}
          </td>

          <td>
            <p style="font-style: italic;">{{#i18n}}Rückseite{{/i18n}}</p>
            {{#back}}
              {{#img}}
                <img src="{{img}}">
              {{/img}}
              <p>{{text}}</p>
            {{/back}}
          </td>
        </tr>
      </table>
    </li>
  {{/cards}}
</ol>
