{{#cards}}<button class="cw-dialogcards-prev cw-dialogcards-navbutton" data-title="{{#i18n}}vorherige Karte{{/i18n}}"></button>{{/cards}}
<div class="cw-dialogcards">
{{#cards}}
        <div class="scene scene--card" data-index="{{index}}">
          <div class="card" data-title="{{#i18n}}klicken um Karte umzudrehen{{/i18n}}">
            <div class="card__face card__face--front">
              {{#front_img}}<img src="{{front_img}}">{{/front_img}}
              {{^front_img}}<div class="cw-dialogcards-front-no-image"></div>{{/front_img}}
              <p>{{front_text}}</p>
            </div>
            <div class="card__face card__face--back">
            {{#back_img}}<img src="{{back_img}}">{{/back_img}}
            {{^back_img}}<div class="cw-dialogcards-back-no-image"></div>{{/back_img}}
              <p>{{back_text}}</p>
            </div>
          </div>
        </div>
{{/cards}}
</div>
{{#cards}}<button class="cw-dialogcards-next cw-dialogcards-navbutton" data-title="{{#i18n}}nächste Karte{{/i18n}}"></button>{{/cards}}
{{^cards}}
  {{#isAuthor}}
      <div class="messagebox messagebox_info">
          {{#i18n}}Es wurden noch keine Lernkarten angelegt.{{/i18n}}
      </div>
  {{/isAuthor}}
{{/cards}}
