.chartcontainer {
    width: 1000px;
}

.lt-exercise-list {
    padding-right: 1em;
    padding-left: 1em;
    border-right: solid thin black;
}

.lt-exercise-list:last-child {
    border-right: none;
}

.survey-header{
    clear: both;
    
}

.survey-header span{
    float: right;
    padding: 0;
 }
.survey-header p{
    float: left;
    margin: 0;
    
}
