.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
          border-radius: @radius;
}

.btn-base {
  width: 20px;
  height: 20px;
  color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.btn(@img) {
  .btn-base();
  background: url("../../../../../../assets/images/icons/16/grey/@{img}.png") center center no-repeat;

  &:hover {
    background-image: url("../../../../../../assets/images/icons/16/black/@{img}.png");
  }
}

.bgImg(@icon, @color, @size: 16) {
  background-image: url("../../../../../../assets/images/icons/@{size}/@{color}/@{icon}.png");
  background-position: center center;
  background-repeat: no-repeat;
}
