/* /courses/index */
#mooc-courses-index #layout_container {

  #course-list article {
    clear: both;
    margin-bottom: 1em;

    .course-avatar-medium {
      float: left;
      padding-right: 20px;
    }

    h1 {
      border: none;
      margin-bottom: 0;
    }
  }
}

/* /courses/show */
#mooc-courses-show #layout_container {

  article h1 {
    font-size: 1.5em;
    border-bottom: none;
    margin-top: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* /courseware */
#mooc-courseware-index #layout_container {

  position: relative;

  li.chapter.selected > span, li.subchapter.selected > span, li.section.selected > a {
    font-weight: 700;
  }

  ol.chapters {
    float: left;
    padding-right: 2em;
  }

  ol.sections {
    list-style: none;

    li {
      display: inline-block;
    }
  }

  section.active-section {
    float: left;
  }


  section.block {
    border: 1px dotted #ddd;
    display: block;

  }

  section.block::before {
    content: attr(class);
    color: #ccc;
    border: 1px dotted #eee;
  }
}

/* /registrations */
#mooc-registrations-index #layout_container {

  input {
    font-size: 14pt;
    margin-bottom: 5px;
    
  }
  
  form.signup, form.signin {
    input {
      width: 20em;
    }
  }


  p {
    max-width: 40em;
  }

  #layout_sidebar {
    font-size: 12pt;
  }

  article.tos {
    h1 {
      border:  none;
      font-size: 1rem;
      padding-left: 0;
    }
  }

  label.tos {
    display: block;
  }

  #layout_sidebar label.tos {

    position: relative;

    span {
      display: block;
      padding-left: 30px;
    }
    input {
      position: absolute;
      top: 1.1em;
    }
  }
}

#mooc-courses-overview {
    textarea {
        width: 100%;
        height: 20em;
    }
}