#mooc-progress-index #layout_container h1 {
  border: none;
  padding-left: 0;
}
#mooc-progress-index #layout_container table.chapters {
  width: 100%;
  border-collapse: collapse;
}
#mooc-progress-index #layout_container table.chapters tr:nth-child(even) {
  background: #eee;
}
#mooc-progress-index #layout_container table.chapters tr + tr {
  border-top: 1px solid #ddd;
}
#mooc-progress-index #layout_container .chapter th,
#mooc-progress-index #layout_container .subchapter th {
  text-align: left;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 1.1em;
  padding-bottom: 0.55em;
  color: #444;
}
#mooc-progress-index #layout_container .chapter th {
  font-size: 1.4em;
}
#mooc-progress-index #layout_container .subchapter th {
  font-size: 1.1em;
  padding-left: 1.2em;
  white-space: nowrap;
  width: 10%;
}
#mooc-progress-index #layout_container ol.sections {
  list-style: none;
  padding: 5px;
  margin: 0;
}
#mooc-progress-index #layout_container ol.sections li progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 20px;
  color: blue;
  font-size: .6em;
  line-height: 1.5em;
}
#mooc-progress-index #layout_container ol.sections li a {
  box-sizing: border-box;
  padding: 0.5em 1em;
  display: inline-block;
  position: relative;
}
#mooc-progress-index #layout_container ol.sections li a:after {
  content: attr(data-progress) '%';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  line-height: 1.5em;
}
#mooc-progress-index #layout_container ol.sections li {
  float: left;
}
#mooc-progress-index #layout_container ol.sections li a {
  width: 8em;
}
html.flexbox #mooc-progress-index #layout_container ol.sections {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
html.flexbox #mooc-progress-index #layout_container ol.sections li {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  float: none;
}
html.flexbox #mooc-progress-index #layout_container ol.sections li a {
  width: 100%;
}
.clear {
  clear: both;
}
#mooc-courses-index #layout_container #course-list article {
  clear: both;
  padding: 10px 0px;
  min-height: 100px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
#mooc-courses-index #layout_container #course-list article .course-avatar-medium {
  float: left;
  padding-right: 20px;
}
#mooc-courses-index #layout_container #course-list article h1 {
  border: none;
  margin-bottom: 0;
}
#mooc-courses-index #layout_container #course-list article p {
  margin: 4px 0px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#mooc-courses-index #layout_container #course-list article a {
  position: absolute;
  bottom: 10px;
  margin-bottom: 0;
}
#mooc-courses-show #layout_container img {
  width: 100%;
}
#mooc-courses-show #layout_container h1 {
  padding: 10px 0px 5px;
  border-bottom: none;
  margin-bottom: 0;
}
#mooc-courses-show #layout_container .subtitle {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}
#mooc-courses-show #layout_container article {
  width: 48%;
  float: left;
  margin-top: 1em;
}
#mooc-courses-show #layout_container .description {
  padding-right: 1%;
}
#mooc-courses-show #layout_container .requirements {
  padding-left: 1%;
}
#mooc-courses-show #layout_container article h1 {
  font-size: 1.5em;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}
#mooc-courses-show #videobox {
  overflow: hidden;
  padding: 0;
}
#mooc-courses-show #videobox iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#mooc-courses-show #preview_image_container {
  position: relative;
}
#mooc-courses-show #play_image {
  background-image: url("../../../../assets/images/icons/32/white/play.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
}
#mooc-registrations-index #layout_container input {
  font-size: 14pt;
  margin-bottom: 5px;
}
#mooc-registrations-index #layout_container form.signup input[type=text],
#mooc-registrations-index #layout_container form.signup input[type=email],
#mooc-registrations-index #layout_container form.signin input[type=text],
#mooc-registrations-index #layout_container form.signin input[type=email] {
  width: 20em;
}
#mooc-registrations-index #layout_container p {
  max-width: 40em;
}
#mooc-registrations-index #layout_container #layout_sidebar {
  font-size: 12pt;
}
#mooc-registrations-index #layout_container article.tos h1 {
  border: none;
  font-size: 1rem;
  padding-left: 0;
}
#mooc-registrations-index #layout_container label.tos {
  display: block;
}
#mooc-registrations-index #layout_container #layout_sidebar label.tos {
  position: relative;
}
#mooc-registrations-index #layout_container #layout_sidebar label.tos span {
  display: block;
  padding-left: 30px;
}
#mooc-registrations-index #layout_container #layout_sidebar label.tos input {
  position: absolute;
  top: 1.1em;
}
#mooc-courses-overview textarea {
  width: 100%;
  height: 20em;
}
