/* /courses/index */
#mooc-courses-index #layout_content {

  #course-list article {
    clear: both;
    margin-bottom: 1em;

    .course-avatar-medium {
      float: left;
      padding-right: 20px;
    }

    h1 {
      border: none;
      margin-bottom: 0;
    }
  }
}

/* /courses/show */
#mooc-courses-show #layout_content {

  form.enrol {
    text-align: center;

    button {
      padding: 0.5em;
      border: 1px solid black;
      border-radius: 2px;
      color: white;
      background-color: #428BCA;
    }
  }

  article h1 {
    font-size: 1.5em;
    border-bottom: none;
    margin-top: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* /courseware */
#mooc-courseware-index #layout_content {
  ol {
    float: left;
    padding-top: 50px;
    padding-right: 2em;
  }

  section {
    float: left;
  }
}

/* /registrations */
#mooc-registrations-index {

  input {
    font-size: 14pt;
    margin-bottom: 5px;
  }

  #layout_sidebar {
    font-size: 12pt;

    .tos {

      display: block;
      position: relative;

      span {
        display: block;
        padding-left: 30px;
      }
      input {
        position: absolute;
        top: 1.1em;
      }
    }
  }
}
