/* /courses/index */
#mooc-courses-index #layout_content #course-list article {
  clear: both;
  margin-bottom: 1em;
}
#mooc-courses-index #layout_content #course-list article .course-avatar-medium {
  float: left;
  padding-right: 20px;
}
#mooc-courses-index #layout_content #course-list article h1 {
  border: none;
  margin-bottom: 0;
}
/* /courses/show */
#mooc-courses-show #layout_content form.enrol {
  text-align: center;
}
#mooc-courses-show #layout_content form.enrol button {
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  background-color: #428BCA;
}
#mooc-courses-show #layout_content article h1 {
  font-size: 1.5em;
  border-bottom: none;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* /courseware */
#mooc-courseware-index #layout_content ol {
  float: left;
  padding-top: 50px;
  padding-right: 2em;
}
#mooc-courseware-index #layout_content section {
  float: left;
}
/* /registrations */
div.mooc-registrations {
  font-size: 12pt;
}
div.mooc-registrations form.register input[type=text],
div.mooc-registrations form.login input[type=text],
div.mooc-registrations form.register input[type=password],
div.mooc-registrations form.login input[type=password],
div.mooc-registrations form.register input[type=email],
div.mooc-registrations form.login input[type=email] {
  font-size: 14pt;
  margin-bottom: 5px;
}
