<section class="mode-student">
    {{#hasCompletedAgeGroups}}
        <header>
            <h2>
                {{#i18n}}Bitte wähle nun die Lernerfolgskontrolle für deine Altersklasse aus!{{/i18n}}
            </h2>
        </header>

        <form class="selectSelfTest">
            <select>
                {{#ageGroups}}
                    {{#$thoroughlyComplete}} <option value="{{id}}" {{blockSelected}} {{^hasSelfTest}}disabled{{/hasSelfTest}}> {{title}} </option> {{/$thoroughlyComplete}}
                {{/ageGroups}}
            </select>

            <fieldset>
                <button name=select class=button>{{#i18n}}Auswählen{{/i18n}}</button>
            </fieldset>
        </form>

        {{#selectedSelfTest}}
            <p>
                {{#i18n}}Beantworte bitte die folgenden Fragen, um zur nächsten Lektion zu gelangen:{{/i18n}}
            </p>
        {{/selectedSelfTest}}
    {{/hasCompletedAgeGroups}}
</section>

<section class="mode-author">
    <header>
        <h2>
            {{#i18n}}Ordne bitte jeder Altersklasse einen Selbsttest zu!{{/i18n}}
        </h2>
    </header>

    <form class="ageGroupsTests {{formMode}}">
        <table>
            <tr>
                <th>{{#i18n}}Alterklasse{{/i18n}}</th>
                <th>{{#i18n}}Selbsttest{{/i18n}}</th>
            </tr>

            {{#ageGroups}}
                <tr>
                    <td>{{title}}</td>
                    <td>
                        <select data-age-group-id="{{id}}">
                            <option value="">{{#i18n}}Wähle einen Selbsttest:{{/i18n}}</option>
                            {{#tests}}
                                <option value="{{id}}" {{testSelected}}>
                                    {{title}} ({{#created}}{{#i18n}}erstellt am{{/i18n}} {{created}}, {{/created}}{{exercises_count}} {{#i18n}}Fragen{{/i18n}})
                                </option>
                            {{/tests}}
                        </select>
                    </td>
                </tr>
            {{/ageGroups}}
        </table>

        <fieldset>
            <button name=save class=button>{{#i18n}}Speichern{{/i18n}}</button>
        </fieldset>
    </form>
</section>
