<script class="json" type="application/json"> { "tree": {{{jsonTree}}}, "tests": {{{jsonTests}}} } </script>

<aside>
  <nav class=age-group-selects></nav>
  <nav class=age-group-topics></nav>
</aside>
<article class=content></article>

<article class="self-tests"></article>
<article class="self-test-block"></article>
