<div class="video-wrapper {{aspect}}">
  <iframe src="{{url}}" scrolling="no" allowfullscreen></iframe>
  <video width="100%" controls ></video>
</div>
<div class="videodata">
    <div class="videoblocktitle">
        <span class="videotitlename">{{#i18n}}Titel{{/i18n}}:</span><input type="text" class="videotitle" value="{{videoTitle}}">
    </div>
    <div class="videotype-selection">
    {{#i18n}}Video-Typ:{{/i18n}} 
    <select class="videotype">
        <option value="webvideo">{{#i18n}}Webvideo (URL){{/i18n}}</option>
        <option value="youtube">{{#i18n}}Youtube{{/i18n}}</option>
        <option value="matterhorn">{{#i18n}}Matterhorn{{/i18n}}</option>
        <option value="url">{{#i18n}}eingebettetes Video (iframe){{/i18n}}</option>
    </select>
    </div>

    <div class="videosource videosource-url">
        <input type="hidden" class="videourl" value= "{{url}}">
        <span class="videosrcname">{{#i18n}}URL{{/i18n}}:</span>
        <input type="text" class="videosrc">
    </div>
    <div class="videosource videosource-webvideo">
        <input type="hidden" class="webvideodata" value="{{webvideo}}">
        <input type="hidden" class="webvideosettingsdata" value="{{webvideosettings}}">
        <div class="webvideo-description">
            <p>
            {{#i18n}}
                Sie können mehrere Quellen pro Video angeben. Neben unterschiedlichen Formaten sind auch Videos für kleine Displays (&le;800px) und große Displays (>800px) möglich.
            {{/i18n}}
            </p>
        </div>
        <div class="webvideo">
            <span class="webvideosrcname">{{#i18n}}Quelle{{/i18n}}:</span>
            <input type="text" class="webvideosrc">
            <select class="webvideosrc-mediatype">
                <option value="mp4">mp4</option>
                <option value="webm">webm</option>
                <option value="ogg">ogg</option>
            </select>
            <select class="webvideosrc-mediaquery">
                <option value="normal">{{#i18n}}für alle Displaygrößen{{/i18n}}</option>
                <option value="large">{{#i18n}}für große Displays{{/i18n}}</option>
                <option value="small">{{#i18n}}für kleine Displays{{/i18n}}</option>
            </select>
        </div>
        <button name="addmediatype" class="addmediatype">{{#i18n}}Quelle hinzufügen{{/i18n}}</button>

    </div>
    <h2 class="videosettings-header">{{#i18n}}Einstellungen{{/i18n}}</h2>
    <div class="videosettings">
        
        <span class="videoautostart-wrapper">{{#i18n}}Video automatisch starten{{/i18n}}<input type="checkbox" class="videoautostart" ></span>
        <span class="videocontrols-wrapper">{{#i18n}}Kontrollelemente verstecken{{/i18n}}<input type="checkbox" class="videocontrols" ></span>
        <span class="videoaspect">{{#i18n}}Seitenverhältnis{{/i18n}}<input type="radio" class="videoaspect169" name="videoaspect" value="aspect-169" checked>16:9 <input type="radio" class="videoaspect43" name="videoaspect" value="aspect-43">4:3</span> <br/>
        <div class="videotimer">
            <span>{{#i18n}}Start{{/i18n}}<input class="videostartmin" type="number" min="0" placeholder="min" ><input class="videostartsec" type="number" step="1" max="59" min="0" placeholder="sek"></span> 
            <span>{{#i18n}}Ende{{/i18n}}<input class="videoendmin" type="number" min="0" placeholder="min"><input class="videoendsec" type="number" step="1" max="59" min="0" placeholder="sek"></span> <button name="videotimereset" class="button">{{#i18n}}zurücksetzen{{/i18n}}</button><br/>
        </div>
    </div>
    <div class="videostatus">
        <span class="status">&nbsp;</span>
    </div>
    <div class="videobuttons">
    <button name="preview" class="button">{{#i18n}}Vorschau{{/i18n}}</button>
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
    </div>
</div>
