{{#url}}
  <div class="video-wrapper">
    <iframe src="{{.}}" scrolling="no" allowfullscreen></iframe>
  </div>
{{/url}}
{{^url}}
    {{#i18n}}Es wurde noch kein Video eingetragen.{{/i18n}}
{{/url}}
