<input type="hidden" class="cw-canvasblock-content-stored" value="{{canvas_content}}">
<input type="hidden" class="cw-canvasblock-mode-stored" value="{{canvas_mode}}">

<label for="cw-canvasblock-bgimage">Bild</label>
<input name="cw-canvasblock-bgimage" class="cw-canvasblock-bgimage" type="text">

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
