<input type="hidden" class="cw-canvasblock-content-stored" value="{{canvas_content}}">

<label for="cw-canvasblock-description" class="cw-canvasblock-description-label">{{#i18n}}Beschreibung{{/i18n}}:</label>
<input type="text" name="cw-canvasblock-description" class="cw-canvasblock-description" spellcheck="true">
<br>

<select class="cw-canvasblock-source" name="cw-canvasblock-source">
    <option value="cw">{{#i18n}}Dateibereich{{/i18n}}:</option>
    <option value="web">{{#i18n}}URL{{/i18n}}:</option>
    <option value="none">{{#i18n}}kein Bild{{/i18n}}:</option>
</select>

<select class="cw-canvasblock-file" name="cw-canvasblock-file" {{#no_image_files}}disabled{{/no_image_files}}>
    {{^no_image_files}}
        <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
            {{#image_files_course}}
                <option value="" file-id="{{id}}" filename="{{name}}" mime-type="{{mime_type}}">{{name}}</option>
            {{/image_files_course}}
            {{^image_files_course}}
                <option value="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
            {{/image_files_course}}
        </optgroup>
        <optgroup label="Dateien im eigenen Dateibereich">
            {{#image_files_user}}
                <option value="" file-id="{{id}}" filename="{{name}}" mime-type="{{mime_type}}">{{name}}</option>
            {{/image_files_user}}
            {{^image_files_user}}
                <option value="">{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
            {{/image_files_user}}
        </optgroup>
        {{#other_user_file}}
            <optgroup label="Datei im Dateibereich eines anderen Nutzers">
                    <option value="" file-id="{{id}}" filename="{{name}}" mime-type="{{mime_type}}">{{name}}</option>
            </optgroup>
        {{/other_user_file}}
    {{/no_image_files}}
    {{#no_image_files}}
        <option value="" selected>{{#i18n}}keine Bilddatei verfügbar{{/i18n}}</option>
    {{/no_image_files}}
</select>
<button class="cw-canvasblock-file-select-info cw-info" data-title="{{#i18n}}Hier werden alle Bilddateien aus dem Dateibereich aufgelistet.{{/i18n}}"></button>

<input class="cw-canvasblock-file" name="cw-canvasblock-file">
<button class="cw-canvasblock-file-input-info cw-info" data-title="{{#i18n}}Geben Sie hier eine URL an die direkt zu einer Datei führt. Die URL können Sie z.B. aus der Adresszeile Ihres Browsers kopieren.{{/i18n}}"></button>



<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
