{{^inactive}}
<input type="hidden" class="cw-canvasblock-bgimage" value="{{bg_image}}">
<input type="hidden" class="cw-canvasblock-stored-draw" value="{{canvas_draw}}">
<input type="hidden" class="cw-canvasblock-all-draws" value="{{draws}}">
<div class="messagebox messagebox_info cw-canvasblock-upload-message">{{#i18n}}Bild wurde im Ordner{{/i18n}} &bdquo;{{upload_folder}}&ldquo; {{#i18n}}abgelegt{{/i18n}}.</div>
{{#description}}
<h1 class="cw-canvasblock-description">
    {{description}}
</h1>
{{/description}}
<div class="cw-canvasblock-toolbar">
    <div class="cw-canvasblock-buttonset">
    <button class="cw-canvasblock-reset" data-title="{{#i18n}}Zurücksetzen{{/i18n}}"></button>
    <button class="cw-canvasblock-undo" data-title="{{#i18n}}Rückgängig{{/i18n}}"></button>
    <button class="cw-canvasblock-download" data-title="{{#i18n}}Download{{/i18n}}"></button>
    {{#upload_enabled}}
        <button class="cw-canvasblock-store" data-title="{{#i18n}}im Dateibereich speichern{{/i18n}}"></button>
    {{/upload_enabled}}
    {{#show_userdata}}
        <button class="cw-canvasblock-show-own selected-view" data-title="{{#i18n}}eigenes Bild anzeigen{{/i18n}}"></button>
        <button class="cw-canvasblock-show-all" data-title="{{#i18n}}Werte anderer Nutzer anzeigen{{/i18n}}"></button>
    {{/show_userdata}}
    </div>
    <div class="cw-canvasblock-buttonset">
        <button class="cw-canvasblock-color" value="white"></button>
        <button class="cw-canvasblock-color" value="blue"></button>
        <button class="cw-canvasblock-color" value="green"></button>
        <button class="cw-canvasblock-color" value="purple"></button>
        <button class="cw-canvasblock-color" value="red"></button>
        <button class="cw-canvasblock-color" value="orange"></button>
        <button class="cw-canvasblock-color" value="yellow"></button>
        <button class="cw-canvasblock-color" value="grey"></button>
        <button class="cw-canvasblock-color" value="darkgrey"></button>
        <button class="cw-canvasblock-color" value="black"></button>
    </div>
    <div class="cw-canvasblock-buttonset">
    <button class="cw-canvasblock-size cw-canvasblock-size-small" value="small" data-title="{{#i18n}}klein{{/i18n}}"></button>
    <button class="cw-canvasblock-size cw-canvasblock-size-normal" value="normal" data-title="{{#i18n}}normal{{/i18n}}"></button>
    <button class="cw-canvasblock-size cw-canvasblock-size-large" value="large" data-title="{{#i18n}}groß{{/i18n}}"></button>
    <button class="cw-canvasblock-size cw-canvasblock-size-huge" value="huge" data-title="{{#i18n}}riesig{{/i18n}}"></button>
    </div>
    <div class="cw-canvasblock-buttonset">
    <button class="cw-canvasblock-tool cw-canvasblock-tool-pen" value="pen" data-title="{{#i18n}}Zeichenwerkzeug{{/i18n}}"></button>
    <button class="cw-canvasblock-tool cw-canvasblock-tool-text" value="text" data-title="{{#i18n}}Textwerkzeug{{/i18n}}">T</button>
    </div>
</div>

<img src="{{image_url}}" class="cw-canvasblock-original-img">
<canvas class="cw-canvasblock-canvas"></canvas>

<div class="cw-canvasblock-hints">
    <div class="messagebox messagebox_info cw-canvasblock-text-info">
        {{#i18n}}Texteingabe mit Enter-Taste bestätigen{{/i18n}}
    </div>
</div>
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
