{{^inactive}}
    {{#viewable}}
        {{#user_is_authorized}}
            {{#folder_timed}}
                <div class="messagebox messagebox_info">
                    {{#i18n}}Dies ist ein zeitgesteuerter Ordner{{/i18n}}. {{#i18n}}Sichtbar von{{/i18n}} {{start}} {{#i18n}}bis{{/i18n}} {{end}}.
                </div>
            {{/folder_timed}}
            {{#folder_group}}
                <div class="messagebox messagebox_info">
                    {{#i18n}}Dies ist ein Gruppenordner{{/i18n}}. {{#i18n}}Die Dateien sind nur für Mitglieder der Gruppe sichtbar{{/i18n}}.
                </div>
            {{/folder_group}}
            {{#folder_homework}}
                <div class="messagebox messagebox_info">
                    {{#i18n}}Dies ist ein Hausaufgabenordner{{/i18n}}. {{#i18n}}Teilnehmer können Dateien nur hochladen{{/i18n}}.
                </div>
            {{/folder_homework}}
            {{#folder_hidden}}
                <div class="messagebox messagebox_warning">
                    {{#i18n}}Dieser Ordner ist versteckt und kann nicht von Teilnehmern eingesehen werden{{/i18n}}!
                </div>
            {{/folder_hidden}}
            {{^homework_files}} {{^files}}
                    <div class="messagebox messagebox_info">
                        {{#i18n}}Der ausgewählte Ordner enthält keine Dateien{{/i18n}}
                    </div>
            {{/files}} {{/homework_files}}
        {{/user_is_authorized}}
        {{#folder_title}}
            <h1 class="cw-folder-title">{{folder_title}}</h1>
        {{/folder_title}}
        {{#folder_available}}
            <div class="cw-folder">
            {{#homework_files}}
                <div style="font-size: small">
                    <div>Sie selbst haben folgende Dateien in diesen Ordner eingestellt:</div>
                    <ul>
                        {{#details}}
                            <li class="cw-folder-file-item">
                                <span class="cw-folder-file-info cw-folder-file-disabled"> {{name}} </span>
                                <span class="cw-folder-file-details">{{date}}</span>
                            </li>
                        {{/details}}
                    </ul>
                </div>
            {{/homework_files}}
                <ul>
                {{#files}}
                    {{#downloadable}}
                        <li class="cw-folder-file-item">
                        <a href="{{url}}">
                            <span class="cw-folder-file-info cw-folder-fileicon-{{icon}}" file-name="{{name}}" file-id="{{id}}"> {{name}} </span>
                            <span class="cw-folder-file-details">{{user}}</span>
                            <span name="download" class="cw-folder-download-icon" ></span>
                        </a> 
                        </li>
                    {{/downloadable}}
                    {{^downloadable}}
                        <li class="cw-folder-file-item" >
                            <span class="cw-folder-file-info cw-folder-fileicon-{{icon}} cw-folder-file-disabled" file-name="{{name}}" file-id="{{id}}"> {{name}} </span>
                            <span name="download" class="cw-folder-download-icon cw-folder-download-icon-disabled" ></span>
                        </li>
                    {{/downloadable}}
                {{/files}}
                </ul>

            {{#allow_upload}}
                <div class="cw-folder-upload">
                    <input type="file" name="file_upload" class="cw-folder-file-upload">
                    <span class="cw-folder-upload-filename"></span>
                    <button name="select" class="cw-folder-select-button" >{{#i18n}}Dateien zum hochladen auswählen{{/i18n}}</button>
                    <button name="select" class="cw-folder-reselect-button" >{{#i18n}}ändern{{/i18n}}</button>
                    <button name="upload" class="cw-folder-upload-button" >{{#i18n}}hochladen{{/i18n}}</button>
                </div>
            {{/allow_upload}}
            </div>
        {{/folder_available}}
        <div class="cw-folder-hidden-files">
        {{#files}}
            <input type="hidden" name="file" file-id="{{id}}" file-name="{{name}}" file-icon="{{icon}}" file-url="{{url}}" file-downloadable="{{downloadable}}">
        {{/files}}
        </div>

        <input type="hidden" name="folder_id" value="{{folder_id}}" />
        <input type="hidden" name="folder_name" value="{{folder_name}}" />
        <input type="hidden" name="folder_title" value="{{folder_title}}" />
        <input type="hidden" name="allow_upload" value="{{allow_upload}}" />
        <input type="hidden" name="file_counter" value="{{{file_counter}}}" />

    {{/viewable}}
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
