<dl>
  {{#user_record}}
    <dt>Audiodatei für: „{{user_name}}“</dt>
    <dd>{{file_name}}</dd>
  {{/user_record}}
  {{#audio_records}}
    <dt>Audiodatei für „{{user_name}}“</dt>
    <dd>{{file_name}}</dd>
  {{/audio_records}}
</dl>
