{{^inactive}}
    <div class="cw-audio-gallery-carousel-for">
        {{#user_record}}
        <div class="cw-audio-gallery-content-slide user-record">
            <div class="cw-audio-gallery-content-slide-control">
                <img src="{{user_avatar}}">
                {{#file_url}}
                <audio class="cw-audio-gallery-player" controls>
                    <source  src="{{file_url}}" type="audio/mpeg">
                </audio>
                {{/file_url}}
                <input type="hidden" class="cw-audio-gallery-userhasrecord" value="{{#file_url}}true{{/file_url}}{{^file_url}}false{{/file_url}}">
                <button class="button cw-audio-gallery-record-button-delete user-record-delete" data-uid={{user_id}}>{{#i18n}}Aufnahme löschen{{/i18n}}</button>
                <button class="button cw-audio-gallery-record-button-start">{{#i18n}}Aufnahme starten{{/i18n}}</button>
                <button class="button cw-audio-gallery-record-button-restart">{{#i18n}}Aufnahme wiederholen{{/i18n}}</button>
                <button class="button cw-audio-gallery-record-button-enable">{{#i18n}}Aufnahme aktivieren{{/i18n}}</button>
                <button class="button cw-audio-gallery-record-button-store">{{#i18n}}Aufnahme speichern{{/i18n}}</button>
                
                <button class="button cw-audio-gallery-recording-info">
                    {{#i18n}}Aufnahme läuft{{/i18n}}:
                    <span class="cw-audio-gallery-recording-timer"></span>
                </button>
                <button class="button cw-audio-gallery-record-button-stop">{{#i18n}}Aufnahme beenden{{/i18n}}</button>
                <p class="cw-audio-gallery-record-usermedia-info">{{#i18n}}Geben Sie das Mikrofon frei um eine Aufnahme zu ermöglichen{{/i18n}}.</p>
                <p class="cw-audio-gallery-record-browser-info">{{#i18n}}Bitte verwenden Sie den Firefox oder Chrome Browser um eine Audiodatei aufzunehmen{{/i18n}}.</p>
            </div>
        </div>
        {{/user_record}}
        {{#audio_records}}
        <div class="cw-audio-gallery-content-slide">
            <div class="cw-audio-gallery-content-slide-control">
                <img src="{{user_avatar}}">
                <audio class="cw-audio-gallery-player" controls>
                    <source  src="{{file_url}}">
                </audio>
                {{#isTeacher}}
                <button class="button cw-audio-gallery-record-button-delete" data-uid={{user_id}}>{{#i18n}}Aufnahme löschen{{/i18n}}</button>
                {{/isTeacher}}
            </div>
        </div>
        {{/audio_records}}
    </div>
    <div class="cw-audio-gallery-carousel-nav">
        {{#user_record}}
        <div class="cw-audio-gallery-nav-slide">
            <img src="{{user_avatar}}">
            <p>{{user_name}}
                {{#file_url}}<br><span>{{audio_length}}</span>{{/file_url}}
            </p>
        </div>
        {{/user_record}}
        {{#audio_records}}
        <div class="cw-audio-gallery-nav-slide">
            <img src="{{user_avatar}}">
            <p>{{user_name}}
                <br><span>{{audio_length}}</span>
            </p>
        </div>
        {{/audio_records}}
    </div>

{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
