<input type="hidden" class="cw-chart-stored-type" value="{{chart_type}}">
<input type="hidden" class="cw-chart-stored-content" value="{{chart_content}}">

<canvas id="myChart" class="cw-chartblock-canvas"></canvas>
