<input type="hidden" class="cw-scrolly-stored-block-style" value="{{scrolly_block_style}}">
<ul>
{{#blocks}}
    <li class="cw-scrolly-blocks" data-blockid="{{blockid}}">
        <fieldset>
            <legend>{{blockname}} (Id: {{blockid}})</legend>
            <label for="cw-scrolly-block-style">{{#i18n}}Layout{{/i18n}}:</label>
            <select data-blockid="{{blockid}}" name="cw-scrolly-block-style" class="cw-scrolly-block-style">
                <option value="default">{{#i18n}}Standard{{/i18n}}</option>
                <option value="full">{{#i18n}}volle Breite{{/i18n}}</option>
                <option value="big">{{#i18n}}groß{{/i18n}}</option>
                <option value="medium">{{#i18n}}mittel{{/i18n}}</option>
                <option value="left-small">{{#i18n}}links klein{{/i18n}}</option>
                <option value="left-medium">{{#i18n}}links mittel{{/i18n}}</option>
                <option value="left-big">{{#i18n}}links groß{{/i18n}}</option>
                <option value="right-small">{{#i18n}}rechts klein{{/i18n}}</option>
                <option value="right-medium">{{#i18n}}rechts mittel{{/i18n}}</option>
                <option value="right-big">{{#i18n}}rechts groß{{/i18n}}</option>
            </select>
            <br>
            <label class="cw-scrolly-big-letter-label" for="cw-scrolly-big-letter" data-blocktype="{{blocktype}}">{{#i18n}}Anfangsbuchstabe groß{{/i18n}}:</label>
            <input data-blockid="{{blockid}}" data-blocktype="{{blocktype}}" type="checkbox" name="cw-scrolly-big-letter" class="cw-scrolly-big-letter">
        </fieldset>
        
    </li>
{{/blocks}}
</ul>
<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
