{{^inactive}}
    {{^empty}}
        <div class="code-content content">
            <pre><code class="{{code_lang}}">{{code_content}}</code></pre><div class="code-lang"><span>{{code_lang}}</span></div>
        </div>
    {{/empty}}
    {{#empty}}
        {{#isAuthor}}
            <div class="messagebox messagebox_error">
                {{#i18n}}Es wurde noch kein Quellcode eingetragen.{{/i18n}}
            </div>
        {{/isAuthor}}
    {{/empty}}
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
