<label for="cw-pdf-title">{{#i18n}}Title{{/i18n}}:</label>
<input type="text" name="cw-pdf-title" class="cw-pdf-set-title" value="{{pdf_title}}" spellcheck="true">
<br>

<label for="cw-pdf-file">{{#i18n}}Datei aus dem Dateibereich{{/i18n}}:</label>
<input type="hidden" class="cw-pdf-file-stored" value="{{pdf_file}}">
<select class="cw-pdf-set-file" name="cw-pdf-file">
    {{#pdf_files}}
        <option value="../../sendfile.php?type={{#url}}6{{/url}}{{^url}}0{{/url}}&file_id={{dokument_id}}&file_name={{filename}}" document_id="{{dokument_id}}" filename="{{filename}}">{{name}}</option>
    {{/pdf_files}}
</select>
<br>

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
