<label for="cw-pdf-title">{{#i18n}}Titel{{/i18n}}:</label>
<input type="text" name="cw-pdf-title" class="cw-pdf-set-title" value="{{pdf_title}}" spellcheck="true">
<br>

<label for="cw-pdf-file">{{#i18n}}Datei aus dem Dateibereich{{/i18n}}:</label>
<input type="hidden" class="cw-pdf-file-id-stored" value="{{pdf_file_id}}">
<select class="cw-pdf-set-file" name="cw-pdf-file" {{#no_pdf_files}}disabled{{/no_pdf_files}}>
    {{^no_pdf_files}}
        <optgroup label="{{#i18n}}Dateien dieser Veranstaltung{{/i18n}}">
            {{#course_pdf_files}}
                <option file_id="{{id}}" file_name="{{name}}">{{name}}</option>
            {{/course_pdf_files}}
            {{^course_pdf_files}}
                <option value="">{{#i18n}}keine PDF-Datei verfügbar{{/i18n}}</option>
            {{/course_pdf_files}}
        </optgroup>
        <optgroup label="Dateien im eigenen Dateibereich">
            {{#user_pdf_files}}
                <option file_id="{{id}}" file_name="{{name}}">{{name}}</option>
            {{/user_pdf_files}}
            {{^user_pdf_files}}
                <option value="">{{#i18n}}keine PDF-Datei verfügbar{{/i18n}}</option>
            {{/user_pdf_files}}
        </optgroup>
        {{#other_user_file}}
            <optgroup label="Datei im Dateibereich eines anderen Nutzers">
                <option file_id="{{id}}" file_name="{{name}}">{{name}}</option>
            </optgroup>
        {{/other_user_file}}
    {{/no_pdf_files}}
    {{#no_pdf_files}}
        <option value="" selected>{{#i18n}}keine PDF-Datei verfügbar{{/i18n}}</option>
    {{/no_pdf_files}}
</select>
<button class="cw-pdf-file-select-info cw-info" data-title="{{#i18n}}Hier werden alle PDF-Dateien aus dem Dateibereich aufgelistet.{{/i18n}}"></button>
<br>

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
