<label for="title">
  {{#i18n}}Was sollen die Lernenden bestätigen?{{/i18n}}
</label>
<input type="text" name="title" value="{{title}}">
<div class="cw-button-box">
    <button name="save"   class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class=button>{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
