<label class="confirmation">
  <input name=confirmed type=checkbox {{#confirmed}}checked disabled{{/confirmed}}>
  <span class="title">{{title}}</span>
</label>

{{#confirmed}}
<div class="messagebox messagebox_success">
    {{#i18n}}Danke! Sie können nun mit dem nächsten Abschnitt fortfahren.{{/i18n}}
</div>
{{/confirmed}}
