{{^inactive}}
    <div class="cw-confirm-wrapper">
        {{#confirmed}}
            <div class="messagebox messagebox_success cw-confirm-messagebox">
                {{#i18n}}Danke! Sie können nun mit dem nächsten Abschnitt fortfahren.{{/i18n}}
            </div>
        {{/confirmed}}
        <div class="cw-confirm-content">
            <input class="cw-confirm-checkbox" name=confirmed type=checkbox {{#confirmed}}checked disabled{{/confirmed}}>
            <p class="confirm-title">{{title}}</p>
        </div>
    </div>
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschlossen haben.{{/i18n}}
    </div>
{{/inactive}}
