{{^inactive}}
    {{#active}}
      <h2>Evaluationen</h2>
      <article class="mooc_evaluations">
      {{^content}}
        {{#i18n}}Es wurde bisher keine Evaluation erstellt!{{/i18n}}
        {{/content}}
        {{#content}}
          <section>
            <h3>{{title}}</h3>
            <p>{{{description}}}</p>
            <a href="{{link}}" class="button" data-dialog target="_blank">{{#i18n}}Anzeigen{{/i18n}}</a>
          </section>
      {{/content}}
      </article>
    {{/active}}
    {{^active}}
      {{> _evaluation_deactivated}}
    {{/active}}
{{/inactive}}
{{#inactive}}
    <div class="messagebox messagebox_info">
        {{#i18n}}Dieser Block steht Ihnen erst zur Verfügung, sobald Sie die vorhergehenden Abschnitte erfolgreich abgeschloßen haben.{{/i18n}}
    </div>
{{/inactive}}
