<input type="hidden" class="cw-demo-stored-content" value="">

<label for="cw-beforeafter-slider-img-before">{{#i18n}}Bild vorher{{/i18n}}:</label>
<input type="text" name="cw-beforeafter-slider-img-before" class="cw-beforeafter-slider-img-before" value="{{beforeafter_img_before}}">
<br>
<label for="cw-beforeafter-slider-img-after">{{#i18n}}Bild nachher{{/i18n}}:</label>
<input type="text" name="cw-beforeafter-slider-img-after" class="cw-beforeafter-slider-img-after" value="{{beforeafter_img_after}}">

<div class="cw-button-box">
    <button name="save" class="button">{{#i18n}}Speichern{{/i18n}}</button>
    <button name="cancel" class="button">{{#i18n}}Abbrechen{{/i18n}}</button>
</div>
