<dl>
  <dt>{{#i18n}}Vorher{{/i18n}}</dt>
  <dd>
    <img src="{{{beforeafter_img_before}}}" alt="">
  </dd>

  <dt>{{#i18n}}Nachher{{/i18n}}</dt>
  <dd>
    <img src="{{{beforeafter_img_after}}}" alt="">
  </dd>
</dl>
