<!--
<div class="cocoen">
  <img src="https://wallpapershome.com/images/wallpapers/meteorites-1920x1200-stars-planet-4k-15556.jpg" alt="">
  <img src="https://wallpapershome.com/images/wallpapers/space-1920x1200-galaxy-planet-4k-17039.jpg" alt="">
</div>
-->

<!--
<div class="cw-beforeafter-slider">
  <img src="http://egegorgulu.com/assets/img/beforeafter/after.jpg" alt="">       
  <div class="resize">
    <img src="http://egegorgulu.com/assets/img/beforeafter/before.jpg" alt="">
  </div>
  <span class="handle"></span>
</div>
-->

<div class="cw-beforeafter-slider">
  <img src="{{beforeafter_img_after}}" alt="">       
  <div class="resize">
    <img src="{{beforeafter_img_before}}" alt="">
  </div>
  <span class="handle"></span>
</div>
