<div class="cw-beforeafter-slider">
  <img src="{{beforeafter_img_after}}" alt="">       
  <div class="resize">
    <img src="{{beforeafter_img_before}}" alt="">
  </div>
  <span class="handle"></span>
</div>
