@import '../../../assets/less/variables';
@import '../../../assets/less/mixins';

textarea.cw-typewriter-content {
    width: 96%;
    height: 12em;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    vertical-align: baseline;
    margin-left: 1em;
}

.cw-sidebar {
    textarea.cw-typewriter-content {
        width: 98%;
    }
}
