@import '../../../assets/less/variables';
@import '../../../assets/less/mixins';

textarea.cw-typewriter-content {
    width: 42em;
    height: 12em;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    vertical-align: baseline;
}
